<template>
    <div>
        <Nav />
        <div class="container">
            <!---- Navbar -->
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div
                                    class="col-lg-6 d-none d-lg-block bg-login-image"
                                ></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">
                                                Selamat Datang!
                                            </h1>
                                        </div>
                                        <form
                                            class="user"
                                            @submit.prevent="login"
                                        >
                                            <div class="form-group">
                                                <input
                                                    type="text"
                                                    class="form-control form-control-user"
                                                    id="exampleInputUsername"
                                                    placeholder="Username"
                                                    v-model="username"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <input
                                                    type="password"
                                                    class="form-control form-control-user"
                                                    id="exampleInputPassword"
                                                    placeholder="Password"
                                                    v-model="password"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <div
                                                    class="custom-control custom-checkbox small"
                                                >
                                                    <input
                                                        type="checkbox"
                                                        class="custom-control-input"
                                                        id="customCheck"
                                                    />
                                                    <label
                                                        class="custom-control-label"
                                                        for="customCheck"
                                                        >Ingat saya</label
                                                    >
                                                </div>
                                            </div>
                                            <button
                                                type="submit"
                                                class="btn btn-primary btn-user btn-block"
                                            >
                                                Login
                                            </button>
                                        </form>
                                        <!-- Bagian lain dari form tetap tidak berubah -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Nav from "../../components/Nav";
import * as notify from "../../utils/notify.js";
import Swal from 'sweetalert2';

export default {
    name: "Login",
    components: {
        Nav,
    },
    data() {
        return {
            username: "", // Mengganti properti email menjadi username
            password: "",
            verificationStatus: this.$route.query.verification_status
                ? true
                : false,
            verificationMessage: "",
            verificationAlertClasses: {
                "alert-success": false,
                "alert-danger": false,
            },
        };
    },
    created: function () {
        if (this.$route.query.verification_status === "success") {
            this.verificationMessage =
                "Your account has been verified. Please log in.";
            this.verificationAlertClasses["alert-success"] = true;
        } else if (this.$route.query.verification_status === "error") {
            this.verificationMessage = "Your account could not be verified.";
            this.verificationAlertClasses["alert-danger"] = true;
        }
    },
    methods: {
        async login() {
            try {
                Swal.showLoading();
                const response = await axios.post("login", {
                    user_name: this.username, // Menggunakan username sebagai payload
                    password: this.password,
                });

                localStorage.setItem("token", response.data.token);
                this.$store.dispatch("user", response.data.user);
                this.$router.push("/admin");
                Swal.fire({
                    icon: 'success',
                    title: 'Login Berhasil',
                    text: 'Anda berhasil login',
                });
                Swal.hideLoading()
            } catch (error) {
                notify.authError(error);
            }
        },
    },
};
</script>

<style></style>
