<template>
  <Bar
    :chart-options="chartOptions"
    :chart-data="chartData"
    :dataset="dataset"
    :data="data"
    width="600"
  />
</template>

<script>
import { Bar } from 'vue-chartjs/legacy'

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, CategoryScale, BarElement, LinearScale)

export default {
  name: 'BarChart',
  components: {
    Bar
  },
  props: ['data','dataset'],
  setup(props) {
    // setup() receives props as the first argument.
    console.log(props.data)
  },
  computed : {
    chartData(){
      return {
        labels: this.data.labels,
        datasets: [
          {
            label: 'Jumlah Paket',
            backgroundColor: '#36b9cc',
            data: this.dataset
          }
        ]
      }
    },
    chartOptions(){
      return {
        responsive: true,
        maintainAspectRatio: false,
        indexAxis: 'y'
      }
    }
  }
}
</script>
