<template>
  <div>
    <canvas ref="chart"></canvas>
  </div>
</template>

<script>
import { Chart } from 'chart.js';

export default {
  props: ['chartData', 'chartOptions', 'chartType'],
  mounted() {
    this.renderChart();
  },
  methods: {
    renderChart() {
      new Chart(this.$refs.chart, {
        type: this.chartType,
        data: this.chartData,
        options: this.chartOptions
      });
    }
  },
  watch: {
  chartData: {
    handler: function(newData) {
      this.renderChart();
    },
    deep: true
  }
}
}
</script>
