<template>
  <Doughnut
    :chart-options="chartOptions"
    :chart-data="chartData"
    :dataset="dataset"
    :data="data"
  />
</template>

<script>
import { Doughnut } from 'vue-chartjs'

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)

export default {
  name: 'DoughnutChart',
  components: {
    Doughnut
  },
  props: ['data','dataset'],
  setup(props) {
    // setup() receives props as the first argument.
    // console.log(props.data)
  },
  methods: {
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
  },
  computed : {
    chartData(){
      /* return {
        chartDatalabels: ['Komitmen PDN Terlaksana'],
        datasets: [
          {
            backgroundColor: ['#28a745', '#CECECE', 'rgba(255,87,93,.77)'],
            data: this.dataset
          }
        ]
      } */
      // this.newdata.datasets.data = this.dataset
      return {
        labels: this.data.labels,
        datasets: [
          {
            backgroundColor: this.data.datasets[0].backgroundColor,
            data: this.dataset
          }
        ]
      }
    },
    chartOptions(){
      return {
        responsive: true,
        maintainAspectRatio: false,
        /* plugins: {
          legend: {
            labels: {
              generateLabels: (chart) => {
                const datasets = chart.data.datasets;
                return datasets[0].data.map((data, i) => ({
                  text: `${chart.data.labels[i]} : Rp ${this.formatPrice(data)}`,
                  fillStyle: datasets[0].backgroundColor[i],
                  index: i
                }))
              }
            }
          }
        } */
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var dataset = data.datasets[tooltipItem.datasetIndex];
              var meta = dataset._meta[Object.keys(dataset._meta)[0]];
              var total = meta.total;
              var currentValue = dataset.data[tooltipItem.index];
              var percentage = parseFloat((currentValue/total*100).toFixed(1));
              return currentValue + ' (' + percentage + '%)';
            },
            title: function(tooltipItem, data) {
              return data.labels[tooltipItem[0].index];
            }
          }
        },
      }
    }
  }
}
</script>
