<template>
  <Doughnut
    :chart-options="chartOptions"
    :chart-data="chartData"
    :dataset="dataset"
    :data="data"
  />
</template>

<script>
import { Doughnut } from 'vue-chartjs'

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)

export default {
  name: 'DoughnutProgressChart',
  components: {
    Doughnut
  },
  props: ['data','dataset'],
  setup(props) {
    // setup() receives props as the first argument.
    // console.log(props.data)
  },
  methods: {
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
  },
  computed : {
    chartData(){
      /* return {
        chartDatalabels: ['Komitmen PDN Terlaksana'],
        datasets: [
          {
            backgroundColor: ['#28a745', '#CECECE', 'rgba(255,87,93,.77)'],
            data: this.dataset
          }
        ]
      } */
      // this.newdata.datasets.data = this.dataset
      return {
        labels: this.data.labels,
        datasets: [
          {
            backgroundColor: this.data.datasets[0].backgroundColor,
            data: this.dataset
          }
        ]
      }
    },
    chartOptions(){
      return {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          tooltip: {
            enabled: true 
            // <-- this option disables tooltips
          }
        }
      }
    },
  }
}
</script>
