<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      :line-numbers="true"
      :totalRows="totalRecords"
      :pagination-options="{
      enabled: true
      }"
      :search-options="{
        enabled: true,
        placeholder: 'Cari Nama Perangkat Daerah',
      }"
      :select-options="{ enabled: true }"
      compactMode>
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'nama_unit'">
        </span>
        <span v-if="props.column.field == 'pagu'">
          Rp.{{ formatPrice(props.row.pagu) }}
        </span>
        <span v-else-if="props.column.field == 'realisasi'">
          Rp.{{ formatPrice(props.row.realisasi) }} <br>
        </span>
        <span v-else-if="props.column.field == 'pengadaan'">
          <div v-if="(props.row.realisasi/props.row.pagu)*100 > 90" class="badge badge-success">
                      <h6><small>{{ parseFloat((props.row.realisasi/props.row.pagu)*100).toFixed(2)}}%</small></h6>
          </div>
          <div v-if="(props.row.realisasi/props.row.pagu)*100 < 90" class="badge badge-danger">
            <h6><small>{{ parseFloat((props.row.realisasi/props.row.pagu)*100).toFixed(2)}}%</small></h6>
          </div><br>
          Rp.{{ formatPrice(props.row.pengadaan) }} <br>
        </span>
        <span v-else-if="props.column.field == 'realisasi_pdn'">
          <div v-if="(props.row.realisasi_pdn/props.row.pengadaan)*100 > 95" class="badge badge-success">
                      <h6><small>{{ parseFloat((props.row.realisasi_pdn/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div>
          <div v-if="(props.row.realisasi_pdn/props.row.pengadaan)*100 < 95" class="badge badge-danger">
            <h6><small>{{ parseFloat((props.row.realisasi_pdn/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div><br>
          Rp.{{ formatPrice(props.row.realisasi_pdn) }} <br>
        </span>
        <span v-else-if="props.column.field == 'realisasi_umk'">
          <div v-if="(props.row.realisasi_umk/props.row.pengadaan)*100 > 40" class="badge badge-success">
                      <h6><small>{{ parseFloat((props.row.realisasi_umk/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div>
          <div v-if="(props.row.realisasi_umk/props.row.pengadaan)*100 < 40" class="badge badge-danger">
            <h6><small>{{ parseFloat((props.row.realisasi_umk/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div><br>
          Rp.{{ formatPrice(props.row.realisasi_umk) }} <br>
        </span>
        <span v-else-if="props.column.field == 'realisasi_epurchasing'">
          <div v-if="(props.row.realisasi_epurchasing/props.row.pengadaan)*100 > 30" class="badge badge-success">
                      <h6><small>{{ parseFloat((props.row.realisasi_epurchasing/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div>
          <div v-if="(props.row.realisasi_epurchasing/props.row.pengadaan)*100 < 30" class="badge badge-danger">
            <h6><small>{{ parseFloat((props.row.realisasi_epurchasing/props.row.pengadaan)*100).toFixed(2)}}%</small></h6>
          </div><br>
          Rp.{{ formatPrice(props.row.realisasi_epurchasing) }} <br>
        </span>
        <span v-else>
          {{props.formattedRow[props.column.field]}}
        </span>
      
        <!-- <span v-if="props.column.field == 'aksi'">
          <button class="btn btn-primary" @click="showPreviewModal(item)">Detail</button>
        </span> -->
        <!-- Preview Modal -->
    <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel" slot="table-row">

            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      </template>
    </vue-good-table>
  </div>
</template>

<style>
  table.vgt-table{font-size:14px !important}
</style>

<script>
import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';
import ProgressBar from './ProgressBar.vue';

export default {
  name: 'GoodTable',
  components: { VueGoodTable, ProgressBar },
  props: {
    columns: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
  },
  methods: {
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    showPreviewModal(item) {
      this.selectedItem = item;
      $("#previewModal").modal("show");
    },
    onRowClick(row) {
      console.log('Clicked row:', row);
      // Handle row click event here
    },
  }
  /* data(){
    return {
      columns: [
        {
          label: 'Name',
          field: 'name',
        },
        {
          label: 'Age',
          field: 'age',
          type: 'number',
        },
        {
          label: 'Created On',
          field: 'createdAt',
          type: 'date',
          dateInputFormat: 'yyyy-MM-dd',
          dateOutputFormat: 'MMM do yy',
        },
        {
          label: 'Percent',
          field: 'score',
          type: 'percentage',
        },
      ],
      rows: [
        { id:1, name:"John", age: 20, createdAt: '',score: 0.03343 },
        { id:2, name:"Jane", age: 24, createdAt: '2011-10-31', score: 0.03343 },
        { id:3, name:"Susan", age: 16, createdAt: '2011-10-30', score: 0.03343 },
        { id:4, name:"Chris", age: 55, createdAt: '2011-10-11', score: 0.03343 },
        { id:5, name:"Dan", age: 40, createdAt: '2011-10-21', score: 0.03343 },
        { id:6, name:"John", age: 20, createdAt: '2011-10-31', score: 0.03343 },
      ],
    };
  }, */
};
</script>