<template>
  <div class="progress">
    <div class="progress-bar " :class="variantClass" role="progressbar" :style="{ width: progress + '%' }" :label="label" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">
      <span v-if="label == ''">
        {{ progress }}%
      </span>
      <span v-else>
        {{ label }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProgressBar",
  props: {
    progress: {
      type: Number,
      required: true
    },
    variant: {
      type: String,
      default: 'primary' // Default variant adalah primary
    },
    label: {
      type: String,
      default: '' // Default variant adalah primary
    }
  },
  computed: {
    variantClass() {
      // Menentukan kelas berdasarkan nilai properti variant

      if(this.progress > 60){
        return 'bg-success';
      } else if ( this.progress >= 20 && this.progress <= 60){
        return 'bg-warning';
      } else {
        return 'bg-primary'
      }
      
    }
  }
};
</script>

<style scoped>
/* Sesuaikan gaya progress bar sesuai keinginan Anda */
.progress {
  height: 25px;
  margin-bottom:5px;
}

.progress-bar {
  text-align: center;
  line-height: 20px; /* Sesuaikan dengan tinggi progress bar */
  color: white;
}
</style>
