<template>
    <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
    >
        <!-- Sidebar - Brand -->
        <router-link
            class="sidebar-brand d-flex align-items-center justify-content-center"
            to="/"
        >
            <div>
                <img
                    src="/img/kawanilogo.png"
                    alt="Logo"
                    style="width: 30px; height: auto"
                />
            </div>
            <div class="sidebar-brand-text mx-3">KAWANI</div>
        </router-link>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <router-link class="nav-link" to="/admin">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dashboard Analisis</span></router-link
            >
        </li>

        <!-- Nav Item - Monitoring APIP -->
        <li class="nav-item">
            <router-link class="nav-link" to="/admin/monitoring">
                <i class="fas fa-fw fa-tv"></i>
                <span>Pengawasan APIP</span></router-link
            >
        </li>

        <!-- Nav Item - Pengawasan Import -->
        <li class="nav-item">
            <router-link class="nav-link" to="/admin/pages/page-not-found">
                <i class="fas fa-fw fa-file-import"></i>
                <span>Pengawasan Import</span></router-link
            >
        </li>

        <!-- Nav Item - P3DN Menu -->
        <li class="nav-item">
            <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapsePages"
                aria-expanded="true"
                aria-controls="collapsePages"
            >
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Tim P3DN</span>
            </a>
            <div
                id="collapsePages"
                class="collapse"
                aria-labelledby="headingPages"
                data-parent="#accordionSidebar"
            >
                <div class="bg-white py-2 collapse-inner rounded">
                    <router-link
                        class="collapse-item"
                        to="/admin/pages/page-not-found"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Score ITKP</span></router-link
                    >
                    <router-link
                        class="collapse-item"
                        to="/admin/pages/page-not-found"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Sertifikasi TKDN</span></router-link
                    >
                    <!--<router-link
                        class="collapse-item"
                        to="/admin/pages/page-not-found"
                    >
                     <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Pencatatan PDN</span></router-link
                    >-->
                    <router-link
                        class="collapse-item"
                        to="/admin/kepatuhan"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Kepatuhan P3DN APIK</span></router-link
                    >
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
    </ul>
    <!-- End of Sidebar -->
</template>

<script>
export default {
    name: "Sidebar",
};
</script>
