<template>
    <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
    >
        <!-- Sidebar - Brand -->
        <router-link
            class="sidebar-brand d-flex align-items-center justify-content-center"
            to="/"
        >
            <div>
                <img
                    src="/img/kawanilogo.png"
                    alt="Logo"
                    style="width: 30px; height: auto"
                />
            </div>
            <div class="sidebar-brand-text mx-3">KAWANI</div>
        </router-link>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <router-link class="nav-link" to="/admin">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dashboard Analisis</span></router-link
            >
        </li>

        <!-- Nav Item - Monitoring APIP -->
        <li class="nav-item" v-if="userRole === 'pokja'">
            <router-link class="nav-link" to="/admin/monitoring">
                <i class="fas fa-fw fa-search"></i>
                <span>Pengawasan APIP</span></router-link
            >
        </li>

        <!-- Nav Item - Pengawasan Import -->
        <li class="nav-item" v-if="userRole === 'pokja'">
            <router-link class="nav-link" to="/admin/monimport">
                <i class="fas fa-fw fa-tv"></i>
                <span>Pengawasan Import</span></router-link
            >
        </li>

        <!-- Nav Item - Input TKDN -->
        <li class="nav-item" v-if="userRole !== 'pokja'">
            <router-link class="nav-link" to="/admin/inputtkdn">
                <i class="fas fa-fw fa-file-import"></i>
                <span>Input TKDN</span>
            </router-link>
        </li>
        <li class="nav-item" v-if="userRole !== 'pokja'">
            <router-link class="nav-link" to="/admin/inputimpor">
                <i class="fas fa-fw fa-file-import"></i>
                <span>Input Impor</span>
            </router-link>
        </li>

        <!-- Nav Item - P3DN Menu -->
        <li class="nav-item" v-if="userRole === 'pokja'">
            <a
                class="nav-link collapsed"
                href="#"
                data-toggle="collapse"
                data-target="#collapsePages"
                aria-expanded="true"
                aria-controls="collapsePages"
            >
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Tim P3DN</span>
            </a>
            <div
                id="collapsePages"
                class="collapse"
                aria-labelledby="headingPages"
                data-parent="#accordionSidebar"
            >
                <div class="bg-white py-2 collapse-inner rounded">
                    <router-link
                        class="collapse-item"
                        to="/admin/mon-itkp"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Score ITKP</span></router-link
                    >
                    <router-link
                        class="collapse-item"
                        to="/admin/sertifikasi"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Sertifikasi TKDN</span></router-link
                    >
                    <router-link
                        class="collapse-item"
                        to="/admin/kepatuhan"
                    >
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>Kepatuhan P3DN APIK</span></router-link
                    >
                </div>
            </div>
        </li>

        <!-- Nav Item - Manajemen Pengguna 
        <li class="nav-item" v-if="userRole === 'pokja'">
            <router-link class="nav-link" to="/admin/components/buttons">
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Pengaturan Users</span></router-link
            >
        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
        <li class="nav-item" v-if="userRole === 'pokja'">
            <router-link class="nav-link" to="/admin/man-user">
                <i class="fas fa-user-cog"></i>
                <span>Management User</span>
            </router-link>
        </li>
    </ul>
    <!-- End of Sidebar -->
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
        userRole: '' // Inisialisasi userRole
    };
  },

  mounted() {
    // Panggil metode untuk mengambil data role dari tabel user saat komponen dimuat
    this.getUserRole();
  },
    
  methods: {
    getUserRole() {
        // Ambil data role dari Vuex state
        const userData = this.$store.state.user;
        
            // Periksa apakah userData dan role tersedia
            if (userData && userData.role) {
            this.userRole = userData.role;
            } else {
            this.userRole = null; // Atur nilai default jika tidak ada data yang tersedia
            }

        // Log nilai userRole untuk memeriksa
        console.log('userRole:', this.userRole);
        }
    }
};
</script>