<template>
  <div>
    <b-card>
      <div id="chart">
        <apexchart type="bar" height="850" :options="chartOptions" :series="series" @click="clickHandler"></apexchart>
      </div>
    </b-card>
    <br><br>
    <div class="row justify-content-center">
      <div class="col-12">
          <b-card>
  <b-table responsive striped hover :items="itemsPerpaket" caption-top>
    <template #table-caption>Rekap Per Paket</template>
  </b-table>
</b-card>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import axios from 'axios'

export default {
  components: {
    VueApexCharts
  },
  data() {
    return {
      namaSatker: '',
      jenisPaket: '',
      itemsPerpaket: [],
      dataProyekStrategis: [],
      dataTerealisasi: [],
      dataBelumTerealisasi: [],
      dataSatker: [],
      series: [{
        name: 'Marine Sprite',
        data: [44, 55, 41]
      }, {
        name: 'Striking Calf',
        data: [53, 32, 33]
      }, {
        name: 'Tank Picture',
        data: [12, 17, 11]
      }, {
        name: 'Bucket Slope',
        data: [9, 7, 5]
      }, {
        name: 'Reborn Kid',
        data: [25, 12, 19]
      }],
      chartOptions: {
        // responsive: [
        //   {
        //     breakpoint: 1000,
        //     options: {
        //       plotOptions: {
        //         bar: {
        //           horizontal: false
        //         }
        //       },
        //       legend: {
        //         position: "bottom"
        //       }
        //     }
        //   }
        // ],
        colors: ['#bf00ff', '#66DA26', '#ffa500', '#E91E63', '#FF9800'],
        noData: {
          text: 'Loading...'
        },
        chart: {
          type: 'bar',
          height: 250,
          stacked: true,
        },
        plotOptions: {
          bar: {
            horizontal: true,
          },
        },
        stroke: {
          width: 1,
          colors: ['#fff']
        },
        title: {
          text: 'Realisasi Paket Pekerjaan Per Dinas Tahun 2023',
          align: 'center'
        },
        xaxis: {
          categories: [2008, 2009, 2010, 2011, 2012, 2013, 2014],
          title: {
            text: 'Jumlah Paket',
          },
          labels: {
            formatter: function (val) {
              return val
            }
          },
          position: 'bottom',
        },
        yaxis: {
          title: {
            text: 'Perangkat Daerah',
          },
          labels: {
            show: true,
            align: 'right',
            minWidth: 0,
            maxWidth: 250,
            style: {
              colors: [],
              fontSize: '12px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 400,
              cssClass: 'apexcharts-yaxis-label',
            },
            offsetX: 0,
                  offsetY: 0,
                  rotate: 0,
              },
            },
            grid: {
              padding: {
                left: 50
              }
            },

            tooltip: {
              y: {
                formatter: function (val) {
                  return val + " Paket"
                }
              }
            },
            fill: {
              opacity: 1
            },
            legend: {
              position: 'top',
              horizontalAlign: 'center',
              offsetX: 40
            }
      },
    }
  },
  created() {
    this.getDataChart();
  },
  methods: {
    clickHandler(e, chartContext, config) {
      // untuk catatan
      // console.log(config.config.series[config.seriesIndex].name) // nama legend
      // console.log(config.config.series[config.seriesIndex].data[config.dataPointIndex]) // data di bar
      // console.log(config.dataPointIndex) //index
      // console.log(config.config.xaxis.categories[config.dataPointIndex]) // nama skpd
      this.namaSatker = config.config.xaxis.categories[config.dataPointIndex]
      this.jenisPaket = config.config.series[config.seriesIndex].name
      this.getDataPerPaket(this.namaSatker, this.jenisPaket);
    },
    async getDataPerPaket (satker, jenispaket) {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin' : '*',
            'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
          },
          url: `./api/dashboard-perpaket?namasatker=` + satker + '&&jenispaket=' + jenispaket + '&&status=nontender',
        });
        this.itemsPerpaket = response.data;
      } catch (error) {

      }
    },

    numberWithCommas (x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },

    async getDataChart () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin' : '*',
            'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
          },
          url: `./api/dashboard-chart-nontender`,
        });

        const ps = []
        const terealisasi = []
        const belumTerealisasi = []
        const terlambat = []
        const category = []

        for (let index = 0; index < response.data.length; index++) {
        // this.chartOptions.xaxis.categories = response.data.namasatker
          ps.push(response.data[index].paket_strategis)
          terealisasi.push(response.data[index].terealisasi)
          belumTerealisasi.push(response.data[index].belum_terealisasi)
          terlambat.push(response.data[index].terlambat)
          category.push(response.data[index].namasatker)

        }

        this.dataProyekStrategis = ps
        this.dataTerealisasi = terealisasi
        this.dataBelumTerealisasi = belumTerealisasi
        this.dataTerlambat = terlambat
        this.dataSatker = category

        this.series = [
          {
            name: 'Proyek Strategis',
            data: this.dataProyekStrategis,
          },
          {
            name: 'Terealisasi',
            data: this.dataTerealisasi,
          },
          {
            name: 'Belum Terealisasi',
            data: this.dataBelumTerealisasi,
          },
          {
            name: 'Terlambat',
            data: this.dataTerlambat,
          }];

        this.chartOptions =
          {
            xaxis: {
              categories: this.dataSatker
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + " Paket"
                }
              }
            }
          }

      } catch (error) {

      }
    },
  },
}
</script>
