<template>
  <div>
    <b-card>
      <div id="chart">
        <apexchart width="380" type="donut" :options="options" :series="series" />
      </div>
    </b-card>
    <br>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import axios from 'axios'

export default {
  components: {
    VueApexCharts
  },
  data () {
    return {
      namaSatker: '',
      jenisPaket: '',
      items: [],
      dataProyekStrategis: [],
      dataTerealisasi: [],
      dataBelumTerealisasi: [],
      dataSatker: [],
      options: {},
      series: [44, 55, 41, 17, 15],
      pdn: [],
      nonPDN: []
    }
  },
  created () {
    this.getDataChart()
  },
  methods: {
    clickHandler (e, chartContext, config) {
      // untuk catatan
      // console.log(config.config.series[config.seriesIndex].name) // nama legend
      // console.log(config.config.series[config.seriesIndex].data[config.dataPointIndex]) // data di bar
      // console.log(config.dataPointIndex) //index
      // console.log(config.config.xaxis.categories[config.dataPointIndex]) // nama skpd
      this.namaSatker = config.config.xaxis.categories[config.dataPointIndex]
      this.jenisPaket = config.config.series[config.seriesIndex].name
      this.getDataPerPaket(this.namaSatker, this.jenisPaket)
    },
    async getDataPerPaket (satker, jenispaket) {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `./api/rekap-paket-pdn`
        })
        this.items = response.data
      } catch (error) {

      }
    },

    numberWithCommas (x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },

    async getDataChart () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `./api/dashboard-chart`
        })

        const nonPDN = []
        const pdn = []

        for (let index = 0; index < response.data.length; index++) {
        // this.chartOptions.xaxis.categories = response.data.namasatker
          pdn.push(response.data[index].nilai_pdn)
          nonPDN.push(response.data[index].nilai_non_pdn)
        }

        this.pdn = pdn
        this.nonPDN = nonPDN

        this.series = [response.data[0].nilai_pdn, response.data[0].nilai_non_pdn]
      } catch (error) {

      }
    }
  }
}
</script>
