<template>
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>
                Analytics Dashboard
              </div>
            </div>
            <div class="page-title-actions">
              <div class="d-inline-block dropdown">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                  <span class="btn-icon-wrapper pr-2 opacity-7">
                    <i class="fa fa-business-time fa-w-20" />
                  </span>
                  2023
                </button>
              </div>
            </div>
          </div>
        </div>           
         <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content bg-midnight-bloom">
              <div class="widget-content-wrapper text-dark">
                <div class="widget-content-left">
                  <div class="widget-heading">
                    Total Anggaran Penyedia
                  </div>
                  <div class="widget-subheading">
                    Rp. {{ formatPrice( total_perencanaan_penyedia ) }}
                  </div>
                </div>
                <div class="ml-5 widget-content-right">
                  <div class="widget-numbers text-dark">
                    <!-- <span>{{ formatPrice(paketPengadaan) }}</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content bg-midnight-bloom">
              <div class="widget-content-wrapper text-dark">
                <div class="widget-content-left">
                  <div class="widget-heading">
                    Realisasi Paket
                  </div>
                  <div class="widget-subheading text-black">
                    Rp. {{ formatPrice(total_pelaksanaan_penyedia) }}
                  </div>
                </div>
                <div class="ml-5 widget-content-right">
                  <div class="widget-numbers text-dark">
                    <div v-if="(realisasiPengadaanNilai/paguPengadaan)*100 > 60" class="badge badge-warning mr-1 ml-4 p-2">
                      <small>{{ parseFloat((total_pelaksanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                    </div>
                    <div v-if="(realisasiPengadaanNilai/paguPengadaan)*100 <= 60" class="badge badge-warning mr-1 ml-4 p-2">
                      <small>{{ parseFloat((total_pelaksanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content bg-grow-early">
              <div class="widget-content-wrapper text-dark">
                <!-- <div class="widget-content-left mr-5">
                        <div class="widget-heading">
                          Rencana PDN terhadap pagu
                        </div>
                        <div class="widget-subheading">
                          Rp. {{ formatPrice(rencanaPDN) }}
                        </div>
                </div> -->
                <div class="widget-content-left">
                  <div class="widget-heading">
                    Realisasi PDN
                  </div>
                  <div class="widget-subheading">
                    Rp. {{ formatPrice(total_pelaksanaan_pdn) }}
                  </div>
                </div>
                <div class="ml-5 widget-content-right">
                  <div class="widget-numbers text-dark">
                    <div v-if="(total_pelaksanaan_pdn/total_pelaksanaan_penyedia)*100 > 60" class="badge badge-warning mr-1 ml-0 p-2">
                      <small>{{ parseFloat((total_pelaksanaan_pdn/total_pelaksanaan_penyedia)*100).toFixed(2) }}%</small>
                    </div>
                    <div v-if="(total_pelaksanaan_pdn/total_pelaksanaan_penyedia)*100 <= 60" class="badge badge-warning mr-1 ml-0 p-2">
                      <small>{{ parseFloat((total_pelaksanaan_pdn/total_pelaksanaan_penyedia)*100).toFixed(2) }}%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content bg-grow-early">
              <div class="widget-content-wrapper text-dark">
                <!-- <div class="widget-content-left mr-5">
                        <div class="widget-heading">
                          Rencana TKDN
                        </div>
                        <div class="widget-subheading">
                          Rp. {{ formatPrice(rencanaTKDN) }}
                        </div>
                      </div> -->
                <div class="widget-content-left">
                  <div class="widget-heading">
                    Realisasi TKDN
                  </div>
                  <div class="widget-subheading">
                    Rp. {{ formatPrice(realisasiTKDN) }}
                  </div>
                </div>
                <div class="ml-5 widget-content-right">
                  <div class="widget-numbers text-dark">
                    <div v-if="(realisasiTKDN/rencanaTKDN)*100 > 60" class="badge badge-warning mr-1 ml-0 p-2">
                      <small>{{ parseFloat((realisasiTKDN/rencanaTKDN)*100).toFixed(2) }}%</small>
                    </div>
                    <div v-if="(realisasiTKDN/nilaiPDNPagu)*100 <= 60" class="badge badge-warning mr-1 ml-0 p-2">
                      <small>{{ parseFloat((realisasiTKDN/rencanaTKDN)*100).toFixed(2) }}%</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-apartment icon-gradient bg-love-kiss" />
                  Rencana Pengadaan Produk Dalam Negeri
                </div>
                <!-- <ul class="nav">
                        <li class="nav-item">
                          <a href="javascript:void(0);" class="active nav-link">Last</a>
                        </li>
                        <li class="nav-item">
                          <a href="javascript:void(0);" class="nav-link second-tab-toggle">Current</a>
                        </li>
                      </ul> -->
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div id="tabs-eg-77" class="tab-pane fade show active">
                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                      <apexchart width="480" height="500" type="donut" :options="chartOptions" :series="chartOptions.series" />
                    </div>
                    <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                      5 Perangkat Daerah dengan rencana PDN tertinggi
                    </h6>
                    <div class="scroll-area-sm">
                      <div class="scrollbar-container">
                        <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                          <li v-for="(data, index) in topSOPDPDN" :key="index" class="list-group-item">
                            <div class="widget-content p-0">
                              <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                  <div class="widget-heading">
                                    {{ index + 1 }}.{{ data.namasatker }}
                                  </div>
                                  <div class="widget-subheading">
                                    {{ data.paket_pdn }} Paket
                                  </div>
                                </div>
                                <div class="widget-content-right">
                                  <div class="font-size-xlg text-muted">
                                    <small class="opacity-5 pr-1">Rp</small>
                                    <span>{{ formatPrice(data.nilai_pdn) }}</span>
                                    <small class="text-danger pl-2">
                                      <i class="fa fa-angle-down" />
                                    </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-apartment icon-gradient bg-love-kiss" />
                  PDN Terlaksana
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div id="tabs-eg-77" class="tab-pane fade show active">
                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                      Rencana PDN = {{ formatPrice(total_perencanaan_pdn) }} &nbsp; &nbsp;
                      PDN Terlaksana = {{ formatPrice(total_pembayaran_pdn) }}
                      <apexchart width="480" height="500" type="radialBar" :options="chartOptionsPDN" :series="chartOptionsPDN.series" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure" />
                  Realisasi PDN Berdasarkan Metode Pengadaan
                </div>
                <div class="btn-actions-pane-right">
                  <!-- <div class="nav">
                          <a href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition active btn btn-outline-alternate">Tab 1</a>
                          <a href="javascript:void(0);" class="ml-1 btn-pill btn-wide border-0 btn-transition  btn btn-outline-alternate second-tab-toggle-alt">Tab 2</a>
                        </div> -->
                </div>
              </div>
              <div class="tab-content">
                <div id="tab-eg-55" class="tab-pane fade active show">
                  <div class="widget-chart p-3">
                    <div style="height: 350px">
                      <!-- <canvas id="line-chart" /> -->
                      <apexchart width="500" type="bar" :options="options" :series="series" />
                    </div>
                    <div class="widget-chart-content text-center mt-5">
                      <div class="widget-description mt-0 text-warning">
                        <i class="fa fa-arrow-left" />
                        <!-- <span class="pl-1">175.5%</span> -->
                        <span class="text-muted opacity-8 pl-1">Progres PDN Per Metode Pengadaan</span>
                      </div>
                    </div>
                  </div>
                  <div class="pt-2 card-body">
                    <div class="row">
                      <div v-for="(data, index) in progresPerMetodePengadaan" :key="index" class="col-md-6">
                        <div class="widget-content">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                <div class="widget-numbers fsize-3 text-muted">
                                  {{ parseFloat((data.realisasi_pdn/data.pagu)*100).toFixed(2) }}%
                                </div>
                              </div>
                              <div class="widget-content-right">
                                <div class="text-muted opacity-6" style="font-size: 13px;">
                                  {{ data.metodepengadaan }}
                                </div>
                              </div>
                            </div>
                            <div class="widget-progress-wrapper mt-1">
                              <!-- <div class="progress-bar-sm progress-bar-animated-alt progress">
                                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;" />
                                    </div> -->
  
                              <div v-if="(data.realisasi_pdn/data.pagu)*100 > 60" :max="100">
                                <div-bar variant="success" :value="parseFloat((data.realisasi_pdn/data.pagu)*100).toFixed(2)" :label="`Rp. ${formatPrice(data.realisasi_pdn)}`" />
                              </div>
                              <div v-if="(data.realisasi_pdn/data.pagu)*100 > 20 && (data.realisasi_pdn/data.pagu)*100 <= 60" :max="100">
                                <div-bar variant="warning" :value="parseFloat((data.realisasi_pdn/data.pagu)*100).toFixed(2)" :label="`Rp. ${formatPrice(data.realisasi_pdn)}`" />
                              </div>
                              <div v-if="(data.realisasi_pdn/data.pagu)*100 < 20" :max="100">
                                <div-bar variant="danger" :value="parseFloat((data.realisasi_pdn/data.pagu)*100).toFixed(2)" :label="`Rp. ${formatPrice(data.realisasi_pdn)}`" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-apartment icon-gradient bg-love-kiss" />
                  Realisasi TKDN
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div id="tabs-eg-77" class="tab-pane fade show active">
                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                      <!-- Target {{ formatPrice(rencanaTKDN) }} - Realisasi {{ formatPrice(realisasiTKDN) }} -->
                      <!-- = {{ parseFloat((parseInt(realisasiTKDN) / parseInt(rencanaTKDN))*100).toFixed(2) }}% -->
                      <apexchart width="480" height="500" type="radialBar" :options="chartOptionsTKDN" :series="chartOptionsTKDN.series" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card">
              <div class="card-header">
                Realisasi Per SOPD
                <div class="btn-actions-pane-right">
                  <div role="group" class="btn-group-sm btn-group">
                    <!-- <button class="active btn btn-focus">
                            Last Week
                          </button>
                          <button class="btn btn-focus">
                            All Month
                          </button> -->
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                  <thead>
                    <tr>
                      <th class="text-center">
                        #
                      </th>
                      <th>SOPD</th>
                      <th class="text-center">
                        Pagu
                      </th>
                      <th class="text-center">
                        Realisasi
                      </th>
                      <th class="text-center">
                        Prosentase Pengadaan %
                      </th>
                      <th class="text-center">
                        Prosentase PDN %
                      </th>
                      <th class="text-center">
                        Prosentase TKDN %
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(data, index) in ranking" :key="index">
                      <td class="text-center text-muted">
                        {{ index + 1 }}
                      </td>
                      <td class="text-muted" style="max-width: 350px;">
                        {{ data.namasatker }}
                      </td>
                      <td class="text-center text-muted">
                        <div :max="100">
                          <div-bar variant="success" :value="100" :label="`100%`" />
                        </div>
  
                        Rp.{{ formatPrice(data.jumlahpagu) }}
                      </td>
                      <td class="text-muted" style="max-width: 150px;">
                        HPS : Rp.{{ formatPrice(data.pkt_hps) }} <br>
                        Kontrak : Rp.{{ formatPrice(data.kontrak_nilai) }} <br>
                        <!-- Efisiensi : <span v-if="data.kontrak_nilai != 0">Rp.{{ formatPrice(data.pkt_hps - data.kontrak_nilai) }} -
                                <div class="badge badge-success mr-1 ml-0">
                                  <small>{{ parseFloat((data.pkt_hps-data.kontrak_nilai)/data.kontrak_nilai*100).toFixed(2) }}%</small>
                                </div> -->
                      </td>
                      <td class="text-center text-muted">
                        <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) > 60">
                          <div :max="100">
                            <div-bar variant="success" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                          </div>
                          <span style="color:greenyellow">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) >= 20 && parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) <= 60">
                          <div :max="100">
                            <div-bar variant="warning" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                          </div>
                          <span style="color:orange">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) < 20">
                          <div :max="100">
                            <div-bar variant="danger" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                          </div>
                          <span style="color:red">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                        </span>
                      </td>
                      <td class="text-center text-muted">
                        <span v-if="parseInt(data.realisasi_pdn) == 0 && parseInt(data.komitmen_pdn) == 0">
                          <div :max="100">
                            <div-bar variant="danger" :value="0" :label="`${0}%`" />
                          </div>
                          <span style="color:red">0.00%</span>
                        </span>
                        <span v-else>
                          <span v-if="parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) > 60">
                            <div :max="100">
                              <div-bar variant="success" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:greenyellow">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                          </span>
                          <span v-if="parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) >= 20 && parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) <= 60">
                            <div :max="100">
                              <div-bar variant="warning" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:orange">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                          </span>
                          <span v-if="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100) < 20">
                            <div :max="100">
                              <div-bar variant="danger" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:red">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                          </span>
                        </span>
                      </td>
                      <td class="text-center text-muted">
                        <span v-if="parseInt(data.realisasi_tkdn) == 0 && parseInt(data.rencana_tkdn) == 0">
                          <div :max="100">
                            <div-bar variant="danger" :value="0" :label="`${0}%`" />
                          </div>
                          <span style="color:red">0.00%</span>
                        </span>
                        <span v-else>
                          <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) > 60">
                            <div :max="100">
                              <div-bar variant="success" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:greenyellow">{{ parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2) }}%</span>
                          </span>
                          <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) >= 20 && parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) <= 60">
                            <div :max="100">
                              <div-bar variant="warning" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:orange">{{ parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2) }}%</span>
                          </span>
                          <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) < 20">
                            <div :max="100">
                              <div-bar variant="danger" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                            </div>
                            <span style="color:red">{{ parseFloat((data.realisasi_tkdn/data.jumlahpagu)*100).toFixed(2) }}%</span>
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-block text-center card-footer" />
            </div>
          </div>
        </div>
        <!-- <div class="row">
                <div class="col-md-6 col-lg-3">
                  <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-3 text-success">
                              40%
                            </div>
                          </div>
                          <div class="widget-content-right w-100">
                            <div class="progress-bar-xs progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;" />
                            </div>
                          </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                          <div class="text-muted opacity-6">
                            Target Realisasi PDN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-3 text-danger">
                              1%
                            </div>
                          </div>
                          <div class="widget-content-right w-100">
                            <div class="progress-bar-xs progress">
                              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;" />
                            </div>
                          </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                          <div class="text-muted opacity-6">
                            Realisasi PDN saat ini
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-3 text-warning">
                              5%
                            </div>
                          </div>
                          <div class="widget-content-right w-100">
                            <div class="progress-bar-xs progress">
                              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;" />
                            </div>
                          </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                          <div class="text-muted opacity-6">
                            Target TKDN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
                    <div class="widget-content">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left pr-2 fsize-1">
                            <div class="widget-numbers mt-0 fsize-3 text-info">
                              8%
                            </div>
                          </div>
                          <div class="widget-content-right w-100">
                            <div class="progress-bar-xs progress">
                              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;" />
                            </div>
                          </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                          <div class="text-muted opacity-6">
                            Realisasi TKDN
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  import chart from './Chart'
  import chartDonut from './ChartDonut.vue'
  import chartNontender from './ChartNonTender'
  
  export default {
    components: {
      chart,
      chartNontender,
      chartDonut
    },
    data () {
      return {
        total_perencanaan: 0,
        total_perencanaan_penyedia: 0,
        total_perencanaan_pdn: 0,
        perencanaan_pdn: 0,
        total_epurchasing_perencanaan: 0,
        perencanaan_epurchasing: 0,
        total_perencanaan_umk: 0,
        total_pelaksanaan: 0,
        total_pelaksanaan_penyedia: 0,
        total_pelaksanaan_pdn: 0,
        pelaksanaan_pdn: 0,
        capaian_komitmen_pdn: 0,
        total_epurchasing_pelaksanaan: 0,
        pelaksanaan_epurchasing: 0,
        capaian_komitmen_epurchasing: 0,
        total_pelaksanaan_ekatalog: 0,
        total_pelaksanaan_umk: 0,
        pdn_pelaksanaan_umk: 0,
        total_pembayaran: 0,
        total_pembayaran_pdn: 0,
        total_pembayaran_impor: 0,
        nilaiPDNPagu: 0,
        paguPengadaan: 0,
        paketPengadaan: 0,
        realisasiPengadaanNilai: 0,
        realisasiPengadaanPaket: 0,
        rencanaPDN: 0,
        realisasiPDN: 0,
        rencanaTKDN: 0,
        realisasiTKDN: 0,
        nilai_rencana: 0,
        paket_rencana: 0,
        nilai_realisasi: 0,
        paket_realisasi: 0,
        nilai_realisasi_pdn: 0,
        nilai_rencana_pdn: 0,
        ranking: [],
        items: [],
        itemsPerpaket: [],
        email: '',
        password: '',
        topSOPDPDN: [],
        options: {
          chart: {
            id: 'PDN by Kategori'
          },
          xaxis: {
            categories: ['Seleksi', 'Dikecualikan', 'Pembayaran untuk Kontrak Tahun Jamak ', 'Pengadaan Langsung', 'Penunjukan Langsung', 'Seleksi', 'Tender', 'e-Purchasing']
          },
          plotOptions: {
            bar: {
              horizontal: true
            }
          }
        },
        series: [{
          name: 'series-1',
          data: [0, 0, 0, 0, 0, 0, 0, 0]
        }],
        progresPerMetodePengadaan: []
      }
    },
    computed: {
      chartOptions: function () {
        return {
          colors: ['#E60B13', '#1F1E1E', '#6D6D6D', '#CECECE', 'rgba(255,87,93,.77)'],
          legend: {
            fontSize: '14px',
            fontFamily: 'Helvetica, Arial',
            fontWeight: 400,
            itemMargin: {
              vertical: 10
            },
            formatter: function (seriesName, opts) {
              return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
            }
          },
          dataLabels: {
            enabled: true
          },
          labels: ['PDN', 'Non PDN'],
  
          plotOptions: {
            pie: {
              donut: {
                labels: {
                  show: true,
                  name: {
                    show: true,
                    fontSize: '22px',
                    fontFamily: 'Rubik',
                    color: '#dfsda',
                    offsetY: -10
                  },
                  value: {
                    show: true,
                    fontSize: '16px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    color: undefined,
                    offsetY: 16,
                    formatter: function (val) {
                      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    }
                  },
                  total: {
                    show: false,
                    label: 'Total Pagu',
                    color: '#373d3f',
                    formatter: function (w) {
                      return w.globals.seriesTotals.reduce((a, b) => {
                        // return parseInt(parseInt(a) + parseInt(b)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); versi rupian
                        // return parseInt(Number(a) + Number(b))
                        var values = parseInt(parseInt(b) + parseInt(a))
                        return Math.abs(Number(values)) >= 1.0e+9
  
                          ? (Math.abs(Number(values)) / 1.0e+9).toFixed(2) + 'M'
                        // Six Zeroes for Millions
                          : Math.abs(Number(values)) >= 1.0e+6
  
                            ? (Math.abs(Number(values)) / 1.0e+6).toFixed(2) + 'Jt'
                          // Three Zeroes for Thousands
                            : Math.abs(Number(parseInt(parseInt(a) + parseInt(b)))) >= 1.0e+3
  
                              ? (Math.abs(Number(values)) / 1.0e+3).toFixed(2) + 'Rb'
  
                              : Math.abs(Number(values))
                      }, 0)
                    }
                  }
                }
              }
            }
          },
          series: [4000, 2400]
        }
      },
      chartOptionsPDN: function () {
        return {
          colors: ['#28a745', '#CECECE', 'rgba(255,87,93,.77)'],
          legend: {
            fontSize: '14px',
            fontFamily: 'Helvetica, Arial',
            fontWeight: 400,
            itemMargin: {
              vertical: 10
            },
            formatter: function (seriesName, opts) {
              return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
            }
          },
          dataLabels: {
            enabled: true
          },
          labels: ['Komitmen PDN Terlaksana'],
  
          plotOptions: {
            pie: {
              donut: {
                labels: {
                  show: true,
                  name: {
                    show: true,
                    fontSize: '22px',
                    fontFamily: 'Rubik',
                    color: '#dfsda',
                    offsetY: -10
                  },
                  value: {
                    show: true,
                    fontSize: '16px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    color: undefined,
                    offsetY: 16,
                    formatter: function (val) {
                      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    }
                  },
                  total: {
                    show: true,
                    label: 'Total Pagu',
                    color: '#373d3f',
                    formatter: function (w) {
                      return w.globals.seriesTotals.reduce((a, b) => {
                        return parseInt(parseInt(a) + parseInt(b)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                      }, 0)
                    }
                  }
                }
              }
            }
          },
          series: [0]
        }
      },
      chartOptionsTKDN: function () {
        return {
          colors: ['#1f8ddb', 'rgba(255,87,93,.77)'],
          legend: {
            fontSize: '14px',
            fontFamily: 'Helvetica, Arial',
            fontWeight: 400,
            itemMargin: {
              vertical: 10
            },
            formatter: function (seriesName, opts) {
              return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
            }
          },
          dataLabels: {
            enabled: true
          },
          labels: ['Realisasi TKDN'],
  
          plotOptions: {
            pie: {
              donut: {
                labels: {
                  show: true,
                  name: {
                    show: true,
                    fontSize: '22px',
                    fontFamily: 'Rubik',
                    color: '#dfsda',
                    offsetY: -10
                  },
                  value: {
                    show: true,
                    fontSize: '16px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    color: undefined,
                    offsetY: 16,
                    formatter: function (val) {
                      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    }
                  },
                  total: {
                    show: true,
                    label: 'Total Pagu',
                    color: '#373d3f',
                    formatter: function (w) {
                      return w.globals.seriesTotals.reduce((a, b) => {
                        return parseInt(parseInt(a) + parseInt(b)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                      }, 0)
                    }
                  }
                }
              }
            }
          },
          series: [4000, 2400]
        }
      }
    },
    beforeMount () {
      // this.cekuser()
    },
    mounted () {
      this.summary()
      this.getDataPaketPerdinas()
      this.getRankingRealisasi()
      this.rekapAllDinas()
      this.getDataChart()
      this.topSOPD()
      this.pdnByKategori()
      this.progresbykategori()
    },
    methods: {
      cekuser () {
        sessionStorage.getItem('username')
        sessionStorage.getItem('nip')
        sessionStorage.getItem('satker')
        sessionStorage.getItem('role')
  
        if (sessionStorage.getItem('username') === null) {
          this.$router.push({ path: 'login' })
        }
      },
      async summary () {
        // total-paket-pengadaan
        // realisasi-pengadaan
        // realisasi-pdn
        // realisasi-tkdn
        try {
  
          let bigbox = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/summary-all`
          })
          this.total_perencanaan = bigbox.data[0].total_perencanaan
          this.total_perencanaan_penyedia = bigbox.data[0].total_perencanaan_penyedia
          this.total_perencanaan_pdn = bigbox.data[0].total_perencanaan_pdn
          this.perencanaan_pdn = bigbox.data[0].perencanaan_pdn
          this.total_epurchasing_perencanaan = bigbox.data[0].total_epurchasing_perencanaan
          this.perencanaan_epurchasing = bigbox.data[0].perencanaan_epurchasing
          this.total_perencanaan_umk = bigbox.data[0].total_perencanaan_umk
          this.total_pelaksanaan = bigbox.data[0].total_pelaksanaan
          this.total_pelaksanaan_penyedia = bigbox.data[0].total_pelaksanaan_penyedia
          this.total_pelaksanaan_pdn = bigbox.data[0].total_pelaksanaan_pdn
          this.pelaksanaan_pdn = bigbox.data[0].pelaksanaan_pdn
          this.capaian_komitmen_pdn = bigbox.data[0].capaian_komitmen_pdn
          this.total_epurchasing_pelaksanaan = bigbox.data[0].total_epurchasing_pelaksanaan
          this.pelaksanaan_epurchasing = bigbox.data[0].pelaksanaan_epurchasing
          this.capaian_komitmen_epurchasing = bigbox.data[0].capaian_komitmen_epurchasing
          this.total_pelaksanaan_ekatalog = bigbox.data[0].total_pelaksanaan_ekatalog
          this.total_pelaksanaan_umk = bigbox.data[0].total_pelaksanaan_umk
          this.pdn_pelaksanaan_umk = bigbox.data[0].pdn_pelaksanaan_umk
          this.total_pembayaran = bigbox.data[0].total_pembayaran
          this.total_pembayaran_pdn = bigbox.data[0].total_pembayaran_pdn
          this.total_pembayaran_impor = bigbox.data[0].total_pembayaran_impor
          this.chartOptions.series = [parseInt(this.total_perencanaan_pdn), parseInt(this.total_perencanaan_penyedia - this.total_perencanaan_pdn)]
  
          let rencana = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/total-paket-pengadaan`
          })
          this.paguPengadaan = rencana.data[0].pagu
          this.paketPengadaan = rencana.data[0].paket
  
          let realisasiPengadaan = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/realisasi-pengadaan`
          })
          this.realisasiPengadaanNilai = realisasiPengadaan.data[0].nilai
          this.realisasiPengadaanPaket = realisasiPengadaan.data[0].total_paket
  
          let realisasiPDN = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/realisasi-pdn`
          })
          this.rencanaPDN = realisasiPDN.data[0].rencana_pdn
          this.realisasiPDN = realisasiPDN.data[0].realisasi_pdn
          const progresPDN = (this.realisasiPDN / this.rencanaPDN) * 100
          this.chartOptionsPDN.series = [parseFloat((this.total_pembayaran_pdn / this.total_perencanaan_pdn) * 100).toFixed(2)]
          // this.chartOptionsPDN.series = [parseInt(progresPDN)]
  
          let realisasiTKDN = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/realisasi-tkdn`
          })
          this.rencanaTKDN = realisasiTKDN.data[0].rencana_tkdn
          this.realisasiTKDN = realisasiTKDN.data[0].realisasi_tkdn
          const progresTKDN = (parseInt(this.realisasiTKDN) / parseInt(this.rencanaTKDN)) * 100
          this.chartOptionsTKDN.series = [parseInt(progresTKDN)]
        } catch (error) {
  
        }
      },
  
      formatPrice (value) {
        let val = (value / 1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      },
      async getRankingRealisasi () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/ranking-realisasi`
          })
          this.ranking = response.data
        } catch (error) {
  
        }
      },
      async getDataPaketPerdinas () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/dashboard-perdinas`
          })
          this.items = response.data
        } catch (error) {
  
        }
      },
  
      async getDataPerPaket () {
        // const id = this.$route.params.id;
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/dashboard-perpaket`
          })
          this.itemsPerpaket = response.data
        } catch (error) {
  
        }
      },
  
      async rekapAllDinas () {
        // const id = this.$route.params.id;
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/rekap-all-dinas`
          })
          this.nilai_rencana = response.data[0].nilai_rencana
          this.paket_rencana = response.data[0].paket_rencana
          this.nilai_realisasi = response.data[0].nilai_realisasi
          this.paket_realisasi = response.data[0].paket_realisasi
          this.nilai_realisasi_pdn = response.data[0].nilai_realisasi_pdn
          this.nilai_rencana_pdn = response.data[0].nilai_rencana_pdn
        } catch (error) {
  
        }
      },
  
      numberWithCommas (x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      },
  
      async login () {
        // const formData = {
        //   'email': this.email,
        //   'password': this.password
        // }
  
        // try {
        //   let response = await axios({
        //     method: 'post',
        //     headers: {
        //       'Access-Control-Allow-Origin' : '*',
        //       'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
        //     },
        //     url: `./api/login`,
        //     formData
        //   });
        //   console.log(response)
        // } catch (error) {
        //   console.log(error)
        // }
        try {
          const config = {
            headers: { 'content-type': 'multipart/form-data' }
          }
          axios.post('./api/login', {
            'email': this.email,
            'password': this.password
          }, config).then((res) => {
            console.log('berhasil')
            localStorage.setItem('email', this.email)
            localStorage.setItem('satker', res.data.satker)
            this.$router.push({ path: '/home' })
          })
        } catch (error) {
          console.log(error.response.data)
          // return error;
        }
      },
  
      async getDataChart () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/rekap-paket-pdn`
          })
          this.nilaiPDNPagu = parseInt(response.data[0].nilai_pdn)
          // this.chartOptions.series = [parseInt(response.data[0].nilai_pdn), parseInt(response.data[0].nilai_non_pdn)]
        } catch (error) {
  
        }
      },
      async topSOPD () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/top-sopd`
          })
  
          this.topSOPDPDN = response.data
        } catch (error) {
  
        }
      },
      async pdnByKategori () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/paket-perkategori`
          })
  
          const categories = []
          const series = []
  
          for (let index = 0; index < response.data.length; index++) {
          // this.chartOptions.xaxis.categories = response.data.namasatker
            categories.push(response.data[index].metodepengadaan)
            series.push(parseInt(response.data[index].paket_pdn))
          }
  
          this.options.xaxis.categories = categories
          this.series.data = series
  
          this.series = [
            {
              name: 'Jumlah Paket',
              data: series
            }]
  
          this.options =
            {
              xaxis: {
                categories: categories
              },
              tooltip: {
                y: {
                  formatter: function (val) {
                    return val + 'Paket'
                  }
                }
              }
            }
        } catch (error) {
  
        }
      },
      async progresbykategori () {
        try {
          let response = await axios({
            method: 'get',
            headers: {
              'Access-Control-Allow-Origin': '*',
              'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
            },
            url: `./api/progres-perkategori`
          })
  
          this.progresPerMetodePengadaan = response.data
        } catch (error) {
  
        }
      }
    }
  }
  </script>
  <style>
    .margin {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .topup {
       position: absolute;
          top: 20px;
          right: 100px;
    }
  
    .mtop {
      margin-top: 100px;
    }
  
    .side {
      margin-left: 20px;
      margin-left: 20px;
    }
  </style>
  