<template>
    <div>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 text-gray-800">Analytics Dashboard</h1>
            <select class="form-select">
                <option selected>Pilih Tahun</option>
                <option value="1">2023</option>
                <option value="2">2024</option>
            </select>
            <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
            >

        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                >
                                    TOTAL ANGGARAN PENYEDIA
                                </div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800"
                                >
                                Rp. {{ formatPrice( total_perencanaan_penyedia ) }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i
                                    class="fas fa-clipboard-list fa-2x text-gray-300"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                >
                                    REALISASI PAKET
                                </div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800"
                                >
                                    Rp.900.000.000
                                </div>
                            </div>
                            <div class="col-auto">
                                <i
                                    class="fas fa-clipboard-check fa-2x text-gray-300"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                >
                                    Realisasi PDN
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div
                                            class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                        >
                                            50%
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div
                                                class="progress-bar bg-info"
                                                role="progressbar"
                                                style="width: 50%"
                                                aria-valuenow="50"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i
                                    class="fas fa-clipboard-check fa-2x text-gray-300"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                >
                                    Realisasi TKDN
                                </div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800"
                                >
                                    18
                                </div>
                            </div>
                            <div class="col-auto">
                                <i
                                    class="fas fa-clipboard-check fa-2x text-gray-300"
                                ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                        <h6 class="m-0 font-weight-bold text-primary">
                            Earnings Overview
                        </h6>
                        <div class="dropdown no-arrow">
                            <a
                                class="dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownMenuLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <i
                                    class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
                                ></i>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink"
                            >
                                <div class="dropdown-header">
                                    Dropdown Header:
                                </div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#"
                                    >Another action</a
                                >
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                        <h6 class="m-0 font-weight-bold text-primary">
                            PDN Terlaksana
                        </h6>
                        <div class="dropdown no-arrow">
                            <a
                                class="dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownMenuLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <i
                                    class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
                                ></i>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink"
                            >
                                <div class="dropdown-header">
                                    Dropdown Header:
                                </div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#"
                                    >Another action</a
                                >
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i>
                                Direct
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i>
                                Social
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Referral
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            5 Perangkat Daerah dengan Rencana PDN Tertinggi
                        </h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">
                            Server Migration
                            <span class="float-right">20%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div
                                class="progress-bar bg-danger"
                                role="progressbar"
                                style="width: 20%"
                                aria-valuenow="20"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Sales Tracking <span class="float-right">40%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div
                                class="progress-bar bg-warning"
                                role="progressbar"
                                style="width: 40%"
                                aria-valuenow="40"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Customer Database
                            <span class="float-right">60%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 60%"
                                aria-valuenow="60"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Payout Details <span class="float-right">80%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div
                                class="progress-bar bg-info"
                                role="progressbar"
                                style="width: 80%"
                                aria-valuenow="80"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Account Setup
                            <span class="float-right">Complete!</span>
                        </h4>
                        <div class="progress">
                            <div
                                class="progress-bar bg-success"
                                role="progressbar"
                                style="width: 100%"
                                aria-valuenow="100"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            ></div>
                        </div>
                    </div>
                </div>

                <!-- Color System -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                                Primary
                                <div class="text-white-50 small">#4e73df</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                Success
                                <div class="text-white-50 small">#1cc88a</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-info text-white shadow">
                            <div class="card-body">
                                Info
                                <div class="text-white-50 small">#36b9cc</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                                Warning
                                <div class="text-white-50 small">#f6c23e</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                                Danger
                                <div class="text-white-50 small">#e74a3b</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                                Secondary
                                <div class="text-white-50 small">#858796</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-light text-black shadow">
                            <div class="card-body">
                                Light
                                <div class="text-black-50 small">#f8f9fc</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-body">
                                Dark
                                <div class="text-white-50 small">#5a5c69</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Illustrations
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img
                                class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                style="width: 25rem"
                                src="img/undraw_posting_photo.svg"
                                alt="..."
                            />
                        </div>
                        <p>
                            Add some quality, svg illustrations to your project
                            courtesy of
                            <a
                                target="_blank"
                                rel="nofollow"
                                href="https://undraw.co/"
                                >unDraw</a
                            >, a constantly updated collection of beautiful svg
                            images that you can use completely free and without
                            attribution!
                        </p>
                        <a
                            target="_blank"
                            rel="nofollow"
                            href="https://undraw.co/"
                            >Browse Illustrations on unDraw &rarr;</a
                        >
                    </div>
                </div>

                <!-- Approach -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Development Approach
                        </h6>
                    </div>
                    <div class="card-body">
                        <p>
                            SB Admin 2 makes extensive use of Bootstrap 4
                            utility classes in order to reduce CSS bloat and
                            poor page performance. Custom CSS classes are used
                            to create custom components and custom utility
                            classes.
                        </p>
                        <p class="mb-0">
                            Before working with this theme, you should become
                            familiar with the Bootstrap framework, especially
                            the utility classes.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- realisasi per sopd-->
        <div class="row">
        <div class="col-md-12">
          <div class="main-card mb-3 card">
            <div class="card-header">
              Realisasi Per SOPD
              <div class="btn-actions-pane-right">
                <div role="group" class="btn-group-sm btn-group">
                  <!-- <button class="active btn btn-focus">
                          Last Week
                        </button>
                        <button class="btn btn-focus">
                          All Month
                        </button> -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">
                      #
                    </th>
                    <th>SOPD</th>
                    <th class="text-center">
                      Pagu
                    </th>
                    <th class="text-center">
                      Realisasi
                    </th>
                    <th class="text-center">
                      Prosentase Pengadaan %
                    </th>
                    <th class="text-center">
                      Prosentase PDN %
                    </th>
                    <th class="text-center">
                      Prosentase TKDN %
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(data, index) in ranking" :key="index">
                    <td class="text-center text-muted">
                      {{ index + 1 }}
                    </td>
                    <td class="text-muted" style="max-width: 350px;">
                      {{ data.namasatker }}
                    </td>
                    <td class="text-center text-muted">
                      <b-progress :max="100">
                        <b-progress-bar variant="success" :value="100" :label="`100%`" />
                      </b-progress>

                      Rp.{{ formatPrice(data.jumlahpagu) }}
                    </td>
                    <td class="text-muted" style="max-width: 150px;">
                      HPS : Rp.{{ formatPrice(data.pkt_hps) }} <br>
                      Kontrak : Rp.{{ formatPrice(data.kontrak_nilai) }} <br>
                      <!-- Efisiensi : <span v-if="data.kontrak_nilai != 0">Rp.{{ formatPrice(data.pkt_hps - data.kontrak_nilai) }} -
                              <div class="badge badge-success mr-1 ml-0">
                                <small>{{ parseFloat((data.pkt_hps-data.kontrak_nilai)/data.kontrak_nilai*100).toFixed(2) }}%</small>
                              </div> -->
                    </td>
                    <td class="text-center text-muted">
                      <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) > 60">
                        <b-progress :max="100">
                          <b-progress-bar variant="success" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                        </b-progress>
                        <span style="color:greenyellow">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                      </span>
                      <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) >= 20 && parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) <= 60">
                        <b-progress :max="100">
                          <b-progress-bar variant="warning" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                        </b-progress>
                        <span style="color:orange">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                      </span>
                      <span v-if="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100) < 20">
                        <b-progress :max="100">
                          <b-progress-bar variant="danger" :value="parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)" :label="`${parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2)}%`" />
                        </b-progress>
                        <span style="color:red">{{ parseFloat((data.kontrak_nilai/data.jumlahpagu)*100).toFixed(2) }}%</span>
                      </span>
                    </td>
                    <td class="text-center text-muted">
                      <span v-if="parseInt(data.realisasi_pdn) == 0 && parseInt(data.komitmen_pdn) == 0">
                        <b-progress :max="100">
                          <b-progress-bar variant="danger" :value="0" :label="`${0}%`" />
                        </b-progress>
                        <span style="color:red">0.00%</span>
                      </span>
                      <span v-else>
                        <span v-if="parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) > 60">
                          <b-progress :max="100">
                            <b-progress-bar variant="success" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:greenyellow">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) >= 20 && parseFloat((data.realisasi_pdn/data.komitmen_pdn)*100) <= 60">
                          <b-progress :max="100">
                            <b-progress-bar variant="warning" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:orange">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100) < 20">
                          <b-progress :max="100">
                            <b-progress-bar variant="danger" :value="parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100)" :label="`${parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:red">{{ parseFloat((parseFloat(data.realisasi_pdn)/parseFloat(data.komitmen_pdn))*100).toFixed(2) }}%</span>
                        </span>
                      </span>
                    </td>
                    <td class="text-center text-muted">
                      <span v-if="parseInt(data.realisasi_tkdn) == 0 && parseInt(data.rencana_tkdn) == 0">
                        <b-progress :max="100">
                          <b-progress-bar variant="danger" :value="0" :label="`${0}%`" />
                        </b-progress>
                        <span style="color:red">0.00%</span>
                      </span>
                      <span v-else>
                        <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) > 60">
                          <b-progress :max="100">
                            <b-progress-bar variant="success" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:greenyellow">{{ parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) >= 20 && parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) <= 60">
                          <b-progress :max="100">
                            <b-progress-bar variant="warning" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:orange">{{ parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2) }}%</span>
                        </span>
                        <span v-if="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100) < 20">
                          <b-progress :max="100">
                            <b-progress-bar variant="danger" :value="parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)" :label="`${parseFloat((data.realisasi_tkdn/data.rencana_tkdn)*100).toFixed(2)}%`" />
                          </b-progress>
                          <span style="color:red">{{ parseFloat((data.realisasi_tkdn/data.jumlahpagu)*100).toFixed(2) }}%</span>
                        </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-block text-center card-footer" />
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import chartAreaDemo from "../../chart/demo/chart-area-demo";
import chartPieDemo from "../../chart/demo/chart-pie-demo";
import axios from 'axios'
import chart from './Chart'
import chartDonut from './ChartDonut.vue'
import chartNontender from './ChartNonTender'

export default {
  name: "AdminLayout",
  components: {
    chart,
    chartNontender,
    chartDonut,
    chartAreaDemo,
    chartPieDemo
  },
  data () {
    return {
      total_perencanaan: 0,
      total_perencanaan_penyedia: 0,
      total_perencanaan_pdn: 0,
      perencanaan_pdn: 0,
      total_epurchasing_perencanaan: 0,
      perencanaan_epurchasing: 0,
      total_perencanaan_umk: 0,
      total_pelaksanaan: 0,
      total_pelaksanaan_penyedia: 0,
      total_pelaksanaan_pdn: 0,
      pelaksanaan_pdn: 0,
      capaian_komitmen_pdn: 0,
      total_epurchasing_pelaksanaan: 0,
      pelaksanaan_epurchasing: 0,
      capaian_komitmen_epurchasing: 0,
      total_pelaksanaan_ekatalog: 0,
      total_pelaksanaan_umk: 0,
      pdn_pelaksanaan_umk: 0,
      total_pembayaran: 0,
      total_pembayaran_pdn: 0,
      total_pembayaran_impor: 0,
      nilaiPDNPagu: 0,
      paguPengadaan: 0,
      paketPengadaan: 0,
      realisasiPengadaanNilai: 0,
      realisasiPengadaanPaket: 0,
      rencanaPDN: 0,
      realisasiPDN: 0,
      rencanaTKDN: 0,
      realisasiTKDN: 0,
      nilai_rencana: 0,
      paket_rencana: 0,
      nilai_realisasi: 0,
      paket_realisasi: 0,
      nilai_realisasi_pdn: 0,
      nilai_rencana_pdn: 0,
      ranking: [],
      items: [],
      itemsPerpaket: [],
      email: '',
      password: '',
      topSOPDPDN: [],
      options: {
        chart: {
          id: 'PDN by Kategori'
        },
        xaxis: {
          categories: ['Seleksi', 'Dikecualikan', 'Pembayaran untuk Kontrak Tahun Jamak ', 'Pengadaan Langsung', 'Penunjukan Langsung', 'Seleksi', 'Tender', 'e-Purchasing']
        },
        plotOptions: {
          bar: {
            horizontal: true
          }
        }
      },
      series: [{
        name: 'series-1',
        data: [0, 0, 0, 0, 0, 0, 0, 0]
      }],
      progresPerMetodePengadaan: []
    }
  },
  computed: {
    chartOptions: function () {
      return {
        colors: ['#E60B13', '#1F1E1E', '#6D6D6D', '#CECECE', 'rgba(255,87,93,.77)'],
        legend: {
          fontSize: '14px',
          fontFamily: 'Helvetica, Arial',
          fontWeight: 400,
          itemMargin: {
            vertical: 10
          },
          formatter: function (seriesName, opts) {
            return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
          }
        },
        dataLabels: {
          enabled: true
        },
        labels: ['PDN', 'Non PDN'],

        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: '22px',
                  fontFamily: 'Rubik',
                  color: '#dfsda',
                  offsetY: -10
                },
                value: {
                  show: true,
                  fontSize: '16px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                  }
                },
                total: {
                  show: false,
                  label: 'Total Pagu',
                  color: '#373d3f',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      // return parseInt(parseInt(a) + parseInt(b)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); versi rupian
                      // return parseInt(Number(a) + Number(b))
                      var values = parseInt(parseInt(b) + parseInt(a))
                      return Math.abs(Number(values)) >= 1.0e+9

                        ? (Math.abs(Number(values)) / 1.0e+9).toFixed(2) + 'M'
                      // Six Zeroes for Millions
                        : Math.abs(Number(values)) >= 1.0e+6

                          ? (Math.abs(Number(values)) / 1.0e+6).toFixed(2) + 'Jt'
                        // Three Zeroes for Thousands
                          : Math.abs(Number(parseInt(parseInt(a) + parseInt(b)))) >= 1.0e+3

                            ? (Math.abs(Number(values)) / 1.0e+3).toFixed(2) + 'Rb'

                            : Math.abs(Number(values))
                    }, 0)
                  }
                }
              }
            }
          }
        },
        series: [4000, 2400]
      }
    },
    chartOptionsPDN: function () {
      return {
        colors: ['#28a745', '#CECECE', 'rgba(255,87,93,.77)'],
        legend: {
          fontSize: '14px',
          fontFamily: 'Helvetica, Arial',
          fontWeight: 400,
          itemMargin: {
            vertical: 10
          },
          formatter: function (seriesName, opts) {
            return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
          }
        },
        dataLabels: {
          enabled: true
        },
        labels: ['Komitmen PDN Terlaksana'],

        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: '22px',
                  fontFamily: 'Rubik',
                  color: '#dfsda',
                  offsetY: -10
                },
                value: {
                  show: true,
                  fontSize: '16px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                  }
                },
                total: {
                  show: true,
                  label: 'Total Pagu',
                  color: '#373d3f',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return parseInt(parseInt(a) + parseInt(b)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    }, 0)
                  }
                }
              }
            }
          }
        },
        series: [0]
      }
    },
    chartOptionsTKDN: function () {
      return {
        colors: ['#1f8ddb', 'rgba(255,87,93,.77)'],
        legend: {
          fontSize: '14px',
          fontFamily: 'Helvetica, Arial',
          fontWeight: 400,
          itemMargin: {
            vertical: 10
          },
          formatter: function (seriesName, opts) {
            return '<div class="legend-info">' + '<span>' + seriesName + '</span>' + '<br><span>Rp.' + opts.w.globals.series[opts.seriesIndex].toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + '</span>' + '</div>'
          }
        },
        dataLabels: {
          enabled: true
        },
        labels: ['Realisasi TKDN'],

        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: '22px',
                  fontFamily: 'Rubik',
                  color: '#dfsda',
                  offsetY: -10
                },
                value: {
                  show: true,
                  fontSize: '16px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                  }
                },
                total: {
                  show: true,
                  label: 'Total Pagu',
                  color: '#373d3f',
                  formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return parseInt(parseInt(a) + parseInt(b)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    }, 0)
                  }
                }
              }
            }
          }
        },
        series: [4000, 2400]
      }
    }
  },
  beforeMount () {
    // this.cekuser()
  },
  mounted () {
    this.summary()
    this.getDataPaketPerdinas()
    this.getRankingRealisasi()
    this.rekapAllDinas()
    this.getDataChart()
    this.topSOPD()
    this.pdnByKategori()
    this.progresbykategori()
  },
  methods: {
    cekuser () {
      sessionStorage.getItem('username')
      sessionStorage.getItem('nip')
      sessionStorage.getItem('satker')
      sessionStorage.getItem('role')

      if (sessionStorage.getItem('username') === null) {
        this.$router.push({ path: 'login' })
      }
    },
    async summary () {
      // total-paket-pengadaan
      // realisasi-pengadaan
      // realisasi-pdn
      // realisasi-tkdn
      try {

        let bigbox = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: '/summary-all'
        })
        this.total_perencanaan = bigbox.data[0].total_perencanaan
        this.total_perencanaan_penyedia = bigbox.data[0].total_perencanaan_penyedia
        this.total_perencanaan_pdn = bigbox.data[0].total_perencanaan_pdn
        this.perencanaan_pdn = bigbox.data[0].perencanaan_pdn
        this.total_epurchasing_perencanaan = bigbox.data[0].total_epurchasing_perencanaan
        this.perencanaan_epurchasing = bigbox.data[0].perencanaan_epurchasing
        this.total_perencanaan_umk = bigbox.data[0].total_perencanaan_umk
        this.total_pelaksanaan = bigbox.data[0].total_pelaksanaan
        this.total_pelaksanaan_penyedia = bigbox.data[0].total_pelaksanaan_penyedia
        this.total_pelaksanaan_pdn = bigbox.data[0].total_pelaksanaan_pdn
        this.pelaksanaan_pdn = bigbox.data[0].pelaksanaan_pdn
        this.capaian_komitmen_pdn = bigbox.data[0].capaian_komitmen_pdn
        this.total_epurchasing_pelaksanaan = bigbox.data[0].total_epurchasing_pelaksanaan
        this.pelaksanaan_epurchasing = bigbox.data[0].pelaksanaan_epurchasing
        this.capaian_komitmen_epurchasing = bigbox.data[0].capaian_komitmen_epurchasing
        this.total_pelaksanaan_ekatalog = bigbox.data[0].total_pelaksanaan_ekatalog
        this.total_pelaksanaan_umk = bigbox.data[0].total_pelaksanaan_umk
        this.pdn_pelaksanaan_umk = bigbox.data[0].pdn_pelaksanaan_umk
        this.total_pembayaran = bigbox.data[0].total_pembayaran
        this.total_pembayaran_pdn = bigbox.data[0].total_pembayaran_pdn
        this.total_pembayaran_impor = bigbox.data[0].total_pembayaran_impor
        this.chartOptions.series = [parseInt(this.total_perencanaan_pdn), parseInt(this.total_perencanaan_penyedia - this.total_perencanaan_pdn)]

        let rencana = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/total-paket-pengadaan`
        })
        this.paguPengadaan = rencana.data[0].pagu
        this.paketPengadaan = rencana.data[0].paket

        let realisasiPengadaan = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/realisasi-pengadaan`
        })
        this.realisasiPengadaanNilai = realisasiPengadaan.data[0].nilai
        this.realisasiPengadaanPaket = realisasiPengadaan.data[0].total_paket

        let realisasiPDN = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/realisasi-pdn`
        })
        this.rencanaPDN = realisasiPDN.data[0].rencana_pdn
        this.realisasiPDN = realisasiPDN.data[0].realisasi_pdn
        const progresPDN = (this.realisasiPDN / this.rencanaPDN) * 100
        this.chartOptionsPDN.series = [parseFloat((this.total_pembayaran_pdn / this.total_perencanaan_pdn) * 100).toFixed(2)]
        // this.chartOptionsPDN.series = [parseInt(progresPDN)]

        let realisasiTKDN = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/realisasi-tkdn`
        })
        this.rencanaTKDN = realisasiTKDN.data[0].rencana_tkdn
        this.realisasiTKDN = realisasiTKDN.data[0].realisasi_tkdn
        const progresTKDN = (parseInt(this.realisasiTKDN) / parseInt(this.rencanaTKDN)) * 100
        this.chartOptionsTKDN.series = [parseInt(progresTKDN)]
      } catch (error) {

      }
    },

    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    async getRankingRealisasi () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/ranking-realisasi`
        })
        this.ranking = response.data
      } catch (error) {

      }
    },
    async getDataPaketPerdinas () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/dashboard-perdinas`
        })
        this.items = response.data
      } catch (error) {

      }
    },

    async getDataPerPaket () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/dashboard-perpaket`
        })
        this.itemsPerpaket = response.data
      } catch (error) {

      }
    },

    async rekapAllDinas () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/rekap-all-dinas`
        })
        this.nilai_rencana = response.data[0].nilai_rencana
        this.paket_rencana = response.data[0].paket_rencana
        this.nilai_realisasi = response.data[0].nilai_realisasi
        this.paket_realisasi = response.data[0].paket_realisasi
        this.nilai_realisasi_pdn = response.data[0].nilai_realisasi_pdn
        this.nilai_rencana_pdn = response.data[0].nilai_rencana_pdn
      } catch (error) {

      }
    },

    numberWithCommas (x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },

    async login () {
      // const formData = {
      //   'email': this.email,
      //   'password': this.password
      // }

      // try {
      //   let response = await axios({
      //     method: 'post',
      //     headers: {
      //       'Access-Control-Allow-Origin' : '*',
      //       'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
      //     },
      //     url: `http://103.145.202.137/api/login`,
      //     formData
      //   });
      //   console.log(response)
      // } catch (error) {
      //   console.log(error)
      // }
      try {
        const config = {
          headers: { 'content-type': 'multipart/form-data' }
        }
        axios.post('/login', {
          'email': this.email,
          'password': this.password
        }, config).then((res) => {
          console.log('berhasil')
          localStorage.setItem('email', this.email)
          localStorage.setItem('satker', res.data.satker)
          this.$router.push({ path: '/home' })
        })
      } catch (error) {
        console.log(error.response.data)
        // return error;
      }
    },

    async getDataChart () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/rekap-paket-pdn`
        })
        this.nilaiPDNPagu = parseInt(response.data[0].nilai_pdn)
        // this.chartOptions.series = [parseInt(response.data[0].nilai_pdn), parseInt(response.data[0].nilai_non_pdn)]
      } catch (error) {

      }
    },
    async topSOPD () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `h/top-sopd`
        })

        this.topSOPDPDN = response.data
      } catch (error) {

      }
    },
    async pdnByKategori () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/paket-perkategori`
        })

        const categories = []
        const series = []

        for (let index = 0; index < response.data.length; index++) {
        // this.chartOptions.xaxis.categories = response.data.namasatker
          categories.push(response.data[index].metodepengadaan)
          series.push(parseInt(response.data[index].paket_pdn))
        }

        this.options.xaxis.categories = categories
        this.series.data = series

        this.series = [
          {
            name: 'Jumlah Paket',
            data: series
          }]

        this.options =
          {
            xaxis: {
              categories: categories
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + 'Paket'
                }
              }
            }
          }
      } catch (error) {

      }
    },
    async progresbykategori () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/progres-perkategori`
        })

        this.progresPerMetodePengadaan = response.data
      } catch (error) {

      }
    }
  }
}
</script>
