<template>
  <div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h4 mb-0 text-gray-800">Input TKDN {{ namaSatker }} Tahun 2024</h1>
        <a
          class="btn btn-success btn-icon-split btn-sm"
          @click="handleDownload(items)">
          <span class="icon text-white-50">
            <i class="fas fa-download"></i>
          </span> 
          <span class="text">Download Laporan.xlsx</span>
        </a>
    </div>

    <!--<div class="form-group">
      <select id="satker" v-model="namaSatker" name="satker" class="form-control" @change="getDataPaket()">
        <option disabled value="">Pilih Perangkat Daerah</option>
        <option v-for="data in satkers" :key="data.id" :value="data.namasatker">{{ data.namasatker }}</option>
      </select>
    </div>-->
    
    <!-- DataTales Example -->
    <div class="form-group">
    <input type="text" class="form-control" v-model="dataSearch" placeholder="Pencarian...">
    </div>

    <!-- Progress Bar -->
    <div v-if="loading" class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="{ width: totalRows + '%' }"
        aria-valuemin="0"
        aria-valuemax="totalRows">
        Load Data 1{{ loadingPercent }}0%
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th colspan="8" class="text-center bg-warning text-white">Tahap Perencanaan</th>
                <th colspan="13" class="text-center bg-success text-white">Tahap Pelaksanaan</th>
              </tr>
              <tr>
                <th class="orderable">Input TKDN <i class="fas fa-sort"></i></th>
                <th class="orderable">ID RUP <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama Paket <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama Perangkat Daerah <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama PPK <i class="fas fa-sort"></i></th>
                <th class="orderable">Metode Pengadaan <i class="fas fa-sort"></i></th>
                <th class="orderable">Pagu <i class="fas fa-sort"></i></th>
                <th class="orderable">Komitmen PDN <i class="fas fa-sort"></i></th>
                <th class="orderable">Paket PDN/Non-PDN <i class="fas fa-sort"></i></th>
                <th class="orderable">Nilai Kontrak <i class="fas fa-sort"></i></th>
                <th class="orderable">Realisasi PDN <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama Penyedia <i class="fas fa-sort"></i></th>
                <th class="orderable">Prosentase TKDN <i class="fas fa-sort"></i></th>
                <th class="orderable">Nilai TKDN <i class="fas fa-sort"></i></th>
                <th class="orderable">Dokumen Persiapan (KAK) <i class="fas fa-sort"></i></th>
                <th class="orderable">Dokumen Kontrak <i class="fas fa-sort"></i></th>
                <th class="orderable">Dokumen Serah Terima <i class="fas fa-sort"></i></th>
                <th class="orderable">Dokumen Kertas Kerja TKDN <i class="fas fa-sort"></i></th>
                <th class="orderable">No Sertifikat<i class="fas fa-sort"></i></th>
                <th class="orderable">Catatan APIP <i class="fas fa-sort"></i></th>
                <th class="orderable">APIP <i class="fas fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="filteredItems.length === 0">
                <td colspan="20">Tidak ada hasil pencarian.</td>
              </tr>
              <tr v-for="(modtem, index) in filteredItems" :key="index">
                <td>
                  <button class="btn btn-primary" @click="showPreviewModal(modtem)">
                    <i class="fas fa-fw fa-file-import fade-in"></i>
                  </button>
                </td>
                <td>{{ modtem.idrup }}</td>
                <td>{{ modtem.namapaket }}</td>
                <td>{{ modtem.namasatker }}</td>
                <td>{{ modtem.ppk }}</td>
                <td>{{ modtem.metodepengadaan }}</td>
                <td>Rp. {{ formatPrice(modtem.jumlahpagu) }}</td>
                <td>Rp. {{ formatPrice(modtem.komitmen_pdn) }}</td>
                <td>{{ modtem.paket_pdn }}</td>
                <td>Rp. {{ formatPrice(modtem.kontrak_nilai) }}</td>
                <td>Rp. {{ formatPrice(modtem.realisasi_pdn) }}</td>
                <td>{{ modtem.pemenang }}</td>
                <td>{{ modtem.pk_realisasi }}%</td>
                <td>Rp. {{ formatPrice(modtem.tkdn_serah_terima) }}</td>
                <td>
                  <a :href="getFileKAK(modtem.file_bukti_tkdn_persiapan_pengadaan)" target="_blank">{{ modtem.file_bukti_tkdn_persiapan_pengadaan }}</a>
                </td>
                <td>
                  <a :href="getFileKontrak(modtem.file_bukti_tkdn_kontrak)" target="_blank">{{ modtem.file_bukti_tkdn_kontrak }}</a>
                </td>
                <td>
                  <a :href="getFileST(modtem.file_bukti_tkdn_serahterima)" target="_blank">{{ modtem.file_bukti_tkdn_serahterima }}</a>
                </td>
                <td>
                  <a :href="getFileKK(modtem.file_bukti_kktkdn)" target="_blank">{{ modtem.file_bukti_kktkdn }}</a>
                </td>
                <td>{{ modtem.no_sertifikat }}</td>
                <td>{{ modtem.keterangan }}</td>
                <td>{{ modtem.updated_by }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Preview Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Formulir Input TKDN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>ID RUP</th>
                <td>{{ modtem.idrup }}</td>
              </tr>
              <tr>
                <th>Nama Paket</th>
                <td>{{ modtem.namapaket }}</td>
              </tr>
              <tr>
                <th>Nama Satker</th>
                <td>{{ modtem.namasatker }}</td>
              </tr>
              <tr>
                <th>PPK</th>
                <td>{{ modtem.ppk }}</td>
              </tr>
              <tr>
                <th>Metode Pengadaan</th>
                <td>{{ modtem.metodepengadaan }}</td>
              </tr>
              <tr>
                <th>Nilai Kontrak</th>
                <td><input type="hidden" v-model="modtem.kontrak_nilai" class="form-control" @input="handleInput" readonly>
                  Rp. {{ formatPrice(modtem.kontrak_nilai) }}</td>
              </tr>
              <tr>
                <th>Paket PDN/Non-PDN</th>
                <td>
                <select v-model="modtem.paket_pdn" class="form-control">
                  <option value="PDN">PDN</option>
                  <option value="Non-PDN">Non-PDN</option>
                </select>
              </td>
              </tr>
              <!-- <tr>
                <th>Nilai Kontrak (di Luar Pajak)</th>
                <td>
                  <input type="number" v-model="modtem.pp_realisasi" class="form-control" @input="handleInput">
                </td>
              </tr> -->
              <tr>
                <th>% TKDN</th>
                <td>
                  <input type="number" v-model="modtem.pk_realisasi" class="form-control" @input="handleInput">
                </td>
              </tr>
              <tr>
                <th>Nilai TKDN</th>
                <td>
                  <input type="text" class="form-control" :value="'Rp ' + modtem.tkdn_serah_terima" readonly>
                </td>
              </tr>
              <tr>
                <th>Nomor Sertifikat TKDN</th>
                <td>
                  <input type="text" v-model="modtem.no_sertifikat" class="form-control">
                </td>
              </tr>
              <tr>
              <th>Dokumen KAK</th>
              <td>
                <a
                  class="btn btn-primary btn-icon-split btn-sm"
                  @click="showFileInput('KAK')">
                  <span class="icon text-white-50">
                    <i class="fas fa-upload"></i>
                  </span> 
                  <span class="text">Upload KAK</span>
                </a>
                <input type="file" id="upload_KAK" ref="fileInput_KAK" accept="application/pdf" style="display: none;" @change="handleFileChange('KAK')">
                <div v-if="fileSelected.KAK">{{ fileName.KAK }}</div> <!-- Show file name if selected -->
                <button v-if="fileSelected.KAK" type="button" class="btn btn-success" @click="uploadFile('KAK')">Unggah</button> <!-- Show "Simpan" button if file is selected -->
                <!-- Progress bar -->
                <div class="progress" v-if="uploadProgress.KAK > 0 && uploadProgress.KAK < 100">
                  <div class="progress-bar" role="progressbar" :style="{ width: uploadProgress.KAK + '%' }" :aria-valuenow="uploadProgress.KAK" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress.KAK }}%</div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Dokumen Kontrak</th>
              <td>
                <a
                  class="btn btn-primary btn-icon-split btn-sm"
                  @click="showFileInput('Kontrak')">
                  <span class="icon text-white-50">
                    <i class="fas fa-upload"></i>
                  </span> 
                  <span class="text">Upload Kontrak</span>
                </a>
                <input type="file" id="upload_Kontrak" ref="fileInput_Kontrak" accept="application/pdf" style="display: none;" @change="handleFileChange('Kontrak')">
                <div v-if="fileSelected.Kontrak">{{ fileName.Kontrak }}</div> <!-- Show file name if selected -->
                <button v-if="fileSelected.Kontrak" type="button" class="btn btn-success" @click="uploadFile('Kontrak')">Unggah</button> <!-- Show "Simpan" button if file is selected -->
                <!-- Progress bar -->
                <div class="progress" v-if="uploadProgress.Kontrak > 0 && uploadProgress.Kontrak < 100">
                  <div class="progress-bar" role="progressbar" :style="{ width: uploadProgress.Kontrak + '%' }" :aria-valuenow="uploadProgress.Kontrak" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress.Kontrak }}%</div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Dokumen Serah Terima</th>
              <td>
                <a
                  class="btn btn-primary btn-icon-split btn-sm"
                  @click="showFileInput('SerahTerima')">
                  <span class="icon text-white-50">
                    <i class="fas fa-upload"></i>
                  </span> 
                  <span class="text">Upload Serah Terima</span>
                </a>
                <input type="file" id="upload_SerahTerima" ref="fileInput_SerahTerima" accept="application/pdf" style="display: none;" @change="handleFileChange('SerahTerima')">
                <div v-if="fileSelected.SerahTerima">{{ fileName.SerahTerima }}</div> <!-- Show file name if selected -->
                <button v-if="fileSelected.SerahTerima" type="button" class="btn btn-success" @click="uploadFile('SerahTerima')">Unggah</button> <!-- Show "Simpan" button if file is selected -->
                <!-- Progress bar -->
                <div class="progress" v-if="uploadProgress.SerahTerima > 0 && uploadProgress.SerahTerima < 100">
                  <div class="progress-bar" role="progressbar" :style="{ width: uploadProgress.SerahTerima + '%' }" :aria-valuenow="uploadProgress.SerahTerima" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress.SerahTerima }}%</div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Dokumen Kertas Kerja TKDN</th>
              <td>
                <a
                  class="btn btn-primary btn-icon-split btn-sm"
                  @click="showFileInput('KertasKerja')">
                  <span class="icon text-white-50">
                    <i class="fas fa-upload"></i>
                  </span> 
                  <span class="text">Upload Kertas Kerja TKDN</span>
                </a>
                <input type="file" id="upload_KertasKerja" ref="fileInput_KertasKerja" accept="application/pdf" style="display: none;" @change="handleFileChange('KertasKerja')">
                <div v-if="fileSelected.KertasKerja">{{ fileName.KertasKerja }}</div> <!-- Show file name if selected -->
                <button v-if="fileSelected.KertasKerja" type="button" class="btn btn-success" @click="uploadFile('KertasKerja')">Unggah</button> <!-- Show "Simpan" button if file is selected -->
                <!-- Progress bar -->
                <div class="progress" v-if="uploadProgress.KertasKerja > 0 && uploadProgress.KertasKerja < 100">
                  <div class="progress-bar" role="progressbar" :style="{ width: uploadProgress.KertasKerja + '%' }" :aria-valuenow="uploadProgress.KertasKerja" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress.KertasKerja }}%</div>
                </div>
                <p><a :href="downloadFile()" target="_blank">Download Template Penghitungan TKDN </a></p>
              </td>
            </tr>
            <tr>
              <th>Catatan APIP</th>
                <td>{{ modtem.keterangan }}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button v-if="isFileSelectedOrModified" type="button" class="btn btn-success" @click="editData">Simpan</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CurrencyInput from './CurrencyInput.vue'
import { mapGetters } from "vuex"

export default {
  name: 'inputtkdn',
  components: {
    CurrencyInput
  },
  data () {
    return {
      namaSatker: '',
      ppk: '',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'Rp.',
        precision: 2,
        masked: false
      },
      url: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      satker: '',
      loading: false,
      totalRows: 1,
      loadedRows: [],
      satkers: [],
      isBusy: false,
      editedData: {},       
      items: [
        {
          idrup: '',
          namapaket: '',
          ppk: '',
          jumlahpagu: 0,
          metodepengadaan: '',
          sumberdana: '',
          jenispengadaan: '',
          status_pemilihan: '',
          pkt_hps: 0,
          pemenang: '',
          kontrak_nilai: 0,
          kontrak_mulai: '',
          waktu_pelaksanan: '',
          pho: '',
          pp_target: 0,
          pp_deviasi: 0,
          pk_target: 0,
          pk_realisasi: 0,
          pk_deviasi: 0,
          no_sertifikat: '',
          nilai_pdn: 0,
          kendala: '',
          keterangan: '',
          updated_by: '',
          komitmen_pdn: 0,
          rencana_pdn: 0,
          realisasi_pdn: 0,
          tkdn_persiapan_pengadaan: 0,
          tkdn_persiapan_pemilihan: 0,
          tkdn_kontrak: 0,
          tkdn_serah_terima: 0,
          file: '',
          name: '',
          edit: true
        }
      ],
      modtem: {
        idrup: '',
        namapaket: '',
        ppk: '',
        jumlahpagu: 0,
        metodepengadaan: '',
        sumberdana: '',
        jenispengadaan: '',
        status_pemilihan: '',
        pkt_hps: 0,
        pemenang: '',
        kontrak_nilai: 0,
        kontrak_mulai: '',
        waktu_pelaksanan: '',
        pho: '',
        pp_target: 0,
        pp_deviasi: 0,
        pk_target: 0,
        pk_realisasi: 0,
        pk_deviasi: 0,
        nilai_pdn: 0,
        no_sertifikat: '',
        kendala: '',
        keterangan: '',
        updated_by: '',
        komitmen_pdn: 0,
        rencana_pdn: 0,
        realisasi_pdn: 0,
        tkdn_persiapan_pengadaan: 0,
        tkdn_persiapan_pemilihan: 0,
        tkdn_kontrak: 0,
        tkdn_serah_terima: 0,
        file: '',
        name: '',
        edit: true },
      file: '',
      formData: '',
      fileInput: '',
      fileSelected: { KAK: false, Kontrak: false, SerahTerima: false, KertasKerja: false }, // Flag to track if files are selected
      fileName: { KAK: '', Kontrak: '', SerahTerima: '', KertasKerja:'' }, // Name of the selected files
      uploadProgress: 0,
      originalFileName: '',
      name: '',
      type: '',
      size: '',
      lastModifiedDate: '',
      lastModified: '',
      object: ''
    }
  },

  computed: {
  ...mapGetters(["user"]),

  filteredItems() {
    // Jika data pencarian kosong, tampilkan semua item
    if (!this.dataSearch.trim()) {
      return this.items;
    } else {
      // Jika data pencarian tidak kosong, lakukan pencarian
      const searchData = this.dataSearch.toLowerCase().trim();
      return this.items.filter(modtem => {
        // Cek apakah nama paket atau IDRUP mengandung kata pencarian
        return modtem.namapaket.toLowerCase().includes(searchData) || modtem.idrup.toString().includes(searchData);
      });
    }
  },
  
  isFileSelectedOrModified() {
    return this.fileSelected || (this.originalFileName !== this.fileName);
  },

  loadingPercent: function() {
    return (this.loadedRows / this.totalRows) * 100;
    }
  },

  mounted () {
    if (!this.Auth()) {
      return;
    }
    this.getDataPaket()
  },

  watch: {
    dataSearch: function(newSearchValue, oldSearchValue) {
      this.filteredItems();
    }
  },
  
  methods: {
    Auth() {
      const token = localStorage.getItem('token');
      if (token) {
        axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
        return true;
      } else {
        this.$router.push('/login');
        return false;
      }
    },
    formatPrice (value) {
    let val = (value / 1).toFixed(0).replace('.', ',')
    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },

    parsePrice(value) {
      // Hilangkan tanda titik pemisah ribuan
      let val = value.replace(/\./g, '');
      val = val.replace(',', '.');
      // Parse nilai sebagai float
      return parseFloat(val);
    },

    getCurrentTime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var dateTime = date + ' ' + time
      return dateTime
    },

    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },

    showPreviewModal(modtem) {
      this.modtem = { ...modtem };
      $('#previewModal').modal({backdrop: 'static', 'show':true});
    },

    handleDownload (data) {
      var res = []
      for (let i = 0; i < data.length; i++) {
        const idrup = data[i].idrup
        const namapaket = data[i].namapaket
        const namasatker = data[i].namasatker
        const ppk = data[i].ppk
        const metodepengadaan = data[i].metodepengadaan
        const jumlahpagu = data[i].jumlahpagu
        const paket_pdn = data[i].paket_pdn
        const kontrak_nilai = data[i].kontrak_nilai
        const realisasi_pdn = data[i].realisasi_pdn
        const pemenang = data[i].pemenang
        const pk_realisasi = data[i].pk_realisasi
        const tkdn_serah_terima = data[i].tkdn_serah_terima
        const keterangan = data[i].keterangan

        var a = {
          'idrup': idrup,
          'namapaket': namapaket,
          'namasatker': namasatker,
          'ppk': ppk,
          'metodepengadaan': metodepengadaan,
          'jumlahpagu': jumlahpagu,
          'paket_pdn': paket_pdn,
          'kontrak_nilai': kontrak_nilai,
          'realisasi_pdn': realisasi_pdn,
          'pemenang': pemenang,
          'pk_realisasi': pk_realisasi,
          'tkdn_serah_terima': tkdn_serah_terima,
          'keterangan': keterangan
        }
        res.push(a)
      }
          import('../../plugins/Export2Excel').then(excel => {
            const tHeader = [
              'Kode RUP',
              'Nama Paket',
              'Nama Perangkat Daerah',
              'Nama PPK',
              'Metode Pengadaan',
              'Pagu',
              'Komitmen PDN',
              'Realisasi Paket (PDN/Non-PDN)',
              'Nilai Kontrak',
              'Realisasi PDN',
              'Nama Penyedia',
              '% TKDN',
              'Nilai TKDN',
              'Catatan'
            ]
            const filterVal = ['idrup', 'namapaket', 'namasatker', 'ppk', 'metodepengadaan', 'jumlahpagu', 'jumlahpagu', 'paket_pdn', 'kontrak_nilai', 'realisasi_pdn', 'pemenang', 'pk_realisasi', 'tkdn_serah_terima', 'keterangan']
            const list = res
            const data = this.formatJson(filterVal, list)
            excel.export_json_to_excel({
              header: tHeader,
              data,
              filename: 'Rekap Laporan P3DN' + this.getCurrentTime(),
              autoWidth: this.autoWidth,
              bookType: this.bookType
            })
          })
    },

    //cekuser () {
    //  this.role = localStorage.getItem('role')
    //  if (localStorage.getItem('role') !== 'pokja' || localStorage.getItem('role') === null) {
    //    this.$router.push({ path: 'login' })
    //  }
    //},

    async getDataPaket () {
      if (this.user && this.user.first_name && this.user.satker) {
          this.namaSatker = this.user.satker;
          this.ppk = this.user.first_name;

      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `../api/paket-all-review?ppk=${this.ppk}&namasatker=${this.namaSatker}`
        })
        this.items = response.data
        this.totalRows = response.data.length
        this.loading = false

        // Hapus DataTable sebelumnya, jika ada
        if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }

        // Inisialisasi DataTables
        $(document).ready(function() {
          $('#dataTable').DataTable({
            searching: false,
            response: true,
            order: []
          });
        });

      } catch (error) {
      }
      }
    },

    async getSatker () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `../api/satker`
        })
        this.satkers = response.data
      } catch (error) {

      }
    },

    showFileInput(type) {
      // Trigger click event of the corresponding input file element
      this.$refs[`fileInput_${type}`].click();
    },

    handleFileChange(type) {
      this.fileSelected[type] = true; // Set flag to true when file is selected
      const file = this.$refs[`fileInput_${type}`].files[0];
      this.fileName[type] = file.name; // Save file name
    },

    uploadFile(type) {
    const file = this.$refs[`fileInput_${type}`].files[0]; // Dapatkan file dari input file yang sesuai
    const formData = new FormData();
    formData.append('idrup', this.modtem.idrup);
    formData.append('file', file);

  // Tentukan endpoint API berdasarkan jenis file
  let endpoint;
  switch (type) {
    case 'KAK':
      endpoint = '../api/upload-tkdn-persiapan-pengadaan';
      break;
    case 'Kontrak':
      endpoint = '../api/upload-tkdn-kontrak';
      break;
    case 'SerahTerima':
      endpoint = '../api/upload-tkdn-serah-terima';
      break;
    case 'KertasKerja':
      endpoint = '../api/upload-kktkdn';
      break;
    default:
      // Endpoint tidak ditentukan untuk jenis file yang tidak valid
      return;
  }

  // Konfigurasi untuk mengukur progress unggahan
  const config = {
    onUploadProgress: progressEvent => {
      this.uploadProgress = Math.round((progressEvent.loaded / progressEvent.total) * 100);
    }
  };

  // Mengirim file ke server
  axios.post(endpoint, formData)
    .then(response => {
      this.$toasted.success(`Dokumen ${type} berhasil disimpan.`, {
        title: `Success`,
        solid: true,
        variant: 'success',
        duration: 3000
      });
      this.getDataPaket();
      // Mengatur kembali state setelah berhasil mengunggah file
      this.fileSelected[type] = false;
      this.fileName[type] = '';
      this.uploadProgress = 0; // Atur kemajuan kembali ke 0 setelah selesai
    })
    .catch(error => {
      this.$toasted.error(`Dokumen ${type} Gagal disimpan!`, {
        title: `Error`,
        solid: true,
        variant: 'danger',
        duration: 3000
      });
      this.uploadProgress = 0; // Atur kemajuan kembali ke 0 pada kasus error juga
    });
  },

    getFileKAK(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/tkdn-persiapan-pemilihan/${fileName}`;
    },

    getFileKontrak(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/tkdn-kontrak/${fileName}`;
    },

    getFileST(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/tkdn-serah-terima/${fileName}`;
    },

    getFileKK(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/tkdn-kertas-kerja/${fileName}`;
    },

    handleInput() {
      // Ambil nilai input
      // let value = event.target.value;
      // Validasi hanya menerima angka
      // value = value.replace(/\D/g, '');
      // Tetapkan kembali nilai ke model data
      // this.modtem.pp_realisasi = value;
      // Lakukan perhitungan TKDN dan format nilai pp_realisasi
      // this.formatPPRealisasi();
      this.calculateTKDN();
    },

/*    formatPPRealisasi() {
      // Ambil nilai pp_realisasi dari model data
      let value = this.modtem.pp_realisasi;
      // Lakukan formatting menggunakan metode formatPrice
      value = this.formatPrice(value);
      // Tetapkan kembali nilai yang telah diformat ke dalam model data
      this.modtem.pp_realisasi = value;
    }, */
    
    calculateTKDN() {
      // Hitung nilai TKDN berdasarkan pp_realisasi dan pk_realisasi
      this.modtem.tkdn_serah_terima = this.formatPrice(this.modtem.kontrak_nilai * this.modtem.pk_realisasi / 100);
    },

  downloadFile() {
  var fileName = 'Self_Assesment_TKDN.xlsx'; // Ganti dengan nama file yang ingin di-download
    var baseUrl = '/asset/'; // Ganti dengan URL dasar tempat file berada

    // Membuat URL lengkap file
    var fileUrl = baseUrl + fileName;

    // Mengembalikan URL file untuk tautan download
    return fileUrl;
},

    editData() {
      let serah_terima = this.parsePrice(this.modtem.tkdn_serah_terima);

      axios.post('/edit-progres', {
        idrup: this.modtem.idrup,
        paket_pdn: this.modtem.paket_pdn,
        kontrak_nilai: this.modtem.kontrak_nilai,
        pk_realisasi: this.modtem.pk_realisasi,
        tkdn_serah_terima: serah_terima,
        keterangan: this.modtem.keterangan,
        no_sertifikat: this.modtem.no_sertifikat
      })
      .then(response => {
        this.$toasted.success(`Data berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getDataPaket();
      })
      .catch(error => {
        this.$toasted.error(`Gagal menyimpan Data!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      });
    }
  }
}
</script>