<template>
    <div>
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Monitoring Pengawasan Non-PDN {{ namaSatker }} 2024</h1><br>
          <a
            class="btn btn-success btn-icon-split btn-sm"
            @click="handleDownload(items)">
            <span class="icon text-white-50">
              <i class="fas fa-download"></i>
            </span> 
            <span class="text">Download Laporan.xlsx</span>
          </a>
      </div>
      
  
         <!-- Content Row -->
     <div class="row">
        <!--Realisasi UMK-->
            <div class="col-xl-6 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div
                                      class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                  >
                                      Total Perencanaan Penyedia
                                  </div>
                                  <div
                                      class="h6 mb-0 font-weight-bold text-gray-800"
                                  >
                                    Rp. {{ formatPrice(total_perencanaan_penyedia) }}
                                  </div>
                              </div>
                              <div class="col-auto">
                                <div v-if="(total_perencanaan_penyedia/total_pelaksanaan_penyedia)*100 > 40" class="badge badge-success mr-1 ml-0 p-2">
                                <small>{{ parseFloat((total_perencanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                              </div>
                              <div v-if="(total_perencanaan_penyedia/total_perencanaan_penyedia)*100 <= 40" class="badge badge-danger mr-1 ml-0 p-2">
                                <small>{{ parseFloat((total_perencanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  
              <!--Realisasi UMK-->
            <div class="col-xl-6 col-md-6 mb-4">
                  <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div
                                      class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                  >
                                      Total Perencanaan Non PDN
                                  </div>
                                  <div
                                      class="h6 mb-0 font-weight-bold text-gray-800"
                                  >
                                    Rp. {{ formatPrice(total_nonpdn) }}
                                  </div>
                              </div>
                              <div class="col-auto">
                                <div v-if="(total_nonpdn/total_perencanaan_penyedia)*100 < 5" class="badge badge-success mr-1 ml-0 p-2">
                                <small>{{ parseFloat((total_nonpdn/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                              </div>
                              <div v-if="(total_nonpdn/total_perencanaan_penyedia)*100 > 5" class="badge badge-danger mr-1 ml-0 p-2">
                                <small>{{ parseFloat((total_nonpdn/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
    <div class="form-group">
    <input type="text" class="form-control" v-model="dataSearch" placeholder="Pencarian...">
    </div>
  
      <!-- Progress Bar -->
      <div v-if="loading" class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          :style="{ width: totalRows + '%' }"
          aria-valuemin="0"
          aria-valuemax="totalRows">
          Load Data 1{{ loadingPercent }}0%
        </div>
      </div>
  
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="7" class="text-center bg-warning text-white">Tahap Perencanaan</th>
                  <th colspan="6" class="text-center bg-success text-white">Tahap Pelaksanaan</th>
                </tr>
                <tr>
                  <th class="orderable">Monitoring <i class="fas fa-sort"></i></th>
                  <th class="orderable">ID RUP <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nama Paket <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nama Perangkat Daerah <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nama PPK <i class="fas fa-sort"></i></th>
                  <th class="orderable">Metode Pengadaan <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nilai Pagu <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nilai Kontrak <i class="fas fa-sort"></i></th>
                  <th class="orderable">Nama Penyedia <i class="fas fa-sort"></i></th>
                  <th class="orderable">Dokumen Perizinan<i class="fas fa-sort"></i></th>
                  <th class="orderable">Alasan <i class="fas fa-sort"></i></th>
                  <th class="orderable">Uraian Pekerjaan <i class="fas fa-sort"></i></th>
                  <th class="orderable">Catatan APIP <i class="fas fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="filteredItems.length === 0">
                  <td colspan="20">Data tidak tersedia.</td>
                </tr>
                <tr v-for="(modtem, index) in filteredItems" :key="index">
                  <td>
                    <button class="btn btn-primary" @click="showPreviewModal(modtem)">
                      <i class="fas fa-fw fa-tv"></i>
                    </button>
                  </td>
                  <td>{{ modtem.idrup }}</td>
                  <td>{{ modtem.namapaket }}</td>
                  <td>{{ modtem.namasatker }}</td>
                  <td>{{ modtem.ppk }}</td>
                  <td>{{ modtem.metodepengadaan }}</td>
                  <td>Rp. {{ formatPrice(modtem.jumlahpagu) }}</td>
                  <td>Rp. {{ formatPrice(modtem.kontrak_nilai) }}</td>
                  <td>{{ modtem.pemenang }}</td>
                  <td>
                    <a :href="getFileBP(modtem.file_bukti_perizinan)" target="_blank">{{ modtem.file_bukti_perizinan }}</a>
                  </td>
                  <td>{{ modtem.alasan_non_ukm }}</td>
                  <td>{{ modtem.urarian_pekerjaan }}</td>
                  <td>{{ modtem.keterangan }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <!-- Preview Modal -->
      <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="previewModalLabel">Monitoring Import</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <tr>
                  <th>ID RUP</th>
                  <td>{{ modtem.idrup }}</td>
                </tr>
                <tr>
                  <th>Nama Paket</th>
                  <td>{{ modtem.namapaket }}</td>
                </tr>
                <tr>
                  <th>Nama Satker</th>
                  <td>{{ modtem.namasatker }}</td>
                </tr>
                <tr>
                  <th>PPK</th>
                  <td>{{ modtem.ppk }}</td>
                </tr>
                <tr>
                  <th>Metode Pengadaan</th>
                  <td>{{ modtem.metodepengadaan }}</td>
                </tr>
                <tr>
                  <th>Nilai Pagu</th>
                  <td>Rp. {{ formatPrice(modtem.jumlahpagu) }}</td>
                </tr>
                <tr>
                  <th>Nilai Kontrak</th>
                  <td>Rp. {{ formatPrice(modtem.kontrak_nilai) }}</td>
                </tr>
                <tr>
                <th>Dokumen Perizinan</th>
                <td>
                    <a
                    class="btn btn-primary btn-icon-split btn-sm"
                    @click="showFileInput('BP')">
                    <span class="icon text-white-50">
                        <i class="fas fa-upload"></i>
                    </span> 
                    <span class="text">Upload Perizinan</span>
                    </a>
                    <input type="file" id="upload_BP" ref="fileInput_BP" style="display: none;" @change="handleFileChange('BP')">
                    <div v-if="fileSelected.BP">{{ fileName.KAK }}</div> <!-- Show file name if selected -->
                    <button v-if="fileSelected.BP" type="button" class="btn btn-success" @click="uploadFile('BP')">Unggah</button> <!-- Show "Simpan" button if file is selected -->
                    <!-- Progress bar -->
                    <div class="progress" v-if="uploadProgress.BP > 0 && uploadProgress.BP < 100">
                    <div class="progress-bar" role="progressbar" :style="{ width: uploadProgress.BP + '%' }" :aria-valuenow="uploadProgress.BP" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress.KAK }}%</div>
                    </div>
              </td>
              </tr>
              <tr>
                <th>Alasan</th>
                <td>{{ modtem.alasan_non_ukm }}</td>
              </tr>
              <tr>
                <th>Uraian Pekerjaan</th>
                <td>{{ modtem.urarian_pekerjaan }}</td>
              </tr> 
              <!-- <tr>
                <th>Input Catatan</th>
                  <td>
                    <div class="form-group">
                      <textarea class="form-control" v-model="modtem.keterangan"></textarea>
                    </div>
                  </td>
                </tr> -->
              </table>
            </div>
            <div class="modal-footer">
              <button v-if="isFileSelectedOrModified" type="button" class="btn btn-success" @click="editData">Simpan</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

<script>
import axios from 'axios'
import CurrencyInput from './CurrencyInput.vue'
import { mapGetters } from "vuex"

export default {
  name: 'inputimpor',
  components: {
    CurrencyInput
  },
  data () {
    return {
      total_perencanaan_penyedia: 0,
      total_pelaksanaan_penyedia: 0,
      total_nonpdn: 0,
      namaSatker: '',
      ppk: '',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'Rp.',
        precision: 2,
        masked: false
      },
      url: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      satker: '',
      loading: false,
      totalRows: 1,
      loadedRows: [],
      satkers: [],
      isBusy: false,
      editedData: {},       
      items: [
        {
          idrup: '',
          namapaket: '',
          ppk: '',
          jumlahpagu: 0,
          metodepengadaan: '',
          sumberdana: '',
          jenispengadaan: '',
          status_pemilihan: '',
          pkt_hps: 0,
          pemenang: '',
          kontrak_nilai: 0,
          kontrak_mulai: '',
          waktu_pelaksanan: '',
          pho: '',
          pp_target: 0,
          pp_deviasi: 0,
          pk_target: 0,
          pk_realisasi: 0,
          pk_deviasi: 0,
          nilai_pdn: 0,
          kendala: '',
          keterangan: '',
          alasan_non_ukm: '',
          urarian_pekerjaan: '',
          file: '',
          name: '',
          edit: true
        }
      ],
      modtem: {
        idrup: '',
        namapaket: '',
        ppk: '',
        jumlahpagu: 0,
        metodepengadaan: '',
        sumberdana: '',
        jenispengadaan: '',
        status_pemilihan: '',
        pkt_hps: 0,
        pemenang: '',
        kontrak_nilai: 0,
        kontrak_mulai: '',
        waktu_pelaksanan: '',
        pho: '',
        pp_target: 0,
        pp_deviasi: 0,
        pk_target: 0,
        pk_realisasi: 0,
        pk_deviasi: 0,
        nilai_pdn: 0,
        kendala: '',
        keterangan: '',
        alasan_non_ukm: '',
        urarian_pekerjaan: '',
        file: '',
        name: '',
        edit: true },
      file: '',
      formData: '',
      fileInput: '',
      fileSelected: { BP: false }, // Flag to track if files are selected
      fileName: { BP: ''}, // Name of the selected files      uploadProgress: 0,
      uploadProgress: 0,
      originalFileName: '',
      name: '',
      type: '',
      size: '',
      lastModifiedDate: '',
      lastModified: '',
      object: ''
    }
  },

  computed: {
  ...mapGetters(["user"]),

  filteredItems() {
    // Jika data pencarian kosong, tampilkan semua item
    if (!this.dataSearch.trim()) {
      return this.items;
    } else {
      // Jika data pencarian tidak kosong, lakukan pencarian
      const searchData = this.dataSearch.toLowerCase().trim();
      return this.items.filter(modtem => {
        // Cek apakah nama paket atau IDRUP mengandung kata pencarian
        return modtem.namapaket.toLowerCase().includes(searchData) || modtem.idrup.toString().includes(searchData);
      });
    }
  },
  
  isFileSelectedOrModified() {
    return this.fileSelected || (this.originalFileName !== this.fileName);
  },

  loadingPercent: function() {
    return (this.loadedRows / this.totalRows) * 100;
    }
  },

  mounted () {
    if (!this.Auth()) {
      return;
    }
    this.summary()
    this.getDataPaket()
  },

  watch: {
    dataSearch: function(newSearchValue, oldSearchValue) {
      this.filteredItems();
    }
  },
  
  methods: {
    Auth() {
      const token = localStorage.getItem('token');
      if (token) {
        axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
        return true;
      } else {
        this.$router.push('/login');
        return false;
      }
    },
    formatPrice (value) {
    let val = (value / 1).toFixed(0).replace('.', ',')
    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },

    parsePrice(value) {
      // Hilangkan tanda titik pemisah ribuan
      let val = value.replace(/\./g, '');
      val = val.replace(',', '.');
      // Parse nilai sebagai float
      return parseFloat(val);
    },

    getCurrentTime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var dateTime = date + ' ' + time
      return dateTime
    },

    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },

    showPreviewModal(modtem) {
      this.modtem = { ...modtem };
      $("#previewModal").modal({backdrop: 'static', 'show':true});
    },
    
    async summary () {
      // total-paket-pengadaan
      // realisasi-pengadaan
      // realisasi-pdn
      // realisasi-tkdn
      try {

        let bigbox = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: '/summary-all'
        })
        this.total_perencanaan_penyedia = bigbox.data[0].total_perencanaan_penyedia
        this.total_pelaksanaan_penyedia = bigbox.data[0].total_pelaksanaan_penyedia

      let nonPDN = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/non-pdn`
        })
        this.total_nonpdn = nonPDN.data[0].total_nonpdn
      } catch (error) {

      }
    },

    handleDownload (data) {
      var res = []
      for (let i = 0; i < data.length; i++) {
        const idrup = data[i].idrup
        const namapaket = data[i].namapaket
        const namasatker = data[i].namasatker
        const ppk = data[i].ppk
        const metodepengadaan = data[i].metodepengadaan
        const jumlahpagu = data[i].jumlahpagu
        const paket_pdn = data[i].paket_pdn
        const kontrak_nilai = data[i].kontrak_nilai
        const realisasi_pdn = data[i].realisasi_pdn
        const pemenang = data[i].pemenang
        const alasan_non_ukm = data[i].alasan_non_ukm
        const urarian_pekerjaan = data[i].urarian_pekerjaan
        const pk_realisasi = data[i].pk_realisasi
        const tkdn_serah_terima = data[i].tkdn_serah_terima
        const keterangan = data[i].keterangan

        var a = {
          'idrup': idrup,
          'namapaket': namapaket,
          'namasatker': namasatker,
          'ppk': ppk,
          'metodepengadaan': metodepengadaan,
          'jumlahpagu': jumlahpagu,
          'kontrak_nilai': kontrak_nilai,
          'pemenang': pemenang,
          'alasan_non_ukm': alasan_non_ukm,
          'urarian_pekerjaan': urarian_pekerjaan,
          'keterangan': keterangan
        }
        res.push(a)
      }
          import('../../plugins/Export2Excel').then(excel => {
            const tHeader = [
              'Kode RUP',
              'Nama Paket',
              'Nama Perangkat Daerah',
              'Nama PPK',
              'Metode Pengadaan',
              'Pagu',
              'Nilai Kontrak',
              'Nama Penyedia',
              'Alasan',
              'Uraian Pekerjaan',
              'Catatan'
            ]
            const filterVal = ['idrup', 'namapaket', 'namasatker', 'ppk', 'metodepengadaan', 'jumlahpagu','kontrak_nilai', 'pemenang', 'alasan_non_ukm', 'urarian_pekerjaan', 'keterangan']
            const list = res
            const data = this.formatJson(filterVal, list)
            excel.export_json_to_excel({
              header: tHeader,
              data,
              filename: 'Rekap Laporan Non-PDN' + this.getCurrentTime(),
              autoWidth: this.autoWidth,
              bookType: this.bookType
            })
          })
    },

    //cekuser () {
    //  this.role = localStorage.getItem('role')
    //  if (localStorage.getItem('role') !== 'pokja' || localStorage.getItem('role') === null) {
    //    this.$router.push({ path: 'login' })
    //  }
    //},

    async getDataPaket () {
      if (this.user && this.user.first_name && this.user.satker) {
          this.namaSatker = this.user.satker;
          this.ppk = this.user.first_name;

      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `../api/paket-all-import?ppk=${this.ppk}&namasatker=${this.namaSatker}`
        })
        this.items = response.data
        this.totalRows = response.data.length
        this.loading = false

        // Hapus DataTable sebelumnya, jika ada
        if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }

        // Inisialisasi DataTables
        $(document).ready(function() {
          $('#dataTable').DataTable({
            searching: false,
            response: true,
            order: []
          });
        });

      } catch (error) {
      }
      }
    },

    async getSatker () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `../api/satker`
        })
        this.satkers = response.data
      } catch (error) {

      }
    },

    showFileInput(type) {
      // Trigger click event of the corresponding input file element
      this.$refs[`fileInput_${type}`].click();
    },

    handleFileChange(type) {
      this.fileSelected[type] = true; // Set flag to true when file is selected
      const file = this.$refs[`fileInput_${type}`].files[0];
      this.fileName[type] = file.name; // Save file name
    },

    uploadFile(type) {
    const file = this.$refs[`fileInput_${type}`].files[0]; // Dapatkan file dari input file yang sesuai
    const formData = new FormData();
    formData.append('idrup', this.modtem.idrup);
    formData.append('file', file);

  // Tentukan endpoint API berdasarkan jenis file
  let endpoint;
  switch (type) {
    case 'BP':
      endpoint = '../api/upload-perizinan';
      break;
    default:
      // Endpoint tidak ditentukan untuk jenis file yang tidak valid
      return;
  }

  // Konfigurasi untuk mengukur progress unggahan
  const config = {
    onUploadProgress: progressEvent => {
      this.uploadProgress = Math.round((progressEvent.loaded / progressEvent.total) * 100);
    }
  };

  // Mengirim file ke server
  axios.post(endpoint, formData)
    .then(response => {
      this.$toasted.success(`Dokumen ${type} berhasil disimpan.`, {
        title: `Success`,
        solid: true,
        variant: 'success',
        duration: 3000
      });
      this.getDataPaket();
      // Mengatur kembali state setelah berhasil mengunggah file
      this.fileSelected[type] = false;
      this.fileName[type] = '';
      this.uploadProgress = 0; // Atur kemajuan kembali ke 0 setelah selesai
    })
    .catch(error => {
      this.$toasted.error(`Dokumen ${type} Gagal disimpan!`, {
        title: `Error`,
        solid: true,
        variant: 'danger',
        duration: 3000
      });
      this.uploadProgress = 0; // Atur kemajuan kembali ke 0 pada kasus error juga
    });
  },

    getFileBP(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/bukti-perizinan/${fileName}`;
    },


/*    formatPPRealisasi() {
      // Ambil nilai pp_realisasi dari model data
      let value = this.modtem.pp_realisasi;
      // Lakukan formatting menggunakan metode formatPrice
      value = this.formatPrice(value);
      // Tetapkan kembali nilai yang telah diformat ke dalam model data
      this.modtem.pp_realisasi = value;
    }, */
    

    editData() {
      let serah_terima = this.parsePrice(this.modtem.tkdn_serah_terima);

      axios.post('/edit-progres', {
        idrup: this.modtem.idrup,
        keterangan: this.modtem.keterangan
      })
      .then(response => {
        this.$toasted.success(`Data berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getDataPaket();
      })
      .catch(error => {
        this.$toasted.error(`Gagal menyimpan Data!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      });
    }
  }
}
</script>