<template>
  <div>
    <h1 class="h4 mb-2 text-gray-800">INDIKATOR KINERJA PENINGKATAN PENGGUNAAN PRODUK DALAM NEGERI (P3DN) PEMERINTAH DAERAH PROVINSI JAWA
BARAT TAHUN 2023-2026 DENGAN INDIKATOR INDEKS TATA KELOLA PENGADAAN BARANG DAN JASA</h1>
    <div class="row">
              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-success border-radius-xl mt-n4" style="font-size: 40px; text-align: center;">
                        <i class="fas fa-chart-line"></i>
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Tahun 2023</p>
                        <h6 class="text-success mb-0">Capaian 81.08 (Predikat Baik)</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                        <small>
                        <span class="text-dark text-sm font-weight-bolder">
                      Target 82.50
                        </span>
                        
                      </small> 
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-success border-radius-xl mt-n4" style="font-size: 40px; text-align: center;">
                        <i class="fas fa-chart-line"></i>
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target Tahun 2024</p>
                        <h6 class="mb-0">85.00</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                        <small>
                        <span class="text-success text-sm font-weight-bolder">
                          
                        </span>
                       
                      </small> 
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-success border-radius-xl mt-n4" style="font-size: 40px; text-align: center;">
                        <i class="fas fa-chart-line"></i>
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target Tahun 2025</p>
                        <h6 class="mb-0"> 87.50</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                        <small>
                        <span class="text-success text-sm font-weight-bolder">
                          
                        </span>
                       
                      </small> 
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-success border-radius-xl mt-n4" style="font-size: 40px; text-align: center;">
                        <i class="fas fa-chart-line"></i>
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target Tahun 2026</p>
                        <h6 class="mb-0">90.00</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                    <small>
                        <span class="text-success text-sm font-weight-bolder">
                         
                        </span>
                        
                      </small>  
                  </div>
                </div>
              </div>
       </div>
    <!--    <button class="btn btn-success mb-3" @click="handleDownload(items)">Report</button>
       <router-link to="/admin/addkuesioner"><button class="btn btn-primary mb-3">Dashboard Kuesioner</button></router-link> -->

      </br>
      <div>
        <h1 class="h4 mb-2 text-gray-800">STRATEGI PELAKSANAAN PENINGKATAN PENGGUNAAN PRODUK DALAM NEGERI (P3DN) PEMERINTAH DAERAH PROVINSI
JAWA BARAT TAHUN 2023-2026 DENGAN INDIKATOR INDEKS TATA KELOLA PENGADAAN BARANG DAN JASA</h1>
      </div>
    <div class="card">
      <div class="table-responsive">
    <!-- Main table element -->
      <table class="table table-bordered" id="example" >
      <!-- Table headers -->
      <thead class="thead-dark">
        <tr>
          <th style="width: 100px;">Kegiatan</th>
          <th style="width: 30%;">Indikator</th>
          <th style="width: 10%;">Eviden</th>
          <th style="width: 5%;">Skor</th>
          <th style="width: 10%;">Aksi</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <tr v-for="(item, index) in filteredItems" :key="index">
          <td>{{ item.kegiatan }}</td>
          <td style="width: 30%;">{{ item.indikator }}</td>
          <td>
            <button @click="getId(item.id)" id="id" name="id" class="btn btn-sm btn-success">Eviden</button>
            <!-- <button type="button" target="_blank" onclick="window.open('http://google.com');">google</button>{{ item.eviden }} -->
          </td>
          <td>
            {{item.realisasi_pelaksanaan}}
          </td>                  
            
          <td class="text-center">
            <button class="btn btn-primary" @click="showPreviewModal(item)">
                    <i class="fas fa-fw fa-edit"></i>Update
                  </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
    <!-- Pagination -->
    <!-- Preview Modal -->
    <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-large" id="previewModalLabel">Sertifikasi TKDN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>Kegiatan</th>
                <td>{{ item.kegiatan }}</td>
              </tr>
              <tr>
                <th>Indikator</th>
                <td>{{ item.indikator }}</td>
              </tr>
              <tr>
                <th>Link Eviden</th>
                <td><div class="form-group">
                    <textarea class="form-control" v-model="item.eviden"></textarea>
                  </div></td>
              </tr>
              
              <tr>
                <th>Input Skor</th>
                <td>
                  <div class="form-group">
                    <input type="number" class="form-control" v-model="item.realisasi_pelaksanaan"></input>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-primary" @click="editData">Simpan</button>  
          </div>
        </div>
      </div>
    </div>
    <!-- Info modal -->
    <!-- Info modal -->
  </div>
</template>

<script>
import axios from 'axios'
import { onMounted, ref } from 'vue'

export default {
  data () {
    return {
      id: '',
      skor: '',
      url: '',
      eviden: '',
      post: {},
      validation: [],
      responden: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      loading: false,
      kepatuhans: [],
      isBusy: false,
      item: {
        id: '',
        kegiatan: '',
        indikator: '',
        eviden: '',
        realisasi_pelaksanaan: '',
        target_pelaksanaan: '',
        periode: '',
        responden: ''
       },
      items: [
        {
        id: '',
        kegiatan: '',
        indikator: '',
        eviden: '',
        realisasi_pelaksanaan: '',
        target_pelaksanaan: '',
        periode: '',
        responden: ''
        }
      ],
      selectedItem: {}
    }
  },
  computed: {
    filteredItems() {
      return this.items.filter(item => {
        return item.indikator.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    }
  },
  mounted () {
    this.getItkp()
    this.loadData()
    this.getJumlah()
  },
  methods: {
    loadData() {
      axios.get(`/all-itkp`).then(response => {
        this.item = response.data;
      });
    },
    showPreviewModal(item) {
      this.item = { ...item };
      $("#previewModal").modal({backdrop: 'static', 'show':true});
    },
    async getItkp () {
      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/all-itkp`
        })
        this.isBusy = true
        this.items = response.data
        this.totalRows = response.data.length
        this.isBusy = false
      } catch (error) {

      }
    },
    getId(id) {
            // Lakukan apa pun yang Anda perlu lakukan dengan ID ini
        axios.get(`/itkp-get-url?id=${id}`)
        .then(response => {
          this.url = response.data[0].eviden;
          window.open(this.url, '_blank');
        })
        .catch(error => {
          console.error('Error fetching URL: ', error);
        });
        },

    async getJumlah () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/itkp-getskor`
        })
        this.ppbj_sertifikat = response.data[0].ppbj_sertifikat
        this.level_maturitas = response.data[0].level_maturitas
        this.pd_kepatuhan = response.data[0].pd_kepatuhan
      } catch (error) {

      }
    },
    
    editData() {
      axios.post('/itkp/edit-progres', {
        id: this.item.id,
        realisasi_pelaksanaan: this.item.realisasi_pelaksanaan,
        eviden: this.item.eviden
      })
      .then(response => 
      {
      this.$toasted.success(`Skor berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getItkp();
      })
      .catch(error => {
          this.$toasted.error(`Gagal menyimpan Skor!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      })
    }
  }

}
</script>

<style>
/* JUST COMMON TABLE STYLES... */
table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.table-responsive {
  overflow: auto;
  height: 400px;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
}
</style>