<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="per-page-select">Pilih Dimensi</label>
          <select class="form-control">
            <option>Dimensi 1: Desain dan Implementasi Kebijakan</option>
            <option>Dimensi 2: Kelembagaan P3DN </option>
            <option>Dimensi 3: Perencanaan Kebutuhan </option>
            <option>Dimensi 4: Perencanaan Pengadaan </option>
            <option>Dimensi 5: Pelaksanaan Pengadaan</option>
          </select>
        </div>
        <div class="form-group">
          <label for="per-page-select">Pilih Indikator</label>
          <select class="form-control">
            <option>1. Kebijakan yang mendorong belanjan PDN</option>
            <option>2. Belanja PDN sebagai IKU Unit Kerja Eselon-I/II/ setara</option>
            <option>3. Keberadaan kebijakan yang menghambat penggunaan PDN </option>
            <option>4. Roadmap strategi peningkatan penggunaan produk dalam negeri dan produk Usaha Mikro, Usaha Kecil, dan Koperasi </option>
            <option>5. Program pengurangan impor paling lambat pada tahun 2023 sampai dengan 5 (lima persen) bagi KLD yang masih melakukan pemenuhan belanja melalui impor </option>
            <option>6. Kebijakan yang mendorong supply PDN ke KLPBUBL.</option>
            <option>7. Kebijakan penyelenggaraan katalog elektronik lokal/sectoral </option>
          </select>
        </div>
      </div>

      <!-- Skor NSA-->
            <div class="col-xl-3 col-md-3 mb-1">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h6 font-weight-bold text-warning text-uppercase mb-3">
                                    Nilai Self Assesment
                                </div>
                                <div class="h1 mb-0 font-weight-bold text-gray-800">
                                    97%
                                </div>
                            </div>
                            <div class="col-mt-2">
                                <i class="fas fa-check fa-2x text-yellow-300 mt-2" style="color: orange"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- skor NVR-->
            <div class="col-xl-3 col-md-3 mb-1">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h6 font-weight-bold text-success text-uppercase mb-3">
                                    Nilai Verifikasi BPKP
                                </div>
                                <div class="h1 mb-0 font-weight-bold text-gray-800">
                                    75%
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check-double fa-2x text-green-300" style="color: green"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <button class="btn btn-success mb-3" @click="handleDownload(items)">Report</button>

    <div class="card">
    <!-- Main table element -->
    <table class="table table-bordered">
      <!-- Table headers -->
      <thead class="thead-dark">
        <tr>
          <th style="width: 80%">Parameter</th>
          <th style="width: 10%">Eviden</th>
          <th style="width: 10%">Skor</th>
          <th style="width: 10%">Aksi</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <!-- Table rows -->
        <tr>
            <th class="th-sm">1. Terdapat kebijakan yang mendorong belanjan PDN</th>
            <th><a class="btn btn-primary" href="https://1drv.ms/f/s!AmdI1Ugu6QaCqF6NhPa4CqIV5fhb?e=3cuJo7" target="_blank" role="button">Bukti</a></th>
            <th><input type="number" name="" id="" min="0" max="100"></th>
            <th><input type="submit"></th>
        <!--<tr v-for="(item, index) in items" :key="index">-->        
          <!-- Cell content -->
          <!-- Tambahkan sel-sel tabel di sini -->
        </tr>
        <tr>
            <th>2. Kebijakan telah disertai dengan mekanisme pemantauan, evaluasi, serta sistem reward and punishment</th>
            <th><a class="btn btn-primary" href="https://1drv.ms/f/s!AmdI1Ugu6QaCqFi1bA427b0MRlXJ?e=8wgeu1" target="_blank" role="button">Bukti</a></th>
            <th><input type="number" name="" id="" min="0" max="100"></th>
            <th><input type="submit"></th>
        </tr>
        <tr>
            <th>3. Mekanisme pemantauan dan evaluasi telah dilaksanakan ditunjukkan dengan adanya laporan pemantauan dan evaluasi kinerja kebijakan </th>
            <th><a class="btn btn-primary" href="https://1drv.ms/f/s!AmdI1Ugu6QaCqDviPSWPf1VbI0Gd?e=oMW6Or" target="_blank" role="button">Bukti</a></th>
            <th><input type="number" name="" id="" min="0" max="100"></th>
            <th><input type="submit"></th>
        </tr>
        <tr>
            <th>4. Sistem reward atas kepatuhan dan punishment atas ketidakpatuhan PA/KPA/Jabatan Sepadan telah dilaksanakan ditunjukkan dengan adanya kegiatan pemberian reward dan punishment</th>
            <th><a class="btn btn-primary" href="https://1drv.ms/f/s!AmdI1Ugu6QaCqFyFlH_fjakINt_4?e=swL7i4" target="_blank" role="button">Bukti</a></th>
            <th><input type="number" name="" id="" min="0" max="100"></th>
            <th><input type="submit"></th>
        </tr>
        <tr>
            <th>5. Efektivitas kebijakan yang mendorong belanja PDN dan UMKK telah dievaluasi secara formal ditunjukkan dengan adanya laporan hasil evaluasi </th>
            <th><a class="btn btn-primary" href="https://1drv.ms/f/s!AmdI1Ugu6QaCqDqxOdUqHD5EBx-R?e=13ixN6" target="_blank" role="button">Bukti</a></th>
            <th><input type="number" name="" id="" min="0" max="100"></th>
            <th><input type="submit"></th>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- Pagination -->
    <div class="row">
      <div class="col-md-6">
        <pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0" pills />
      </div>
    </div>
    <!-- Info modal -->
  </div>
</template>

<script>
export default {
    name: 'kepatuhan'
}
</script>