<template>
  <div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-800">Eviden Kepatuhan P3DN APIK 10 Kontrak</h1>
    </div>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="h5 mb-2 text-gray-800" for="kontrak">Pilih No Kontrak</label>
          <select id="kontrak" v-model="nokontrak" name="kontrak" class="form-control" @change="getDataKontrak()">
            <option v-for="data in kontrak" :key="data.id" :value="data.no_kontrak">{{ data.no_kontrak }}</option>
          </select>
        </div>
      </div>

      <!--
            <div class="col-xl-4 col-md-3 mb-1">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h6 font-weight-bold text-warning text-uppercase mb-3">
                                    Nilai Self Assesment
                                </div>
                                <div class="h1 mb-0 font-weight-bold text-gray-800">
                                    {{ this.nsa }} / 100 
                                </div>
                            </div>
                            <div class="col-mt-2">
                                <i class="fas fa-check fa-2x text-yellow-300 mt-2" style="color: orange"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- skor NVR
            <div class="col-xl-4 col-md-3 mb-1">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h6 font-weight-bold text-success text-uppercase mb-3">
                                    Nilai Verifikasi BPKP
                                </div>
                                <div class="h1 mb-0 font-weight-bold text-gray-800">
                                  {{ this.nva }} / 100 
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check-double fa-2x text-green-300" style="color: green"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addMonevModal">Tambah Kuesioner</button>
    <router-link to="/admin/kepatuhan"><button class="btn btn-primary mb-3">Kembali ke Kuesioner</button></router-link>
    <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th class="orderable bg-primary text-white" style="text-align: center;">No Kontrak<i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white" style="text-align: center;">Indikator<i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white" style="text-align: center;">Eviden <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white" style="text-align: center;">Skor <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white" style="text-align: center;">Aksi <i class="fas fa-sort"></i></th>
              </tr>
            </thead>
      <!-- Table body -->
      <tbody>
        <tr v-if="filteredItems.length === 0">
                <td colspan="5">Data tidak tersedia.</td>
              </tr>
        <tr v-for="(item, index) in filteredItems" :key="index">
          <td>{{ item.no_kontrak }}</td>
          <td>{{ item.kode }} - {{ item.indikator }}</td>
          <td style="text-align: center;">
             <button @click="getId(item.id)" id="id" name="id" class="btn btn-sm btn-success">Eviden</button>
            <!-- <button type="button" target="_blank" onclick="window.open('http://google.com');">google</button>{{ item.eviden }} -->
          </td>
          <td>                  
              {{ parseFloat(item.skor_nsa) }}
                    <!-- <input class="form-control" v-model="item.skor"></input> -->
          </td>
          <td class="text-center">
          <button class="btn btn-primary" @click="showPreviewModal(item)">
                    <i class="fas fa-fw fa-edit"></i>Update
                 </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- Pagination -->
 <!-- Preview Modal -->
 <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-large" id="previewModalLabel">Eviden Kepatuhan P3DN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>Kode</th>
                <td>{{ item.kode }}</td>
              </tr>
              <tr>
                <th>No Kontrak</th>
                <td>
                  <div class="form-group">
                    <input class="form-control" v-model="item.no_kontrak">
                  </div></td>
              </tr>
              <tr>
                <th>Nama Kontrak</th>
                <td>
                  <div class="form-group">
                    <input class="form-control" v-model="item.nama_kontrak">
                  </div>
                </td>
              </tr>
              <tr>
                <th>Dimensi</th>
                <td>{{ item.dimensi }}</td>
              </tr>
              <tr>
                <th>Indikator</th>
                <td>{{ item.indikator }}</td>
              </tr>
              <tr>
                <th>Paraneter</th>
                <td>{{ item.parameter }}</td>
              </tr>
              <tr>
                <th>Link Eviden</th>
                <td><div class="form-group">
                    <textarea class="form-control" v-model="item.eviden"></textarea>
                </div></td>
              </tr>
              
              <tr>
                <th>Input Skor</th>
                <td>
                  <div class="form-group">
                    <input class="form-control" v-model="item.skor_nsa">
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-primary" @click="editData">Simpan</button>  
          </div>
        </div>
      </div>
    </div>
    <!-- Info modal -->

    <div class="modal fade bd-example-modal-lg" id="addMonevModal" tabindex="-1" role="dialog" aria-labelledby="addMonevModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addMonevModalLabel">Tambah Kuesioner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form @submit.prevent="submitForm">
                  <div class="form-group">
                    <label for="no_kontrak">No Kontrak</label>
                    <input type="text" class="form-control" v-model="no_kontrak" required>
                  </div>
                  <div class="form-group">
                    <label for="nama_kontrak">Nama Kontrak</label>
                    <input type="text" class="form-control" v-model="nama_kontrak" required>
                  </div>
                  <div class="form-group">
                    <label for="kode">Kode</label>
                    <input type="text" class="form-control" v-model="kode" required>
                  </div>
                  <div class="form-group">
                    <label for="eviden">Eviden</label>
                    <input type="text" class="form-control" v-model="eviden" required>
                  </div>
                  <div class="form-group">
                    <label for="periode">Periode</label>
                    <flat-pickr v-model="periode" :config="datePickerConfig" class="form-control" required></flat-pickr>
                  </div>
                  <!-- <div class="form-group">
                    <label for="file">Upload File</label>
                    <input type="file" class="form-control-file" @change="handleFileUpload" required>
                  </div> -->
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import axios from 'axios';
import { onMounted, ref } from 'vue';
import Swal from 'sweetalert2';

export default {
  components: {
    flatPickr,
  },
  data () {
    return {
      no_kontrak: '',
      nama_kontrak: '',
      kode: '',
      eviden: '',
      periode: '',
      datePickerConfig: {
        dateFormat: 'Y',
        altInput: true,
        altFormat: 'Y',
        mode: 'single', // Mode 'single' digunakan untuk menampilkan pilihan bulan dan tahun
        enableTime: false, // Setelah mengatur mode 'single', disable fitur waktu
        inline: false, // Bisa diubah sesuai kebutuhan Anda
      },
      id: '',
      skor_nsa: '',
      skor: '',
      url: '',
      eviden: '',
      post: {},
      validation: [],
      no_kontrak: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      loading: false,
      kontrak: [],
      skors: [],
      nsa: '',
      nva: '',
      isBusy: false,
      item: {
        id: '',
        kode: '',
        dimensi: '',
        indikator: '',
        parameter: '',
        eviden: '',
        skor_nsa: '',
        skor_nva: '',
        periode: '',
        responden: '',
        no_kontrak: '',
        nama_kontrak: '',
       },
      items: [
        {
        id: '',
        kode: '',
        dimensi: '',
        indikator: '',
        parameter: '',
        eviden: '',
        skor_nsa: '',
        skor_nva: '',
        periode: '',
        responden: '',
        no_kontrak: '',
        nama_kontrak: '',
        }
      ],
      selectedItem: {}
    }
  },
  computed: {
    filteredItems() {
      return this.items.filter(item => {
        return item.no_kontrak.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    }
  },
  mounted () {
    this.getDataKontrak()
    this.loadData()
    this.getKontrak()
    this.getSkor()
  },
  methods: {
    loadData() {
      axios.get(`/all-kepatuhan-kontrak?no_kontrak=${this.selectedItem}`).then(response => {
        this.items = response.data;
      });
    },
    showPreviewModal(item) {
      this.item = { ...item };
      $("#previewModal").modal({backdrop: 'static', 'show':true});
    },
    async getDataKontrak () {
      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/all-kepatuhan-kontrak?no_kontrak=${this.nokontrak}`
        })
        this.isBusy = true
        this.items = response.data
        this.totalRows = response.data.length
        this.isBusy = false
         // Hapus DataTable sebelumnya, jika ada
         if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }
      // Inisialisasi DataTables hanya jika ada data
      if (this.totalRows > 0) {
          $(document).ready(() => {
            $('#dataTable').DataTable({
              searching: true,
              responsive: true,
              order: []
            });
          });
        } else {
          // Tangani kasus jika tidak ada data
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Data tidak tersedia!',
          })
        }
      } catch (error) {
        console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Data Gagal Diupdate',
            });
      }
    },
    submitForm() {
      let formData = new FormData();
      formData.append('no_kontrak', this.no_kontrak);
      formData.append('nama_kontrak', this.nama_kontrak);
      formData.append('kode', this.kode);
      formData.append('eviden', this.eviden);
      formData.append('periode', this.periode);

      axios.post('/add-kontrak',formData).then(response => {
          console.log(response.data.message);
          Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: 'Data Berhasil Ditambahkan',
            });
            this.getMonev();
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
                icon: 'failed',
                title: 'Gagal',
                text: 'Data Gagal Ditambahkan',
            });
            this.getMonev();
        });
    },
    getId(id) {
            // Lakukan apa pun yang Anda perlu lakukan dengan ID ini
        axios.get(`/kepatuhan-get-url?id=${id}`)
        .then(response => {
          this.url = response.data[0].eviden;
          window.open(this.url, '_blank');
        })
        .catch(error => {
          console.error('Error fetching URL: ', error);
        });
        },

    async getKontrak () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/kepatuhan-kontrak`
        })
        this.kontrak = response.data
      } catch (error) {

      }
    },

    async getSkor () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/kepatuhan/get-skor`
        })
        this.skors = response.data
        this.nsa = response.data[0].nsa
        this.nva = response.data[0].nva
      } catch (error) {

      }
    },
    
    editData() {
      axios.post('/kepatuhan-kontrak/edit-progres', {
        id: this.item.id,
        skor_nsa: this.item.skor_nsa,
        eviden: this.item.eviden,
        no_kontrak: this.item.no_kontrak,
        nama_kontrak: this.item.nama_kontrak
      })
      .then(response => 
      {
      this.$toasted.success(`Skor berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getDataKontrak();
      })
      .catch(error => {
          this.$toasted.error(`Gagal menyimpan Skor!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      })
    }
  }

}
</script>