<template>
  <div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h4 mb-0 text-gray-800">Management User</h1>
      <a class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#addMonevModal">
        <span class="icon text-white-50">
          <i class="fas fa-user-plus"></i>
        </span>
        <span class="text">Tambah User</span>
      </a>
    </div>

    <!-- Content Row -->
   <div class="row">
      <!--Dashboard User-->
      <div class="col-lg-4 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Jumlah NIP PPK di SIRUP</p>
                        <h6 class="mb-0">{{ sirup_ppk }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(sirup_ppk/sirup_ppk)*100 > 60"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((sirup_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                        <span v-if="(sirup_ppk/sirup_ppk)*100 < 60"  class="text-danger text-sm font-weight-bolder fade-in">
                          {{ parseFloat((sirup_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                      </small>
                  </div>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-0">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user-registrasi.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">PPK terdaftar di KAWANI</p>
                        <h6 class="mb-0">{{ user_ppk }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(user_ppk/sirup_ppk)*100"  class="text-success text-sm font-weight-bolder fade-in">
                          {{ parseFloat((user_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                        dari total NIP PPK SIRUP
                      </small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-0">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user-regist.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">User Login Hari ini</p>
                        <h6 class="mb-0">{{ login_today }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(login_today/user_ppk)*100"  class="text-success text-sm font-weight-bolder fade-in">
                          {{ parseFloat((login_today/user_ppk)*100).toFixed(2) }}% 
                        </span>
                        dari total user yang terdaftar
                      </small>
                  </div>
                </div>
              </div>
          
        </div>

    <!-- Progress Bar -->
    <div v-if="loading" class="progress">
      <div class="progress-bar" role="progressbar" :style="{ width: loadingPercent + '%' }" aria-valuemin="0" aria-valuemax="100">
        Load Data {{ loadingPercent }}%
      </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <!-- <th class="orderable bg-primary text-white">ID <i class="fas fa-sort"></i></th> -->
                <th class="orderable bg-primary text-white">Nama <i class="fas fa-sort"></i></th>
                <!-- <th class="orderable bg-primary text-white">Email <i class="fas fa-sort"></i></th> -->
                <th class="orderable bg-primary text-white">Nama Perangkat Daerah <i class="fas fa-sort"></i></th>
                <!-- <th class="orderable bg-primary text-white">NIP <i class="fas fa-sort"></i></th> -->
                <th class="orderable bg-primary text-white">Username <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Role <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Status <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Last Active <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Aksi <i class="fas fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="filteredItems.length === 0">
                <td colspan="8">Data tidak tersedia.</td>
              </tr>
              <tr v-for="(modtem, index) in filteredItems" :key="index">
                <!-- <td>{{ modtem.id }}</td> -->
                <td>{{ modtem.first_name }}</td>
                <!-- <td>{{ modtem.email }}</td> -->
                <td>{{ modtem.satker }}</td>
                <!-- <td>{{ modtem.nip }}</td> -->
                <td>{{ modtem.user_name }}</td>
                <td>{{ modtem.role }}</td>
                <td>
                  <span v-if="modtem.is_active === true" class="badge badge-success">
                      <h6><i class="fas fa-user-check">Aktif</i></h6>
                  </span>
                  <span v-if="modtem.is_active === false" class="badge badge-danger fade-in">
                      <h6><i class="fas fa-user-times"></i>Non Aktif</h6>
                  </span>
                </td>
                <td>{{ modtem.last_login }}</td>
                <td>
                  <button class="btn btn-success" @click="showPreviewModal(modtem)">
                    <i class="fas fa-fw fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" @click="confirmDelete(modtem.id)">
                    <i class="fas fa-fw fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Preview Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Update User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>ID</th>
                <td>{{ selectedUser.id }}</td>
              </tr>
              <tr>
                <th>Nama</th>
                <td><input type="text" v-model="selectedUser.first_name" class="form-control"></td>
              </tr>
              <tr>
                <th>Email</th>
                <td><input type="email" v-model="selectedUser.email" class="form-control"></td>
              </tr>
              <tr>
                <th>Nama Satker</th>
                <td>{{ selectedUser.satker }}</td>
              </tr>
              <tr>
                <th>NIP</th>
                <td>{{ selectedUser.nip }}</td>
              </tr>
              <tr>
                <th>Username</th>
                <td><input type="text" v-model="selectedUser.user_name" class="form-control"></td>
              </tr>
              <tr>
                <th>Role</th>
                  <td>
                      <select v-model="selectedUser.role" class="form-control">
                          <option value="admin">Admin</option>
                          <option value="apip">APIP</option>
                          <option value="pokja">Pokja</option>
                          <option value="ppk">PPK</option>
                      </select>
                  </td>
              </tr>
              <tr>
                <th>Ubah Password</th>
                <td>
                  <input type="password" v-model="newPassword" class="form-control" placeholder="Masukkan password baru">
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveUserData">Simpan</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="addMonevModal" tabindex="-1" role="dialog" aria-labelledby="addMonevModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addMonevModalLabel">Tambah User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form @submit.prevent="register">
                  <div class="form-group">
                    <label for="first_name">Nama</label>
                    <input type="text" class="form-control" v-model="first_name" required>
                  </div>
                  <div class="form-group">
                    <label for="nama_kontrak">Username</label>
                    <input type="text" class="form-control" v-model="user_name" required>
                  </div>
                  <div class="form-group">
                    <label for="kode">Role</label>
                    <select v-model="role" class="form-control">
                          <option value="admin">Admin</option>
                          <option value="apip">APIP</option>
                          <option value="pokja">Pokja</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="eviden">Password</label>
                    <input type="password" class="form-control" v-model="password" required>
                  </div>
                  <div class="form-group">
                    <label for="eviden">Konfirmasi Password</label>
                    <input type="password" class="form-control" v-model="password_confirm" required>
                  </div>
                  <!--<div class="form-group">
                    <label for="periode">Periode</label>
                    <flat-pickr v-model="periode" :config="datePickerConfig" class="form-control" required></flat-pickr>
                  </div>
                  <div class="form-group">
                    <label for="file">Upload File</label>
                    <input type="file" class="form-control-file" @change="handleFileUpload" required>
                  </div> -->
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
  name: 'man-user',
  data() {
    return {
      first_name: '',
      user_name: '',
      role: '',
      password: '',
      password_confirm: '',
      sirup_ppk: '',
      user_ppk: '',
      login_today: '',
      loading: false,
      items: [],
      totalRows: 0,
      dataSearch: '',
      selectedUser: {},
      newPassword: ''
    };
  },
  computed: {
    ...mapGetters(["user"]),
    filteredItems() {
      return this.items.filter(item => {
        return item.first_name.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.email.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.satker.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.nip.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.user_name.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.role.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    },
    loadingPercent() {
      return (this.totalRows / 100) * 100; // Adjust as needed based on actual loading logic
    }
  },
  methods: {
    async getCountUser() {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/countuser`
        })
        this.sirup_ppk = response.data[0].sirup_ppk
        this.user_ppk = response.data[0].user_ppk 
        this.login_today = response.data[0].login_today  
      } catch (error) {

      }
    },
    async getDataUser() {
      try {
        this.loading = true;
        let response = await axios.get('/users');
        this.items = response.data;
        this.totalRows = response.data.length;
        this.loading = false;

        // Hapus DataTable sebelumnya, jika ada
        if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }

        // Inisialisasi DataTables hanya jika ada data
        if (this.totalRows > 0) {
          $(document).ready(() => {
            $('#dataTable').DataTable({
              searching: true,
              responsive: true,
              order: []
            });
          });
        } else {
          // Tangani kasus jika tidak ada data
          alert('Data tidak tersedia');
        }
      } catch (error) {
        console.error('Error:', error);
        this.loading = false;
      }
    },
    showPreviewModal(user) {
      this.selectedUser = { ...user };
      this.newPassword = ''; // Reset password field
      $('#previewModal').modal('show');
    },
    async saveUserData() {
      try {
        let updateData = {
          first_name: this.selectedUser.first_name,
          email: this.selectedUser.email,
          user_name: this.selectedUser.user_name,
          role: this.selectedUser.role
        };

        if (this.newPassword) {
          updateData.password = this.newPassword;
        }

        await axios.put(`/updateusers/${this.selectedUser.id}`, updateData);
        Swal.fire({
          icon: 'success',
          title: 'Berhasil',
          text: 'Data Berhasil Diupdate',
          });
        $('#previewModal').modal('hide');
        this.getDataUser();
      } catch (error) {
        console.error('Error:', error);
        Swal.fire({
        icon: 'error',
        title: 'Data Gagal Diupdate',
        });
      }
    },
    async register() {
    try {
        var response = await axios.post('/registrasi', {
            first_name: this.first_name,
            user_name: this.user_name,
            role: this.role,
            password: this.password,
            password_confirm: this.password_confirm,
        });

        let message = "Selamat akun KAWANI berhasil dibuat, Silahkan Login!";
        await Swal.fire({
            icon: 'success',
            title: 'Berhasil',
            text: message,
            toast: true,
        });

        this.$router.push("/admin/man-user");
        
      } catch (error) {
        // Tangkap error dari axios
        if (error.response) {
            // Tangkap respons error dari backend
            let errorMessage = error.response.data.message || 'Terjadi kesalahan saat melakukan registrasi.';
            
            await Swal.fire({
                icon: 'error',
                title: 'Gagal',
                text: errorMessage,
                showConfirmButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            });
        } else {
            // Tangkap error umum
            console.error('Error:', error.message);
            await Swal.fire({
                icon: 'error',
                title: 'Gagal',
                text: 'Terjadi kesalahan saat melakukan registrasi.',
                showConfirmButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            });
        }
    }
},
    async confirmDelete(userId) {
      // Log the user ID to ensure it's being passed correctly
      console.log('Deleting user with ID:', userId);

      // Ensure userId is valid before proceeding
      if (!userId) {
        Swal.fire({
          title: "Error!",
          text: "Invalid user ID.",
          icon: "error"
        });
        return;
      }

      Swal.fire({
        title: "Kamu Yakin?",
        text: "Setelah dihapus data user tidak bisa dipulihkan!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(async (result) => {
        if (result.isConfirmed) {
          try {
            await axios.delete(`/updateusers/${userId}`);
            Swal.fire({
              title: "Berhasil Dihapus!",
              text: "User telah dihapus dari Database",
              icon: "success"
            });
            this.getDataUser();
          } catch (error) {
            Swal.fire({
              title: "Error!",
              text: "There was an error deleting the user.",
              icon: "error"
            });
          }
        }
      });
    },
    async created() {
  // Sebagai contoh, saya akan asumsikan kamu memiliki informasi peran pengguna yang masuk dalam suatu variabel role
    const role = this.user.role;

        if (role !== 'admin') {
          // Jika pengguna bukan admin, tampilkan pesan kesalahan dan alihkan ke halaman admin
          Swal.fire({
            title: "Akses Ditolak",
            text: "Anda tidak mempunyai otoritas untuk mengakses halaman ini.",
            icon: "error"
          });
          this.$router.push('/admin');
        } else {
          // Jika pengguna adalah admin, lanjutkan untuk mengambil data pengguna
          await this.getDataUser();
        }
      }
  },
  mounted() {
        // Lakukan apa yang perlu dilakukan untuk admin
        this.getDataUser();
        this.getCountUser();
        this.created();

}
};
</script>
