<template>
  <div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h4 mb-0 text-gray-800">Management User Aplikasi KAWANI 2.0</h1>
    </div>

    <!-- Content Row -->
   <div class="row">
      <!--Dashboard User-->
      <div class="col-lg-4 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Jumlah NIP PPK di SIRUP</p>
                        <h6 class="mb-0">{{ sirup_ppk }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(sirup_ppk/sirup_ppk)*100 > 60"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((sirup_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                        <span v-if="(sirup_ppk/sirup_ppk)*100 < 60"  class="text-danger text-sm font-weight-bolder fade-in">
                          {{ parseFloat((sirup_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                      </small>
                  </div>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-0">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user-registrasi.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">PPK terdaftar di KAWANI</p>
                        <h6 class="mb-0">{{ user_ppk }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(user_ppk/sirup_ppk)*100"  class="text-success text-sm font-weight-bolder fade-in">
                          {{ parseFloat((user_ppk/sirup_ppk)*100).toFixed(2) }}% 
                        </span>
                        dari total NIP PPK SIRUP
                      </small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-0">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/user-regist.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">User Login Hari ini</p>
                        <h6 class="mb-0">{{ login_today }} User</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(login_today/user_ppk)*100"  class="text-success text-sm font-weight-bolder fade-in">
                          {{ parseFloat((login_today/user_ppk)*100).toFixed(2) }}% 
                        </span>
                        dari total user yang terdaftar
                      </small>
                  </div>
                </div>
              </div>
          
        </div>
    

    <div class="card shadow mb-4">
      <div class="card-body">
        <button
        @click="showPreviewModalAdd"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="	fas fa-user-plus fa-sm text-white-50"></i> Tambah User
      </button>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th class="orderable">NIP <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama User <i class="fas fa-sort"></i></th>
                <th class="orderable">Nama Perangkat Daerah <i class="fas fa-sort"></i></th>
                <th class="orderable">Role <i class="fas fa-sort"></i></th>
                <th class="orderable">Status <i class="fas fa-sort"></i></th>
                <th class="orderable">Last Active <i class="fas fa-sort"></i></th>
                <th class="text-center">Manage</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in items" :key="index">
                <td>{{ item.nip }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.satker }}</td>
                <td>{{ item.role }}</td>
                <td style="text-align: center;">
                  <span v-if="item.is_active === true" class="badge badge-success">
                      <h6><i class="fas fa-user-check"></i></h6>
                  </span>
                  <span v-if="iis_active === false" class="badge badge-danger fade-in">
                      <h6><i class="fas fa-user-times"></i></h6>
                  </span>
                </td>
                <td>{{ item.last_login }}</td>
                <td style="text-align: center;">
                  <button class="btn btn-primary" @click="showPreviewModal(item)">
                    <i class="fas fa-user-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Preview Modal -->
    <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Update  User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>NIP</th>
                <td>: {{ item.nip }}</td>
              </tr>
              <tr>
                <th>Nama User</th>
                <td>: {{ item.first_name }}</td>
              </tr>
              <tr>
                <th>Nama Satker</th>
                <td>: {{ item.satker }}</td>
              </tr>
              <tr>
                <th>Role</th>
                <td>
                  <select v-model="item.role">
                    <option value="ppk">PPK</option>
                    <option value="pokja">Pokja</option>
                    <option value="admin">Admin</option>
                    <!-- Tambahkan opsi lain sesuai kebutuhan -->
                  </select>
                </td>
              </tr>
              <tr>
                <th>Ganti Password</th>
                    <td>
                    <div class="form-group">
                        <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                        v-model="item.password"/>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th>Ulangi Password</th>
                    <td>
                    <div class="form-group">
                        <input
                        type="password"
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Password"
                        v-model="item.password"/>
                    </div>
                    </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button v-if="isFileSelectedOrModified" type="button" class="btn btn-success" @click="editData">Simpan</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Preview Modal Add User -->
    <div class="modal fade bd-example-modal-lg" id="previewModalAdd" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Tambah  User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>NIP</th>
                <td>
                  <input type="text" v-model="item.nip" class="form-control">
                </td>
              </tr>
              <tr>
                <th>Nama User</th>
                <td>
                  <input type="text" v-model="item.first_name" class="form-control">
                </td>
              </tr>
              <tr>
                <th>Nama Satker</th>
                <td>
                  <input type="text" v-model="item.satker" class="form-control">
                </td>
              </tr>
              <tr>
                <th>Role</th>
                <td>
                  <select v-model="item.role" class="form-control">
                    <option value="ppk">PPK</option>
                    <option value="pokja">Pokja</option>
                    <option value="admin">Admin</option>
                    <!-- Tambahkan opsi lain sesuai kebutuhan -->
                  </select>
                </td>
              </tr>
              <tr>
                <th>Ganti Password</th>
                <td>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Password"
                      v-model="item.password"/>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Ulangi Password</th>
                <td>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPasswordConfirmation"
                      placeholder="Ulangi Password"
                      v-model="item.password_confirmation"/>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" @click="register">Simpan</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CurrencyInput from './CurrencyInput.vue'
import { mapGetters } from "vuex"

export default {
  name: 'mon-impor',
  components: {
    CurrencyInput
  },
  data () {
    return {
      sirup_ppk: '',
      user_ppk: '',
      login_today: '',
      isBusy: false,
      editedData: {},        
      item: [
        {
          id: '',
          nip: '',
          user_name: '',
          first_name: '',
          satker: '',
          role: '',
          is_active: '',
          last_login: '',
          edit: true
        }
      ],
      items: {
        id: '',
        nip: '',
        user_name: '',
        first_name: '',
        satker: '',
        role: '',
        is_active: '',
        last_login: '',
        edit: true },
    }
  },

  computed: {
  ...mapGetters(["user"]),
  },

  mounted () {
    this.getDataUser()
    this.getCountUser()
    //this.cekuser()
    //this.summary()
//    this.count()
  },
  
  methods: {

    showPreviewModal(item) {
      this.item = { ...item };
      $("#previewModal").modal("show");
    },

    showPreviewModalAdd() {
      $("#previewModalAdd").modal("show");
    },

    async getDataUser() {
      try {
        this.loading = true;
        let response = await axios.get(`../api/userlist`);
        this.items = response.data;
        this.totalRows = response.data.length;
        this.loading = false;

        // Hapus DataTable sebelumnya, jika ada
        if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }

        // Cek apakah data tersedia sebelum menginisialisasi DataTables
        if (this.totalRows > 0) {
          // Inisialisasi DataTables hanya jika ada data
          $(document).ready(function() {
            $('#dataTable').DataTable({
              searching: true,
              response: true,
              order: [],
              dom: '<"top"f><"clear"><"top"t><"clear"><"bottom"ip><"clear">',
              language: {
              searchPlaceholder: "Cari Nama Pengguna.."
            }
            });
          });
        }
      } catch (error) {
        console.error('Error:', error);
        if (error.response && error.response.status === 404) {
          alert('Data tidak tersedia');
        } else {
          alert('Terjadi kesalahan. Silakan coba lagi nanti.');
        }
      }
    },

    async getCountUser () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `../api/countuser`
        })
        this.sirup_ppk = response.data[0].sirup_ppk
        this.user_ppk = response.data[0].user_ppk 
        this.login_today = response.data[0].login_today  
      } catch (error) {

      }
    },

    async checkNip() {
        try {
            const response = await axios.get(`cek-ppk?nip_ppk=${this.user_name}`);
            if (response.data.status === 200) {
                // Jika NIP tersedia, tambahkan data satker ke data register
                const dataPPK = response.data.data;
                this.ppkReg = dataPPK.ppk;
                this.satkerReg = dataPPK.namasatker;
                return true;
            } else {
                return false;
            }
        } catch (error) {
            console.error("Error while checking NIP:", error);
            throw new Error("Failed to check NIP");
        }
    },

    async register() {
        this.isLoading = true;
        try {
            const isNipAvailable = await this.checkNip();
            
            if (isNipAvailable) {
                var response = await axios.post("register", {
                    first_name: this.ppkReg,
                    user_name: this.user_name,
//                    email: this.email,
                    password: this.password,
                    password_confirm: this.password_confirm,
                    role: this.role,
                    satker: this.satkerReg,
                    nip: this.user_name
                });

                this.isLoading = false;

                if (response.data.must_verify_email) {
                    this.$router.push(`/verify/user/${response.data.id}`);
                } else {
                    let message = "Selamat akun anda berhasil dibuat, Silahkan Login!";
                    let popup = document.createElement('div');
                    popup.textContent = message;
                    popup.style.cssText = `
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #008000; /* warna latar belakang merah */
                    color: #ffffff; /* warna teks putih */
                    padding: 20px;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    z-index: 9999; /* pastikan pop-up di atas elemen lain */
                    `;

                    // Tambahkan elemen pop-up ke dalam body dokumen
                    document.body.appendChild(popup);

                    // Hapus pop-up setelah beberapa detik (misalnya 5 detik)
                    setTimeout(function() {
                        popup.remove();
                    }, 5000);
/*                    let toast = Vue.toasted.show(message, {
                        theme: "toasted-primary",
                        position: "top-right",
                        duration: 5000,
                    }); */
                    this.$router.push("/login");
                }
            } else {
                let message = "NIP tidak ditemukan atau sudah terdaftar!";

                // Buat sebuah elemen div untuk menampung pesan
                let popup = document.createElement('div');
                popup.textContent = message;
                popup.style.cssText = `
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ff0000; /* warna latar belakang merah */
                color: #ffffff; /* warna teks putih */
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                z-index: 9999; /* pastikan pop-up di atas elemen lain */
                `;

                // Tambahkan elemen pop-up ke dalam body dokumen
                document.body.appendChild(popup);

                // Hapus pop-up setelah beberapa detik (misalnya 5 detik)
                setTimeout(function() {
                    popup.remove();
                }, 5000);
                this.isLoading = false;
/*                let message = "NIP tidak ditemukan atau sudah digunakan!";
                let toast = Vue.toasted.show(message, {
                    theme: "toasted-error",
                    position: "top-right",
                    duration: 5000, 
                });
                this.isLoading = false;*/
            }
        } catch (error) {
            notify.authError(error);
            this.isLoading = false;
        }
    },

    


    editData() {
      axios.post('/edit-progres', {
        idrup: this.items.idrup,
        keterangan: this.items.keterangan
      })
      .then(response => {
        this.$toasted.success(`Data berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getDataPaket();
      })
      .catch(error => {
        this.$toasted.error(`Gagal menyimpan Data!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      });
    }
  }
}
</script>