<template>
    <div id="web" class="embed-responsive embed-responsive-21by9">
        <iframe src="https://pmep.lkpp.go.id/itkp" frameborder="0" width="100%" height="100%" scrolling="auto" class="embed-responsive-item" ></iframe>
    </div>
</template>
<style>
#web{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*    #web
    {
        position:absolute; left: 225px; right: 0; bottom: 0; top: 70px;
    }
    */
</style>
