<template>
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
          <div class="page-title-heading">
            <div class="page-title-icon">
              <img src="http://103.145.202.143/assets/pbj.png" width="40px" height="40px">
            </div>
            <div>
              Dashboard ITKP
              <div class="page-title-subheading">
                Dashboard Indexs Tata Kelola Pengadaan Barang dan Jasa
              </div>
            </div>
          </div>
          <div class="page-title-actions">
            <!-- <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star" />
                  </button> -->
            <div class="d-inline-block dropdown" />
          </div>
        </div>
      </div>
      <!-- ============================== -->
      <div>
        <div class="row mt-2">
          <div class="col-4">
                <select v-model="pd" class="form-select form-control" aria-label="Default select example" @change="filtered()">
                  <option value="1" selected>
                    Provinsi Jawa Barat
                  </option>
                </select>
          </div>
          <div class="col-4">
            <select @change="filtered()" v-model="tahun" class="form-select form-control" aria-label="Default select example">
              <option>
                Tahun
              </option>
              <option value="2022">
                2023
              </option>
              <option value="2023" selected>
                2024
              </option>
              <!-- <option value="2021">2022</option> -->
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <section id="team" class="pb-5">
              <div class="container">
                <h5 class="section-title h1">
                  Indikator Pemanfaatan Sistem Pengadaan
                </h5>
                <div class="row">
                  <!-- SIRUP -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                SIRUP
                              </h4>
                              <p class="card-text">
                                Nilai RUP SIRUP dibandingkan dengan nilai belanja PBJ
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Persentase <br><br>
                                    <span class="skor">{{ nilaiSirup }} %</span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br>
                                    <span class="skor">
                                      <b v-if="nilaiSirup >= 50" class="skor-saat-ini">{{ skorSirup }}</b>
                                      <b v-if="nilaiSirup < 50" class="skor-saat-ini">0</b>
                                      /10</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika >= 50% maka dikali 10 <br>
                                  Jika <= 50% maka skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                SIRUP
                              </h4>
                              <p class="card-text">
                                Basis data RUP TA 2023 - Penarikan data <b>1 April 2023</b>
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./SIRUP -->
                  <!-- EPurchasing -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                ePurchasing
                              </h4>
                              <p class="card-text">
                                Jumlah paket selesai dibandingkan jumlah paket aktif untuk ePurchasing (Katalog Elektronik)
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Persentase <br><br>
                                    <span v-if="ecatalog === 0" class="skor">{{ 0 | percentage }}</span>
                                    <span v-else class="skor">{{ parseFloat(((epurchashing_total_paket_selesai/(epurchashing_total_paket_proses + epurchashing_total_paket_selesai)) || 0 )*100).toFixed(2) }}</span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br><br>
                                    <span class="skor">
                                      <b v-if="ecatalog === 0" class="skor-saat-ini">0</b>
                                      <b v-else class="skor-saat-ini">
                                        <span v-if="((epurchashing_total_paket_selesai/(epurchashing_total_paket_proses + epurchashing_total_paket_selesai)) || 0 )*100 < 50">
                                          0
                                        </span>
                                        <span v-else>
                                          {{ 4 * parseFloat((((epurchashing_total_paket_selesai/(epurchashing_total_paket_proses + epurchashing_total_paket_selesai))/100)|| 0 )*100).toFixed(2) }}
                                        </span>
                                      </b>
                                      /4</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika >= 50% maka dikali 4 <br>
                                  Jika <= 50% maka skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                ePurchasing
                              </h4>
                              <p class="card-text">
                                Basis data Katalog Elektronik TA 2022 - Penarikan data <b>31 Januari 2023</b>
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./EPurchasing -->
                  <!-- non eTendering/ non ePurchasing -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                non eTendering/ non ePurchasing
                              </h4>
                              <p class="card-text">
                                Nilai Realisasi dibandingkan dengan nilai RUP untuk Pengadaan Langsung dan Penunjukan Langsung
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Persentase <br><br>
                                    <span class="skor">{{ parseFloat(((nonetendering_realisasi_kontrak_nontender/nonetendering_realisasi_pagu_nontender) || 0 )*100).toFixed(2) }}</span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br>
                                    <span class="skor">
                                      <b v-if="parseInt(nonetendering_realisasi_kontrak_nontender)/parseInt(nonetendering_realisasi_pagu_nontender)*100 >= 50" class="skor-saat-ini">{{ 5 * parseFloat(parseFloat(nonetendering_realisasi_kontrak_nontender)/parseFloat(nonetendering_realisasi_pagu_nontender)).toFixed(2) }}</b>
                                      <b v-else class="skor-saat-ini">0</b>
                                      /5</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika >= 50% maka dikali 5 <br>
                                  Jika <= 50% maka skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                non eTendering/ non ePurchasing
                              </h4>
                              <p class="card-text">
                                Basis data SPSE (transaksional & pencatatan) dan RUP TA 2022 - Penarikan data <b>1 Januari 2023</b>
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./non eTendering/ non ePurchasing -->
                  <!-- eTendering -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                eTendering
                              </h4>
                              <p class="card-text">
                                Nilai realisasi dibandingkan dengan nilai RUP untuk eTendering
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Persentase <br><br>
                                    <span class="skor">{{ parseFloat((parseInt(etendering_realisasi_pagu_tender)/parseInt(etendering_pagu_tender) || 0)*100).toFixed(2) }}</span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br>
                                    <span class="skor">
                                      <b v-if="(parseInt(etendering_realisasi_pagu_tender)/parseInt(etendering_pagu_tender) || 0 ) *100 >= 40" class="skor-saat-ini">{{ 5 * parseFloat(parseFloat(etendering_realisasi_pagu_tender)/parseFloat(etendering_pagu_tender)).toFixed(2) }}</b>
                                      <b v-else class="skor-saat-ini">0</b>
                                      /5</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika >= 50% maka dikali 5 <br>
                                  Jika <= 50% maka skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                eTendering
                              </h4>
                              <p class="card-text">
                                Basis data Realisasi dan RUP TA 2022 - Penarikan data 31 Januari 2023
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./eTendering -->
                  <!-- Toko Daring -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                Toko Daring
                              </h4>
                              <p class="card-text">
                                Sudah pernah melakukan ePurchasing melalui Toko Daring
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Nilai <br><br>
                                    <span class="skor"> {{ nilaiTodar }} </span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br>
                                    <span class="skor"><b class="skor-saat-ini">{{ skorTodar }}</b>/1</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika sudah pernah skor 1 <br>
                                  Jika belum pernah skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                Toko Daring
                              </h4>
                              <p class="card-text">
                                Basis data Toko Daring TA 2022 - Penarikan data 31 Januari 2023
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./Toko Daring -->
                  <!-- eKontrak -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div class="frontside">
                          <div class="card">
                            <div class="card-body text-center">
                              <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                              <h4 class="card-title">
                                eKontrak
                              </h4>
                              <p class="card-text">
                                Jumlah paket dicatatkan dalam eKontrak dibandingkan jumlah paket transaksional
                              </p>
                              <div class="row">
                                <div class="col-6">
                                  <div class="card-skor">
                                    Persentase <br><br>
                                    <span class="skor">{{ parseFloat((parseInt(ekontrak_paket_sudah_kontrak)/(parseInt(ekontrak_paket_belum_kontrak) + parseInt(ekontrak_paket_sudah_kontrak)) || 0 )*100).toFixed(2) }}</span>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="card-skor">
                                    Skor Saat Ini <br>
                                    <span class="skor">
                                      <b v-if="parseInt(ekontrak_paket_sudah_kontrak)/(ekontrak_paket_belum_kontrak) + parseInt(ekontrak_paket_sudah_kontrak) * 100 >= 20" class="skor-saat-ini">{{ 5 * parseFloat(parseFloat(ekontrak_paket_sudah_kontrak)/(parseFloat(ekontrak_paket_belum_kontrak) + parseFloat(ekontrak_paket_sudah_kontrak))).toFixed(2) }}</b>
                                      <b v-else class="skor-saat-ini">0</b>
                                      /5</span>
                                  </div>
                                </div>
                              </div>
                              <p class="parag">
                                <b>Jika >= 20% maka dikali 5 <br>
                                  Jika <= 20% maka skor 0</b>
                              </p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div class="card-body text-center mt-4">
                              <h4 class="card-title">
                                eKontrak
                              </h4>
                              <p class="card-text">
                                Basis data SPSE TA 2022 - Penarikan data 31 Januari 2023
                              </p>
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-facebook" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-twitter" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-skype" />
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                    <i class="fa fa-google" />
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./eKontrak -->
                </div>
              </div>
            </section>
          </div>
          <div class="col-4">
            <div class="weather-card one">
              <div class="top">
                <div class="wrapper">
                  <div class="mynav">
                    <a href="javascript:;"><span class="lnr lnr-chevron-left" /></a>
                    <a href="javascript:;"><span class="lnr lnr-cog" /></a>
                  </div>
                  <h1 class="heading">
                    Persentase
                  </h1>
                  <h3 class="location">
                    Indeks Tata Kelola Pengadaan
                  </h3>
                  <p class="temp">
                    <span class="temp-value">
                      {{ parseFloat(((skorTotal/30) || 0)*100).toFixed(2) }} %
                    </span>
                    <!-- <span class="deg">0</span>
                  <a href="javascript:;"><span class="temp-type">C</span></a> -->
                  </p>
                  <h3 class="location">Skor Total</h3>
                  <h1 style="color: white;">{{ parseFloat(skorTotal || 0 ).toFixed(2) }}</h1>
                </div>
              </div>
              <div class="bottom">
                <div class="wrapper">
                  <ul class="forecast">
                    <a href="javascript:;"><span class="lnr lnr-chevron-up go-up" /></a>
                    <li class="active">
                      <span class="date">Skor Max</span>
                      <span class="lnr condition">
                        <span class="temp">30
                          <!-- <span class="deg">0</span><span class="temp-type">C</span>-->
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="date">Bobot</span>
                      <span class="lnr condition">
                        <span class="temp">100%
                          <!-- <span class="deg">0</span><span class="temp-type">C</span>-->
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tabs -->
        <section id="tabs">
          <div class="container">
            <b-table
              :items="itemsAllITKP"
              :fields="fieldsAllITKP"
              :filter="filter"
              show-empty
              bordered
              outlined
              hover
              loading
              sticky-header="800px"
              :tbody-tr-class="rowClass"
              @filtered="onFiltered"
            >
              <template #cell(no)="row">
                {{ row.index + 1 }}
              </template>
              <template #cell(pagu)="row">
                <span>{{ numberWithCommas(Number(row.item.pagu)) }} </span>
              </template>
              <template #cell(epurchasing)="row">
                <!-- {{ row.item.epurchashing_total_paket_selesai }} / {{ row.item.epurchashing_total_paket_proses }} + {{ row.item.epurchashing_total_paket_selesai }} <br>
                {{ row.item.epurchashing_total_paket_selesai / (row.item.epurchashing_total_paket_proses + row.item.epurchashing_total_paket_selesai) || 0 }} -->
                <span>{{ parseFloat(((Number(row.item.epurchashing_total_paket_selesai) / (Number(row.item.epurchashing_total_paket_proses) + Number(row.item.epurchashing_total_paket_selesai) )) || 0 )* 100).toFixed(2) }} %</span>
              </template>
              <template #cell(nontender)="row">
                <span>{{ parseFloat(((Number(row.item.nonetendering_realisasi_kontrak_nontender) / Number(row.item.nonetendering_realisasi_pagu_nontender)) || 0 )* 100) .toFixed(2) }} %</span>
              </template>
              <template #cell(etendering)="row">
                <span>{{ parseFloat((parseInt(Number(row.item.etendering_realisasi_pagu_tender)) / parseInt(Number(row.item.etendering_pagu_tender)) || 0)* 100).toFixed(2) }} %</span>
              </template>
              <template #cell(ekontrak)="row">
                <span>{{ parseFloat((parseInt(Number(row.item.ekontrak_paket_sudah_kontrak)) / (parseInt(Number(row.item.ekontrak_paket_belum_kontrak)) + parseInt(Number(row.item.ekontrak_paket_sudah_kontrak))) || 0 )* 100).toFixed(2) }} %</span>
              </template>
              <!-- <template #cell(etendering_pagu_tender)="row">
                <span>{{ numberWithCommas(row.item.etendering_pagu_tender) }} </span>
              </template>
              <template #cell(etendering_realisasi_pagu_tender)="row">
                <span>{{ numberWithCommas(row.item.etendering_realisasi_pagu_tender) }} </span>
              </template>
              <template #cell(etendering_realisasi_kontrak_tender)="row">
                <span>{{ numberWithCommas(row.item.etendering_realisasi_kontrak_tender) }} </span>
              </template>
              <template #cell(noneTendering_pagu_nontender)="row">
                <span>{{ numberWithCommas(row.item.noneTendering_pagu_nontender) }} </span>
              </template>
              <template #cell(nonetendering_realisasi_pagu_nontender)="row">
                <span>{{ numberWithCommas(row.item.nonetendering_realisasi_pagu_nontender) }} </span>
              </template>
              <template #cell(nonetendering_realisasi_kontrak_nontender)="row">
                <span>{{ numberWithCommas(row.item.nonetendering_realisasi_kontrak_nontender) }} </span>
              </template>
              <template #cell(epurchashing_total_paket_proses)="row">
                <span>{{ numberWithCommas(row.item.epurchashing_total_paket_proses) }} </span>
              </template>
              <template #cell(epurchashing_nilai_paket_proses)="row">
                <span>{{ numberWithCommas(row.item.epurchashing_nilai_paket_proses) }} </span>
              </template>
              <template #cell(epurchashing_total_paket_selesai)="row">
                <span>{{ numberWithCommas(row.item.epurchashing_total_paket_selesai) }} </span>
              </template>
              <template #cell(epurchashing_nilai_paket_selesai)="row">
                <span>{{ numberWithCommas(row.item.epurchashing_nilai_paket_selesai) }} </span>
              </template>
              <template #cell(ekontrak_paket_belum_kontrak)="row">
                <span>{{ numberWithCommas(row.item.ekontrak_paket_belum_kontrak) }} </span>
              </template>
              <template #cell(ekontrak_paket_sudah_kontrak)="row">
                <span>{{ numberWithCommas(row.item.ekontrak_paket_sudah_kontrak) }} </span>
              </template> -->
            </b-table>
          </div>
        </section>
        <!-- ./Tabs -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import axios from 'axios';
import Swal from 'sweetalert2';

const itemsRekap = []
const fieldsRekap = [
  { key: 'no', label: 'No', _style: 'width:10%; background-color:#007b5e;' },
  { key: 'tahun_anggaran', label: 'Tahun Anggaran', _style: 'width:10%; background-color:#007b5e;' },
  { key: 'nama_satker', label: 'Perangkat Daerah', _style: 'width:25%; background-color:#007b5e;' },
  { key: 'nama_paket', label: 'Nama Paket', _style: 'width:35%; background-color:#007b5e;' },
  { key: 'total', label: 'Total Pagu', _style: 'width:10%; background-color:#007b5e;' },
  { key: 'paket_status_str', label: 'Status Paket', _style: 'width:20%; background-color:#007b5e;' }
]

const itemsAllITKP = []
const fieldsAllITKP = [
  { key: 'no', label: 'No', _style: 'width:10%; background-color:#007b5e;', sortable: true },
  { key: 'namasatker', label: 'Satuan Kerja', _style: 'width:10%; background-color:#007b5e;', sortable: true },
  { key: 'pagu', label: 'Pagu Penyedia', _style: 'width:25%; background-color:#007b5e;', sortable: true },
  { key: 'epurchasing', label: 'EPURCHASING', _style: 'width:35%; background-color:#007b5e;', sortable: true },
  { key: 'nontender', label: 'NON ETENDERING/ NON EPURCHASING', _style: 'width:35%; background-color:#007b5e;', sortable: true },
  { key: 'etendering', label: 'ETENDERING', _style: 'width:35%; background-color:#007b5e;', sortable: true },
  { key: 'ekontrak', label: 'Ekontrak', _style: 'width:35%; background-color:#007b5e;', sortable: true }
  // { key: 'etendering_pagu_tender', label: 'Pagu Tender', _style: 'width:35%; background-color:#007b5e;' },
  // { key: 'etendering_realisasi_pagu_tender', label: 'Realisasi Tender', _style: 'width:10%; background-color:#007b5e;' },
  // { key: 'etendering_realisasi_kontrak_tender', label: 'Realisasi Kontrak Tender', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'noneTendering_pagu_nontender', label: 'Pagu Non Tender', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'nonetendering_realisasi_pagu_nontender', label: 'Realisasi Non Tender', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'nonetendering_realisasi_kontrak_nontender', label: 'Realisasi Kontrak Non Tender', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'epurchashing_total_paket_proses', label: 'Paket Aktif Epurchasing', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'epurchashing_nilai_paket_proses', label: 'Nilai Transaksi Aktif Epurchasing', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'epurchashing_total_paket_selesai', label: 'Paket Selesai Epurchasing', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'epurchashing_nilai_paket_selesai', label: 'Nilai Transaksi Selesai Epurchasing', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'ekontrak_paket_belum_kontrak', label: 'Paket Belum Ekontrak', _style: 'width:20%; background-color:#007b5e;' },
  // { key: 'ekontrak_paket_sudah_kontrak', label: 'Paket Belum Ekontrak', _style: 'width:20%; background-color:#007b5e;' }
]

export default {
  name:'itkpp',
  middleware: 'guest',
  layout: 'noauth',
  metaInfo () {
    return { title: this.$t('ITKPP') }
  },
  data () {
    return {
      skorTotal: '',
      itemsRekap: itemsRekap.map((item, id) => { return { ...item, id } }),
      fieldsRekap,
      itemsAllITKP: itemsAllITKP.map((item, id) => { return { ...item, id } }),
      fieldsAllITKP,
      namaSatker: '',
      tahun: '2024',
      year: '2024',
      pd: '1',
      ecatalog: [
        {
          'paket_status_str': 'Paket Selesai',
          'count': 0
        },
        {
          'paket_status_str': 'Paket Proses',
          'count': 0
        }
      ],
      nonEtendering: [],
      eTendering: [],
      eKontrak: [],
      nilaiSirup: 100,
      skorSirup: 10,
      nilaiTodar: 1,
      skorTodar: 1,
      nilaiEkontrak: 0,
      nilaiEtendering: 0,
      nilaiNonTendering: 0,
      nilaiePurchasing: 0,
      tableAll: [],
      detailTableAll: [],
      etendering_pagu_tender: 0,
      etendering_realisasi_pagu_tender: 0,
      etendering_realisasi_kontrak_tender: 0,
      nonetendering_pagu_nontender: 0,
      nonetendering_realisasi_pagu_nontender: 0,
      nonetendering_realisasi_kontrak_nontender: 0,
      epurchashing_total_paket_proses: 0,
      epurchashing_nilai_paket_proses: 0,
      epurchashing_total_paket_selesai: 0,
      epurchashing_nilai_paket_selesai: 0,
      ekontrak_paket_belum_kontrak: 0,
      ekontrak_paket_sudah_kontrak: 0
    }
  },
  computed: {
    ...mapGetters(["user"]),
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key }
        })
    }
  },
  created () {
    this.summaryAll()
    this.listOPD()
    this.dataAll()
    this.created()
    // this.dataEcatalog()
    // this.summaryEcatalog()
    // this.summaryNoneTendering()
    // this.summaryeTendering()
    // this.summaryeKontrak()
  },
  methods: {
    filtered () {
      this.summaryAll()
      this.listOPD()
      this.dataAll()
      this.created()
      // this.dataEcatalog()
      // this.summaryEcatalog()
      // this.summaryNoneTendering()
      // this.summaryeTendering()
      // this.summaryeKontrak()
    },
    numberWithCommas (x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    async listOPD() {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/api/list-opd`
        })
        this.namaSatker = response.data;
      } catch (e) {
        console.error('Error fetching listOPD:', e);
      }
    },
    filtered() {
      // Your filtered method implementation here
      console.log('Selected value:', this.pd);
      console.log('Selected year:', this.tahun);
      // You can call fetchData here if needed, passing the selected `pd` value.
      // fetchData(this.pd, this.someOtherParameter);
    },
      async created() {
    // Sebagai contoh, saya akan asumsikan kamu memiliki informasi peran pengguna yang masuk dalam suatu variabel role
        const role = this.user.role;

        if (role === 'admin' && role === 'pokja') {
          // Jika pengguna bukan admin, tampilkan pesan kesalahan dan alihkan ke halaman admin
          Swal.fire({
            title: "Access Denied",
            text: "You do not have permission to view this page.",
            icon: "error"
          });
          this.$router.push('/admin');
        } else {
          // Jika pengguna adalah admin, lanjutkan untuk mengambil data pengguna
          await this.getDataUser();
        }
      },
    async dataAll () {
      const th = this.tahun
      const id = this.pd
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/api/detail-all-itkp?tahun=${th}`
        })
          this.itemsAllITKP = response.data
          .catch(error => {
            console.log(error)
          })
      } catch (e) {

      }
    },
    async summaryAll () {
      const th = this.tahun
      const id = this.pd

      if (id == 1) {
        this.tahun = th
        try {
          let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/api/all-itkp?tahun=${th}`
        })
              this.tableAll = response.data
              this.etendering_pagu_tender = parseInt(response.data[0].etendering_pagu_tender)
              this.etendering_realisasi_pagu_tender = parseInt(response.data[0].etendering_realisasi_pagu_tender)
              this.etendering_realisasi_kontrak_tender = parseInt(response.data[0].etendering_realisasi_kontrak_tender)
              this.nonetendering_pagu_nontender = parseInt(response.data[0].nonetendering_pagu_nontender)
              this.nonetendering_realisasi_pagu_nontender = parseInt(response.data[0].nonetendering_realisasi_pagu_nontender)
              this.nonetendering_realisasi_kontrak_nontender = parseInt(response.data[0].nonetendering_realisasi_kontrak_nontender)
              this.epurchashing_total_paket_proses = parseInt(response.data[0].epurchashing_total_paket_proses)
              this.epurchashing_nilai_paket_proses = parseInt(response.data[0].epurchashing_nilai_paket_proses)
              this.epurchashing_total_paket_selesai = parseInt(response.data[0].epurchashing_total_paket_selesai)
              this.epurchashing_nilai_paket_selesai = parseInt(response.data[0].epurchashing_nilai_paket_selesai)
              this.ekontrak_paket_belum_kontrak = parseInt(response.data[0].ekontrak_paket_belum_kontrak)
              this.ekontrak_paket_sudah_kontrak = parseInt(response.data[0].ekontrak_paket_sudah_kontrak)

              const epur = parseFloat((this.epurchashing_total_paket_selesai / (this.epurchashing_total_paket_proses + this.epurchashing_total_paket_selesai)) * 100).toFixed(2)
              if (epur >= 50) {
                this.nilaiePurchasing = 4 * parseFloat(((this.epurchashing_total_paket_selesai / (this.epurchashing_total_paket_proses + this.epurchashing_total_paket_selesai)) / 100) * 100).toFixed(2)
              } else {
                this.nilaiePurchasing = 0
              }

              const nontender = parseFloat((this.nonetendering_realisasi_kontrak_nontender / this.nonetendering_realisasi_pagu_nontender) * 100).toFixed(2)
              if (nontender >= 50) {
                this.nilaiNonTendering = 5 * parseFloat(parseFloat(this.nonetendering_realisasi_kontrak_nontender) / parseFloat(this.nonetendering_realisasi_pagu_nontender)).toFixed(2)
              } else {
                this.nilaiNonTendering = 0
              }

              const tender = parseFloat(parseInt(this.etendering_realisasi_pagu_tender) / parseInt(this.etendering_pagu_tender) * 100).toFixed(2)
              console.log(tender)
              if (tender >= 50) {
                this.nilaiEtendering = 5 * parseFloat(parseFloat(this.etendering_realisasi_pagu_tender) / parseFloat(this.etendering_pagu_tender)).toFixed(2)
              } else {
                this.nilaiEtendering = 0
              }

              const ekontrak = parseFloat(parseInt(this.ekontrak_paket_sudah_kontrak) / (parseInt(this.ekontrak_paket_belum_kontrak) + parseInt(this.ekontrak_paket_sudah_kontrak)) * 100).toFixed(2)
              if (ekontrak >= 20) {
                this.nilaiEkontrak = 5 * parseFloat(parseFloat(this.ekontrak_paket_sudah_kontrak) / (parseFloat(this.ekontrak_paket_belum_kontrak) + parseFloat(this.ekontrak_paket_sudah_kontrak))).toFixed(2)
              } else {
                this.nilaiEkontrak = 0
              }

              this.skorTotal = this.skorSirup + this.skorTodar + this.nilaiEkontrak + this.nilaiEtendering + this.nilaiNonTendering + this.nilaiePurchasing
            .catch(error => {
              console.log(error)
            })
        } catch (e) {
        }
      }
    },
    async summaryEcatalog () {
      const th = this.tahun
      const id = this.pd

      if (id == 1) {
        this.tahun = th
        try {
          let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/ecatalog?&&tahun=${th}`
        })
              if (response.data.length >= 0) {
                this.ecatalog = response.data
                if (this.ecatalog[0].count / (this.ecatalog[0].count + this.ecatalog[1].count) * 100 >= 50) {
                  this.nilaiePurchasing = 4 * parseFloat(((this.ecatalog[0].count / (this.ecatalog[0].count + this.ecatalog[1].count)) / 100) * 100).toFixed(1)
                } else {
                  this.nilaiePurchasing = 0
                }
              }
              if (typeof response === 'undefined') {
                this.ecatalog = 0
                this.nilaiePurchasing = 0
              }
        } catch (error) {
        }
      }
      if (id != 1) {
        this.idSatker = id
        this.tahun = th
        try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/ecatalog?satker=${this.pd}'&&tahun=${th}`
        })
            .then(response => {
              if (response.data.length >= 0) {
                this.ecatalog = response.data
                if (this.ecatalog[0].count / (this.ecatalog[0].count + this.ecatalog[1].count) * 100 >= 50) {
                  this.nilaiePurchasing = 4 * parseFloat(((this.ecatalog[0].count / (this.ecatalog[0].count + this.ecatalog[1].count)) / 100) * 100).toFixed(1)
                } else {
                  this.nilaiePurchasing = 0
                }
              }
              if (typeof response === 'undefined') {
                this.ecatalog = 0
                this.nilaiePurchasing = 0
              }
            })
        } catch (e) {

        }
      }
    },
    async dataEcatalog () {
      const satker = []
      const th = this.tahun
      const id = this.pd

      const paket_status_str = []
      const count = []
      if (id == 1) {
        this.tahun = th
        try {
          let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `http://103.145.202.143/data-ecatalog?&&tahun=${th}`
        })
            .then(response => {
              this.itemsRekap = response.data
              var data = response.data
              for (let i = 0; i < data.length; i++) {
                paket_status_str.push(data[i].paket_status_str)
                count.push(data[i].count)
              }
            })
            .catch(error => {
              console.log(error)
            })
        } catch (e) {

        }
      }
      if (id != 1) {
        this.idSatker = id
        this.tahun = th
        try {
          let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: 'http://103.145.202.143/data-ecatalog?satker=${this.idSatker}&tahun=${this.tahun}'
        })
            .then(response => {
              this.itemsRekap = response.data
              var data = response.data
              for (let i = 0; i < data.length; i++) {
                paket_status_str.push(data[i].paket_status_str)
                count.push(data[i].count)
              }
            })
        } catch (e) {

        }
      }
    },
    async summaryNoneTendering () {
      const th = this.tahun
      const id = this.pd

      if (id == 1) {
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/non-etendering?tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.nonEtendering = response.data
                if (parseInt(this.nonEtendering[0].realisasi) / parseInt(this.nonEtendering[0].sirup) * 100 >= 50) {
                  this.nilaiNonTendering = 5 * parseFloat((this.nonEtendering[0].realisasi) / parseInt(this.nonEtendering[0].sirup)).toFixed(1)
                } else {
                  this.nilaiNonTendering = 0
                }
              }
              if (response.data.length === 0) {
                this.nonEtendering = 0
                this.nilaiNonTendering = 0
              }
            })
            .catch(error => {
              console.log(error)
            })
        } catch (e) {

        }
      }
      if (id != 1) {
        this.idSatker = id
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/non-etendering?satker=' + this.pd + '&&tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.nonEtendering = response.data
                if (parseInt(this.nonEtendering[0].realisasi) / parseInt(this.nonEtendering[0].sirup) * 100 >= 50) {
                  this.nilaiNonTendering = 5 * parseFloat((this.nonEtendering[0].realisasi) / parseInt(this.nonEtendering[0].sirup)).toFixed(1)
                } else {
                  this.nilaiNonTendering = 0
                }
              }
              if (response.data.length === 0) {
                this.nonEtendering = 0
                this.nilaiNonTendering = 0
              }
            })
        } catch (e) {

        }
      }
    },
    async summaryeTendering () {
      const th = this.tahun
      const id = this.pd

      if (id == 1) {
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/etendering?tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.eTendering = response.data
                if (parseInt(this.eTendering[0].realisasi) / parseInt(this.eTendering[0].sirup) * 100 >= 40) {
                  this.nilaiEtendering = 5 * parseFloat(parseFloat(this.eTendering[0].realisasi) / parseFloat(this.eTendering[0].sirup)).toFixed(1)
                } else {
                  this.nilaiEtendering = 0
                }
              }
              if (response.data.length === 0) {
                this.eTendering = 0
                this.nilaiEtendering = 0
              }
            })
            .catch(error => {
              console.log(error)
            })
        } catch (e) {

        }
      }
      if (id != 1) {
        this.idSatker = id
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/etendering?satker=' + this.pd + '&&tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.eTendering = response.data
                if (parseInt(this.eTendering[0].realisasi) / parseInt(this.eTendering[0].sirup) * 100 >= 40) {
                  this.nilaiEtendering = 5 * parseFloat(parseFloat(this.eTendering[0].realisasi) / parseFloat(this.eTendering[0].sirup)).toFixed(1)
                } else {
                  this.nilaiEtendering = 0
                }
              }
              if (response.data.length === 0) {
                this.eTendering = 0
                this.nilaiEtendering = 0
              }
            })
        } catch (e) {

        }
      }
    },
    async summaryeKontrak () {
      const th = this.tahun
      const id = this.pd

      if (id == 1) {
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/ekontrak?tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.eKontrak = response.data
                if (parseInt(this.eKontrak[0].sum) / (parseInt(this.eKontrak[0].sum) + parseInt(this.eKontrak[1].sum)) * 100 >= 20) {
                  this.nilaiEkontrak = 5 * parseFloat(parseFloat(this.eKontrak[0].sum) / (parseFloat(this.eKontrak[0].sum) + parseFloat(this.eKontrak[1].sum))).toFixed(1)
                } else {
                  this.nilaiEkontrak = 0
                }
              }
              if (typeof response === 'undefined') {
                this.eKontrak = 0
                this.nilaiEkontrak = 0
              }
            })
            .catch(error => {
              console.log(error)
            })
        } catch (e) {

        }
      }
      if (id != 1) {
        this.idSatker = id
        this.tahun = th
        try {
          axios.get('http://103.145.202.143/ekontrak?satker=' + this.pd + '&&tahun=' + th, {
          withCredentials: true
          })
            .then(response => {
              if (response.data.length >= 0) {
                this.eKontrak = response.data
                if (parseInt(this.eKontrak[0].sum) / (parseInt(this.eKontrak[0].sum) + parseInt(this.eKontrak[1].sum)) * 100 >= 20) {
                  this.nilaiEkontrak = 5 * parseFloat(parseFloat(this.eKontrak[0].sum) / (parseFloat(this.eKontrak[0].sum) + parseFloat(this.eKontrak[1].sum))).toFixed(1)
                } else {
                  this.nilaiEkontrak = 0
                }
              }
              if (typeof response === 'undefined') {
                this.eKontrak = 0
                this.nilaiEkontrak = 0
              }
            })
        } catch (e) {

        }
      }
    }
  }
}
</script>
<style>
.c-main {
  padding-top: 0px;
}
.card-text {
  font-size: 11px !important;
}
.card-skor {
    padding-top: 6px;
    border-radius: 4px;
    border: solid antiquewhite 1px;
    width: 90%;
    height: 75px;
    font-size: small;
    background: antiquewhite;
    font-size: 11px;
}

.skor-saat-ini {
  font-size: 24px;
}

.parag {
  font-size: small;
  font-style: italic;
  margin-top: 10%;
  float: right;
}

.skor {
  font-size: 25px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
body {
  font-family: 'Montserrat', sans-serif;
  background: #112233;
}

.weather-card {
  margin: 60px auto;
  height: 740px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.weather-card .top {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  /* background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat; */
  background: url("https://badan-penghubung.jabarprov.go.id/wp-content/uploads/2020/12/gedung-sate.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .mynav {
  height: 20px;
}
.weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 20px;
}
.weather-card .top .wrapper .mynav .lnr-chevron-left {
  display: inline-block;
  float: left;
}
.weather-card .top .wrapper .mynav .lnr-cog {
  display: inline-block;
  float: right;
}
.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .temp {
  margin-top: 20px;
}
.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.weather-card .bottom {
  padding: 0 30px;
  background: #fff;
}
.weather-card .bottom .wrapper .forecast {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  padding-top: 20px;
  max-height: 155px;
}
.weather-card .bottom .wrapper .forecast a {
  text-decoration: none;
  color: #000;
}
.weather-card .bottom .wrapper .forecast .go-up {
  text-align: center;
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}
.weather-card .bottom .wrapper .forecast li {
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1em;
  margin-bottom: 30px;
}
.weather-card .bottom .wrapper .forecast li .date {
  display: inline-block;
}
.weather-card .bottom .wrapper .forecast li .condition {
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 25px;
}
.weather-card .bottom .wrapper .forecast li .condition .temp {
  display: inline-block;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2px;
}
.weather-card .bottom .wrapper .forecast li .condition .temp .deg {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
}
.weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
  font-size: 20px;
}
.weather-card .bottom .wrapper .forecast li.active {
  color: rgba(0, 0, 0, 0.8);
}
.weather-card.rain .top {
  background: url("http://img.freepik.com/free-vector/girl-with-umbrella_1325-5.jpg?size=338&ext=jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* =============================================== */
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* ========================= tabs */

/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #aac8a7;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #5c8984;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

/* .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
} */

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    border: 1px solid;
    color: #007b5e;
    background-color: #fff;
    border-color: #d8dbe0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #007b5e;
    background-color: #f5e200;
    border-color: #f5e200;
}

@media (min-width: 768px) {
  .skor-saat-ini {
    font-size: 20px;
  }
  .skor {
    font-size: 20px;
  }
 }

 @media (min-width: 768px) {
  .skor-saat-ini {
    font-size: 15px;
  }
  .skor {
    font-size: 15px;
  }

  .parag {
    font-size: 11px;
  }
 }

</style>
