<template>
  <div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h5 mb-0 text-gray-800">Monitoring Evaluasi Pengawasan Pengadaan Produk Dalam Negeri</h1>
    </div>
    
    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addMonevModal">Tambah Laporan</button>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th class="orderable bg-primary text-white">ID <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Judul <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Bulan <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Bukti <i class="fas fa-sort"></i></th>
                <th class="orderable bg-primary text-white">Aksi <i class="fas fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="filteredItems.length === 0">
                <td colspan="5">Data tidak tersedia.</td>
              </tr>
              <tr v-for="(item, index) in filteredItems" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.judul }}</td>
                <td>{{ item.laporan_bulan }}</td>
                <td><a :href="getFileMonev(item.nama_file)" target="_blank">{{ item.nama_file }}</a></td>
                <td>
                  <button class="btn btn-success" @click="showPreviewModal(item)">
                    <i class="fas fa-fw fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" @click="confirmDelete(item.id)">
                    <i class="fas fa-fw fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          
 <!-- Add this modal markup after the table -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form fields for editing -->
        <div class="form-group">
          <label for="editJudul">ID</label>
          <input type="text" class="form-control" id="Id" v-model="item.id" readonly>
        </div>
        <div class="form-group">
          <label for="editJudul">Judul</label>
          <input type="text" class="form-control" id="Judul" v-model="item.judul">
        </div>
        <div class="form-group">
          <label for="editBulan">Bulan</label>
          <flat-pickr v-model="item.laporan_bulan" :config="datePickerConfig" class="form-control" required></flat-pickr>
        </div>
        <div class="form-group">
          <label for="editBukti">Bukti</label>
          <a :href="getFileMonev(item.nama_file)" target="_blank">{{ item.nama_file }}</a></br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="saveEditedItem">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <!-- Tambah Laporan -->
      <div class="modal fade bd-example-modal-lg" id="addMonevModal" tabindex="-1" role="dialog" aria-labelledby="addMonevModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addMonevModalLabel">Tambah Laporan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form @submit.prevent="submitForm">
                  <div class="form-group">
                    <label for="judul">Judul</label>
                    <input type="text" class="form-control" v-model="judul" required>
                  </div>
                  <div class="form-group">
                    <label for="bulan">Bulan</label>
                    <flat-pickr v-model="bulan" :config="datePickerConfig" class="form-control" required></flat-pickr>
                  </div>
                  <div class="form-group">
                    <label for="file">Upload File</label>
                    <input type="file" class="form-control-file" @change="handleFileUpload" required>
                  </div>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    
  </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from 'axios';
import { onMounted, ref } from 'vue';
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import Swal from 'sweetalert2';

export default {
  components: {
    flatPickr,
  },
  data () {
    return {
      judul: '',
      bulan: '',
      datePickerConfig: {
        dateFormat: 'm/Y',
        altInput: true,
        altFormat: 'm/Y',
        mode: 'single', // Mode 'single' digunakan untuk menampilkan pilihan bulan dan tahun
        enableTime: false, // Setelah mengatur mode 'single', disable fitur waktu
        inline: false, // Bisa diubah sesuai kebutuhan Anda
      },
      file: null,
      fileSelected: { MONEV: false},
      uploadProgress: {MONEV: 0},
      editFileInput: null,
      post: {},
      validation: [],
      responden: '',
      path: '',
      modalShow: false,
      dataSearch: '',
      loading: false,
      item: {},
      items: [],
      selectedItem: {
      judul: '',
      laporan_bulan: '',
      nama_file: ''
    },
    }
  },
  computed: {
    ...mapGetters(["user"]),
    filteredItems() {
      return this.items.filter(item => {
        return item.judul.toLowerCase().includes(this.dataSearch.toLowerCase()) ||
               item.bulan_laporan.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    },
  },
  mounted () {
    this.role()
    this.getMonev()
  },
  methods: {
    async role() {
  // Sebagai contoh, saya akan asumsikan kamu memiliki informasi peran pengguna yang masuk dalam suatu variabel role
      const role = this.user.role;

      if (role !== 'admin' && role !== 'apip') {
        // Jika pengguna bukan admin, tampilkan pesan kesalahan dan alihkan ke halaman admin
        Swal.fire({
          title: "Akses Ditolak",
          text: "Anda tidak mempunyai otoritas untuk mengakses halaman ini.",
          icon: "error"
        });
        this.$router.push('/admin');
      } else {
        // Jika pengguna adalah admin, lanjutkan untuk mengambil data pengguna
        await this.getMonev();
      }
    },
    submitForm() {
      let formData = new FormData();
      formData.append('judul', this.judul);
      formData.append('bulan', this.bulan);
      formData.append('file', this.file);

      axios.post('/add-monev', formData)
        .then(response => {
          console.log(response.data.message);
            Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: 'Data Berhasil Ditambahkan',
            });
            this.getMonev();
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
    handleFileUpload(event) {
      this.file = event.target.files[0];
    },
    showPreviewModal(item) {
      this.item = { ...item };
      $("#editModal").modal("show");
    },
    async getMonev() {
      try {
        this.loading = true;
        let response = await axios.get('/monev');
        this.items = response.data;
        this.totalRows = response.data.length;
        this.loading = false;

        // Hapus DataTable sebelumnya, jika ada
        if ($.fn.DataTable.isDataTable('#dataTable')) {
          $('#dataTable').DataTable().destroy();
        }

        // Inisialisasi DataTables hanya jika ada data
        if (this.totalRows > 0) {
          $(document).ready(() => {
            $('#dataTable').DataTable({
              searching: true,
              responsive: true,
              order: []
            });
          });
        } else {
          // Tangani kasus jika tidak ada data
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Data tidak tersedia!',
          })
        }
      } catch (error) {
        console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Data Gagal Diupdate',
            });
      }
    },
    getFileMonev(fileName) {
      // Ganti '/' dengan path menuju direktori file di server
      return `/upload/bukti-monev/${fileName}`;
    },
    saveEditedItem() {
   try {
        let updateData = {
            id: this.item.id,
            judul: this.item.judul,
            laporan_bulan: this.item.laporan_bulan,
            // You may include other fields here if needed
        };

        axios.put(`/editmonev/${this.item.id}`, updateData)
            .then(response => {
                console.log(response.data.message);
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data Berhasil Diupdate',
                });
                $('#previewModal').modal('hide');
                this.getMonev(); // Assuming this function fetches updated data
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Data Gagal Diupdate',
                });
            });
      } catch (error) {
          console.error('Error:', error);
          Swal.fire({
              icon: 'error',
              title: 'Data Gagal Diupdate',
          });
      }
  },
    async confirmDelete(id) {
      Swal.fire({
            title: 'Apakah Anda yakin?',
            text: "Anda tidak akan dapat mengembalikan data Monev ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, hapus saja!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Lakukan permintaan penghapusan ke API
                fetch(`/api/deletemonev/${id}`, {
                    method: 'DELETE',
                    headers: {
                      'Access-Control-Allow-Origin': '*',
                      'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
                    },
                })
                .then(response => {
                    if (response.ok) {
                        Swal.fire(
                            'Terhapus!',
                            'Data telah berhasil dihapus.',
                            'success'
                        );
                        // Di sini Anda bisa melakukan hal lain setelah berhasil dihapus
                    } else {
                        throw new Error('Gagal menghapus data');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire(
                        'Gagal!',
                        'Gagal menghapus data. Silakan coba lagi nanti.',
                        'error'
                    );
                });
            }
        });
    },
  }
}
</script>

<style>
/*table {
    width: 100%;
    display:block;
}
thead {
    display: inline-block;
    width: 100%;
    height: 20px;
}
tbody {
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}*/
/* JUST COMMON TABLE STYLES... 
table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.table-responsive {
  overflow: auto;
  height: 400px;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
}*/
</style>