<template>
  <div>
    <!-- Page Heading -->
    <h1 class="h4 mb-2 text-gray-800">Monitoring Pengawasan Non-PDN 2024</h1>

   <!-- Content Row -->
   <div class="row">
    <!--Realisasi UMK-->
          <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                >
                                    Total Perencanaan Penyedia
                                </div>
                                <div
                                    class="h6 mb-0 font-weight-bold text-gray-800"
                                >
                                  Rp. {{ formatPrice(total_perencanaan_penyedia) }}
                                </div>
                            </div>
                            <div class="col-auto">
                              <div v-if="(total_perencanaan_penyedia/total_pelaksanaan_penyedia)*100 > 40" class="badge badge-success mr-1 ml-0 p-2">
                              <small>{{ parseFloat((total_perencanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                            </div>
                            <div v-if="(total_perencanaan_penyedia/total_perencanaan_penyedia)*100 <= 40" class="badge badge-danger mr-1 ml-0 p-2">
                              <small>{{ parseFloat((total_perencanaan_penyedia/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Realisasi UMK-->
          <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                >
                                    Total Perencanaan Non PDN
                                </div>
                                <div
                                    class="h6 mb-0 font-weight-bold text-gray-800"
                                >
                                  Rp. {{ formatPrice(total_nonpdn) }}
                                </div>
                            </div>
                            <div class="col-auto">
                              <div v-if="(total_nonpdn/total_perencanaan_penyedia)*100 < 5" class="badge badge-success mr-1 ml-0 p-2">
                              <small>{{ parseFloat((total_nonpdn/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                            </div>
                            <div v-if="(total_nonpdn/total_perencanaan_penyedia)*100 > 5" class="badge badge-danger mr-1 ml-0 p-2">
                              <small>{{ parseFloat((total_nonpdn/total_perencanaan_penyedia)*100).toFixed(2) }}%</small>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-8 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            5 Perangkat Daerah dengan Non-PDN Tertinggi
                        </h6>
                    </div>
                    <div class="card-body">
                      <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                          <li v-for="(data, index) in topNonPDN" :key="index" class="list-group-item px-0">
                            <div class="widget-content p-0">
                              <div class="d-flex justify-content-between">
                                <div class="d-flex mr-2" style="font-size:14px">
                                  <b class="mr-1">
                                    {{ index + 1 }}.  
                                  </b>
                                  <div class="widget-subheading">
                                    <b>
                                      {{ data.namasatker }}
                                    </b>
                                    <div>
                                      {{ data.paket_pdn }} Paket
                                    </div>
                                  </div>
                                </div>
                                <div class="widget-content-right">
                                  <div class="font-size-xlg text-muted">
                                    <span class="text-nowrap">Rp {{ formatPrice(data.nilai_pdn) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>  
            </div>

            <div class="col-xl-6 col-lg-8 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            5 Perangkat Daerah dengan Non-PDN Terendah
                        </h6>
                    </div>
                    <div class="card-body">
                      <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                          <li v-for="(data, index) in lowNonPDN" :key="index" class="list-group-item px-0">
                            <div class="widget-content p-0">
                              <div class="d-flex justify-content-between">
                                <div class="d-flex mr-2" style="font-size:14px">
                                  <b class="mr-1">
                                    {{ index + 1 }}.  
                                  </b>
                                  <div class="widget-subheading">
                                    <b>
                                      {{ data.namasatker }}
                                    </b>
                                    <div>
                                      {{ data.paket_pdn }} Paket
                                    </div>
                                  </div>
                                </div>
                                <div class="widget-content-right">
                                  <div class="font-size-xlg text-muted">
                                    <span class="text-nowrap">Rp {{ formatPrice(data.nilai_pdn) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>  
            </div>

        
    </div>

          
    <div class="form-group">
      <label class="h5 mb-2 text-gray-800" for="satker">Pilih Perangkat Daerah</label>
      <select id="satker" v-model="namaSatker" name="satker" class="form-control" @change="getDataPaket()">
        <option v-for="data in satkers" :key="data.id" :value="data.namasatker">{{ data.namasatker }}</option>
      </select>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Monitoring Non-PDN</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Monitoring</th>
                <th>ID RUP</th>
                <th>Nama Paket</th>
                <th>Nama Satker</th>
                <th>PPK</th>
                <th>Metode Pengadaan</th>
                <th>Jumlah Pagu</th>
                <th>Nilai Kontrak</th>
                <th>Alasan</th>
                <th>Uraian Pekerjaan</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in filteredItems" :key="index">
                <td>
                  <button class="btn btn-primary" @click="showPreviewModal(item)">Lihat Data</button>
                </td>
                <td>{{ item.idrup }}</td>
                <td>{{ item.namapaket }}</td>
                <td>{{ item.namasatker }}</td>
                <td>{{ item.ppk }}</td>
                <td>{{ item.metodepengadaan }}</td>
                <td>Rp. {{ formatPrice(item.jumlahpagu) }}</td>
                <td>Rp. {{ formatPrice(item.kontrak_nilai) }}</td>
                <td>{{ item.alasan_non_ukm }}</td>
                <td>{{ item.urarian_pekerjaan }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Preview Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Preview Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>ID RUP</th>
                <td>{{ selectedItem.idrup }}</td>
              </tr>
              <tr>
                <th>Nama Paket</th>
                <td>{{ selectedItem.namapaket }}</td>
              </tr>
              <tr>
                <th>Nama Satker</th>
                <td>{{ selectedItem.namasatker }}</td>
              </tr>
              <tr>
                <th>PPK</th>
                <td>{{ selectedItem.ppk }}</td>
              </tr>
              <tr>
                <th>Metode Pengadaan</th>
                <td>{{ selectedItem.metodepengadaan }}</td>
              </tr>
              <tr>
                <th>Jumlah Pagu</th>
                <td>Rp. {{ formatPrice(selectedItem.jumlahpagu) }}</td>
              </tr>
              <tr>
                <th>Kontrak Nilai</th>
                <td>Rp. {{ formatPrice(selectedItem.kontrak_nilai) }}</td>
              </tr>
              <tr>
                <th>Pemenang</th>
                <td>{{ selectedItem.pemenang }}</td>
              </tr>
              <tr>
                <th>Status TKDN</th>
                <td>{{ selectedItem.statustkdn }}</td>
              </tr>
              <tr>
                <th>Keterangan</th>
                <td>{{ selectedItem.keterangan }}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CurrencyInput from '../admin/CurrencyInput.vue'
export default {
  name: 'monitoring_import',
  components: {
    CurrencyInput
  },
  data () {
    return {
      role: 'pokja',
      total_perencanaan_penyedia: 0,
      total_nonpdn: 0,
      namaSatker: '',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'Rp.',
        // suffix: ' $',
        precision: 2,
        masked: false
      },
      url: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      satker: '',
      loading: false,
      satkers: [],
      topNonPDN: [],
      lowNonPDN: [],
      isBusy: false,
      item: {
        nama_paket: '',
        pagu: '',
        metode_pemilihan_penyedia: '',
        sumber_dana: '',
        jenis_pengadaan: '',
        status_pemilihan: '',
        hps: '',
        pemenang_berkontrak: '',
        nilai_kontrak: '',
        tanggal_kontrak: '',
        waktu_pelaksanan: '',
        pho: '',
        pp_target: 0,
        pp_realisasi: 0,
        pp_deviasi: 0,
        pk_target: 0,
        pk_realisasi: 0,
        pk_deviasi: 0,
        nilai_pdn: 0,
        kendala: '',
        keterangan: '',
        rencana_pdn: 0,
        realisasi_pdn: 0,
        alasan_non_ukm: '',
        urarian_pekerjaan: '',
        tkdn_persiapan_pengadaan: 0,
        tkdn_persiapan_pemilihan: 0,
        tkdn_kontrak: 0,
        tkdn_serah_terima: 0,
        komitmen_pdn_perencanaan: 0,
        paket_pdn: 0,
        komitmen_pdn_pelaksanaan: 0,
        file: '',
        name: '',
        edit: true },
      items: [
        {
          idrup: '',
          namapaket: '',
          ppk: '',
          jumlahpagu: 0,
          metodepengadaan: '',
          sumberdana: '',
          jenispengadaan: '',
          status_pemilihan: '',
          pkt_hps: 0,
          pemenang: '',
          kontrak_nilai: '',
          kontrak_mulai: '',
          waktu_pelaksanan: '',
          pho: '',
          pp_target: 0,
          pp_realisasi: 0,
          pp_deviasi: 0,
          pk_target: 0,
          pk_realisasi: 0,
          pk_deviasi: 0,
          nilai_pdn: 0,
          kendala: '',
          keterangan: '',
          rencana_pdn: 0,
          alasan_non_ukm: '',
          urarian_pekerjaan: '',
          realisasi_pdn: 0,
          tkdn_persiapan_pengadaan: 0,
          tkdn_persiapan_pemilihan: 0,
          tkdn_kontrak: 0,
          tkdn_serah_terima: 0,
          file: '',
          name: '',
          edit: true
        }
      ],
      selectedItem: {}
    }
  },

    computed: {
    filteredItems() {
      return this.items.filter(item => {
        return item.namapaket.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    }
  },
  
  mounted () {
    this.summary()
    this.lowNPDN()
    this.topNPDN()
    this.getSatker()
    this.cekuser()
    this.loadData()
    this.NonPDN()
  },
  methods: {
    loadData() {
      axios.get(`/paket-all-import?namasatker=${this.selectedItem}`).then(response => {
        this.items = response.data;
      });
    },
    showPreviewModal(item) {
      this.selectedItem = item;
      $("#previewModal").modal("show");
    },
    getCurrentTime () {
      var today = new Date()
      var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds()
      var dateTime = date + ' ' + time
      return dateTime
    },
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    handleDownload (data) {
      var res = []
      for (let i = 0; i < data.length; i++) {
        const idrup = data[i].idrup
        const namapaket = data[i].namapaket
        const namasatker = data[i].namasatker
        const ppk = data[i].ppk
        const metodepengadaan = data[i].metodepengadaan
        const jumlahpagu = data[i].jumlahpagu
        const paket_pdn = data[i].paket_pdn
        const kontrak_nilai = data[i].kontrak_nilai
        const realisasi_pdn = data[i].realisasi_pdn
        const pemenang = data[i].pemenang
        const pp_realisasi = data[i].pp_realisasi
        const pk_realisasi = data[i].pk_realisasi
        const tkdn_serah_terima = data[i].tkdn_serah_terima
        const keterangan = data[i].keterangan

        var a = {
          'idrup': idrup,
          'namapaket': namapaket,
          'namasatker': namasatker,
          'ppk': ppk,
          'metodepengadaan': metodepengadaan,
          'jumlahpagu': jumlahpagu,
          'paket_pdn': paket_pdn,
          'kontrak_nilai': kontrak_nilai,
          'realisasi_pdn': realisasi_pdn,
          'pemenang': pemenang,
          'pp_realisasi': pp_realisasi,
          'pk_realisasi': pk_realisasi,
          'tkdn_serah_terima': tkdn_serah_terima,
          'keterangan': keterangan
        }
        res.push(a)
      }

          import('../../plugins/Export2Excel').then(excel => {
            const tHeader = [
              'Kode RUP',
              'Nama Paket',
              'Nama Perangkat Daerah',
              'Nama PPK',
              'Metode Pengadaan',
              'Pagu',
              'Komitmen PDN',
              'Realisasi Paket (PDN/Non-PDN)',
              'Nilai Kontrak',
              'Realisasi PDN',
              'Nama Penyedia',
              'Nilai Kontrak (diluar Pajak)',
              '% TKDN',
              'Nilai TKDN',
              'Catatan'
            ]
            const filterVal = ['idrup', 'namapaket', 'namasatker', 'ppk', 'metodepengadaan', 'jumlahpagu', 'jumlahpagu', 'paket_pdn', 'kontrak_nilai', 'realisasi_pdn', 'pemenang', 'pp_realisasi', 'pk_realisasi', 'tkdn_serah_terima', 'keterangan']
            const list = res
            const data = this.formatJson(filterVal, list)
            excel.export_json_to_excel({
              header: tHeader,
              data,
              filename: 'Rekap Laporan P3DN' + this.getCurrentTime(),
              autoWidth: this.autoWidth,
              bookType: this.bookType
            })
          })
    },
    cekuser () {
      this.role = localStorage.getItem('role')
      if (LocalStorage.getItem('role') !== 'pokja' || LocalStorage.getItem('role') === null) {
        this.$router.push({ path: 'login' })
      }
    },

    async summary () {
      // total-paket-pengadaan
      // realisasi-pengadaan
      // realisasi-pdn
      // realisasi-tkdn
      try {

        let bigbox = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: '/summary-all'
        })
        this.total_perencanaan = bigbox.data[0].total_perencanaan
        this.total_perencanaan_penyedia = bigbox.data[0].total_perencanaan_penyedia
        this.total_perencanaan_pdn = bigbox.data[0].total_perencanaan_pdn
        this.perencanaan_pdn = bigbox.data[0].perencanaan_pdn
        this.total_epurchasing_perencanaan = bigbox.data[0].total_epurchasing_perencanaan
        this.perencanaan_epurchasing = bigbox.data[0].perencanaan_epurchasing
        this.total_perencanaan_umk = bigbox.data[0].total_perencanaan_umk
        this.total_pelaksanaan = bigbox.data[0].total_pelaksanaan
        this.total_pelaksanaan_penyedia = bigbox.data[0].total_pelaksanaan_penyedia
        this.total_pelaksanaan_pdn = bigbox.data[0].total_pelaksanaan_pdn
        this.pelaksanaan_pdn = bigbox.data[0].pelaksanaan_pdn
        this.capaian_komitmen_pdn = bigbox.data[0].capaian_komitmen_pdn
        this.total_epurchasing_pelaksanaan = bigbox.data[0].total_epurchasing_pelaksanaan
        this.pelaksanaan_epurchasing = bigbox.data[0].pelaksanaan_epurchasing
        this.capaian_komitmen_epurchasing = bigbox.data[0].capaian_komitmen_epurchasing
        this.total_pelaksanaan_ekatalog = bigbox.data[0].total_pelaksanaan_ekatalog
        this.total_pelaksanaan_umk = bigbox.data[0].total_pelaksanaan_umk
        this.pdn_pelaksanaan_umk = bigbox.data[0].pdn_pelaksanaan_umk
        this.total_pembayaran = bigbox.data[0].total_pembayaran
        this.total_pembayaran_pdn = bigbox.data[0].total_pembayaran_pdn
        this.total_pembayaran_impor = bigbox.data[0].total_pembayaran_impor

      let nonPDN = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/non-pdn`
        })
        this.total_nonpdn = nonPDN.data[0].total_nonpdn
      } catch (error) {

      }
    },

    NumbersOnly (evt) {
      evt = (evt) || window.event
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true
      }
    },

    rowClass (item, type) {
      // if (!item || type !== 'row') return
      if (item.idrup === '32263812') return 'table-success'
    },
    
    uploadBuktiTkdnPersiapanPengadaan (data, index) {
      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }
      try {
        axios.post('http://103.145.202.137/api/upload-tkdn-persiapan-pengadaan', {
          'idrup': data.idrup,
          'file': this.file
        }, config).then((res) => {
          this.$bvToast.toast(`Paket ${data.namapaket} berhasil di simpan`, {
            title: `Berhasil Simpan Data`,
            solid: true,
            variant: 'success'
          })
        })
      } catch (error) {
        this.$bvToast.toast(`Paket ${data.namapaket} gagal di simpan`, {
          title: `Gagal Simpan Data`,
          solid: true,
          variant: 'danger'
        })
      }
    },
    async topNPDN () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/top-nonpdn`
        })

        this.topNonPDN = response.data
      } catch (error) {

      }
    },

    async lowNPDN () {
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/low-nonpdn`
        })

        this.lowNonPDN = response.data
      } catch (error) {

      }
    },

    async getDataPaket () {
      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/paket-all-import?namasatker=${this.namaSatker}`
        })
        this.isBusy = true
        this.items = response.data
        this.totalRows = response.data.length
        this.isBusy = false
      } catch (error) {

      }
    },

    async getSatker () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/satker`
        })
        this.satkers = response.data
      } catch (error) {

      }
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
  }
}
</script>