<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="per-page-select">Pilih Perangkat Daerah</label>
          <select class="form-control">
            <option>Inspektorat Jabar</option>
            <option>Diskominfo Jabar</option>
            <option>Biro PBJ</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filter-input">Pencarian</label>
          <div class="input-group">
            <input id="filter-input" v-model="filter" type="search" class="form-control" placeholder="Ketik untuk mencari paket">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" :disabled="!filter" @click="filter = ''">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success mb-3" @click="handleDownload(items)">Download Excel</button>
    <!-- Main table element -->
    <table class="table">
      <!-- Table headers -->
      <thead>
        <tr>
          <th colspan="8" class="bg-warning text-center">Tahap Perencanaan</th>
          <th colspan="7" class="bg-success text-center">Tahap Pelaksanaan</th>
          <th colspan="6" class="bg-info text-center">Pengawasan APIP</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <!-- Table rows -->
        <tr v-for="(item, index) in items" :key="index">
          <!-- Cell content -->
          <!-- Tambahkan sel-sel tabel di sini -->
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="row">
      <div class="col-md-6">
        <pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0" pills />
      </div>
    </div>
    <!-- Info modal -->
  </div>
</template>

<script>
export default {
    name: 'monitoring'
}
</script>