<template>
  <div>
    <h1 class="h4 mb-2 text-gray-800">INDIKATOR KINERJA PENINGKATAN PENGGUNAAN PRODUK DALAM NEGERI (P3DN) PEMERINTAH DAERAH PROVINSI JAWA
      BARAT TAHUN 2023-2026 DENGAN INDIKATOR JUMLAH PRODUK DALAM NEGERI YANG BERSERTIFIKAT TKDN</h1>
    <div class="row">

      <!--Total Pemahaman Serftifikasi-->
              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/safe.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target 2023</p>
                        <h6 class="mb-0"> 4.158</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(jumlah_pelaku/75)*100"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((jumlah_pelaku/75)*100).toFixed(2) }}% 
                        </span>
                        
                      </small>
                  </div>
                </div>
              </div>

               <!--Total Pemahaman Serftifikasi-->
               <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/safe.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target 2024</p>
                        <h6 class="mb-0"> 4.192</h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(sertifikat_ukecil/30)*100"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((sertifikat_ukecil/30)*100).toFixed(2) }}% 
                        </span>
                        
                      </small>
                  </div>
                </div>
              </div>

              <!--Total Pemahaman Serftifikasi-->
              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/safe.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target 2025</p>
                        <h6 class="mb-0"> 4.226 </h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(sertifikat_umenengah/20)*100"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((sertifikat_umenengah/20)*100).toFixed(2) }}% 
                        </span>
                        
                      </small>
                  </div>
                </div>
              </div>

              <!--Total Pemahaman Serftifikasi-->
              <div class="col-lg-3 col-md-6 mb-0">
                <div class="card  mb-2">
                  <div class="card-header p-3 pt-2" style="background-color: #ffffff;">
                      <div class="icon icon-lg icon-shape text-info border-radius-xl mt-n4 blinking" style="font-size: 40px;">
                        <img src="/asset/safe.gif" alt="animated icon" style="width: 50px; height: 50px;">
                        <!-- <i class="fas fa-money-check"></i> -->
                      </div>
                      <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Target 2026</p>
                        <h6 class="mb-0"> 4.260 </h6>
                      </div>
                    <hr class="dark horizontal my-0">
                      <small>
                        <span v-if="(jumlah_kebijakan/2)*100"  class="text-success text-sm font-weight-bolder">
                          {{ parseFloat((jumlah_kebijakan/2)*100).toFixed(2) }}% 
                        </span>
                        
                      </small>
                  </div>
                </div>
              </div>
       </div>
    </br>
    <div>
      <h1 class="h4 mb-2 text-gray-800">STRATEGI PELAKSANAAN PENINGKATAN PENGGUNAAN PRODUK DALAM NEGERI (P3DN) PEMERINTAH DAERAH PROVINSI
        JAWA BARAT TAHUN 2023-2026 DENGAN INDIKATOR JUMLAH PRODUK DALAM NEGERI YANG BERSERTIFIKAT TKDN</h1>
    </div>
    <div class="card">
      <div class="table-responsive">
    <!-- Main table element -->
      <table class="table table-bordered" id="example" >
      <!-- Table headers -->
      <thead class="thead-dark">
        <tr>
          <th style="width: 100px;">Kegiatan</th>
          <th style="width: 30%;">Indikator</th>
          <th style="width: 10%;">Eviden</th>
          <th style="width: 5%;">Target</th>
          <th style="width: 5%;">Realisasi</th>
          <th style="width: 10%;">Aksi</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <tr v-for="(item, index) in filteredItems" :key="index">
          <td>{{ item.kegiatan }}</td>
          <td style="width: 30%;">{{ item.indikator }}</td>
          <td>
            <button @click="getId(item.id)" id="id" name="id" class="btn btn-sm btn-success">Eviden</button>
            <!-- <button type="button" target="_blank" onclick="window.open('http://google.com');">google</button>{{ item.eviden }} -->
          </td>
          <td>
            {{item.indeks_sertifikat}}
          </td>
          <td>
            {{item.jumlah_sertifikat}}
          </td>                  
          <td class="text-center">
            <button class="btn btn-primary" @click="showPreviewModal(item)">
                    <i class="fas fa-fw fa-edit"></i>Update
                  </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
    <!-- Pagination -->
    <!-- Preview Modal -->
    <div class="modal fade bd-example-modal-lg" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-large" id="previewModalLabel">Sertifikasi TKDN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>Kegiatan</th>
                <td>{{ item.kegiatan }}</td>
              </tr>
              <tr>
                <th>Indikator</th>
                <td>{{ item.indikator }}</td>
              </tr>
              <tr>
                <th>Link Eviden</th>
                <td><div class="form-group">
                    <textarea class="form-control" v-model="item.eviden"></textarea>
                  </div></td>
              </tr>
              
              <tr>
                <th>Input Skor</th>
                <td>
                  <div class="form-group">
                    <input type="number" class="form-control" v-model="item.jumlah_sertifikat"></input>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-primary" @click="editData">Simpan</button>  
          </div>
        </div>
      </div>
    </div>
    <!-- Info modal -->
    <!-- Info modal -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from 'axios'
import { onMounted, ref } from 'vue'
import Swal from 'sweetalert2';

export default {
  data () {
    return {
      jumlah_pelaku: '',
      jumlah_kebijakan: '',
      sertifikat_umenengah: '',
      sertifikat_ukecil: '',
      id: '',
      skor: '',
      url: '',
      eviden: '',
      post: {},
      validation: [],
      responden: '',
      path: '',
      modalShow: false,
      email: '',
      dataSearch: '',
      loading: false,
      kepatuhans: [],
      isBusy: false,
      item: {
        id: '',
        kegiatan: '',
        indikator: '',
        eviden: '',
        jumlah_sertifikat: '',
        indeks_sertifikat: '',
        periode: '',
        responden: ''
       },
      items: [
        {
        id: '',
        kegiatan: '',
        indikator: '',
        eviden: '',
        jumlah_sertifikat: '',
        indeks_sertifikat: '',
        periode: '',
        responden: ''
        }
      ],
      selectedItem: {}
    }
  },
  computed: {
    ...mapGetters(["user"]),
    filteredItems() {
      return this.items.filter(item => {
        return item.indikator.toLowerCase().includes(this.dataSearch.toLowerCase());
      });
    }
  },
  mounted () {
    this.getKepatuhan()
    this.loadData()
    this.getJumlah()
    this.created()
  },
  methods: {
    loadData() {
      axios.get(`/all-tkdn`).then(response => {
        this.item = response.data;
      });
    },
    showPreviewModal(item) {
      this.item = { ...item };
      $("#previewModal").modal("show");
    },
    async getKepatuhan () {
      try {
        this.loading = true
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/all-tkdn`
        })
        this.isBusy = true
        this.items = response.data
        this.totalRows = response.data.length
        this.isBusy = false
      } catch (error) {

      }
    },
    getId(id) {
            // Lakukan apa pun yang Anda perlu lakukan dengan ID ini
        axios.get(`/tkdn-get-url?id=${id}`)
        .then(response => {
          this.url = response.data[0].eviden;
          window.open(this.url, '_blank');
        })
        .catch(error => {
          console.error('Error fetching URL: ', error);
        });
        },

    async getJumlah () {
      // const id = this.$route.params.id;
      try {
        let response = await axios({
          method: 'get',
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
          },
          url: `/tkdn-getskor`
        })
        this.jumlah_pelaku = response.data[0].jumlah_pelaku
        this.jumlah_kebijakan = response.data[0].jumlah_kebijakan
        this.sertifikat_umenengah = response.data[0].sertifikat_umenengah
        this.sertifikat_ukecil = response.data[0].sertifikat_ukecil
      } catch (error) {

      }
    },
    async created() {
          // Sebagai contoh, saya akan asumsikan kamu memiliki informasi peran pengguna yang masuk dalam suatu variabel role
          const role = this.user.role;

          if (role === 'admin' && role === 'pokja') {
            // Jika pengguna bukan admin, tampilkan pesan kesalahan dan alihkan ke halaman admin
            Swal.fire({
              title: "Access Denied",
              text: "You do not have permission to view this page.",
              icon: "error"
            });
            this.$router.push('/admin');
          } else {
            // Jika pengguna adalah admin, lanjutkan untuk mengambil data pengguna
            await this.getDataUser();
          }
        },
    editData() {
      axios.post('/tkdn/edit-progres', {
        id: this.item.id,
        jumlah_sertifikat: this.item.jumlah_sertifikat,
        eviden: this.item.eviden
      })
      .then(response => 
      {
      this.$toasted.success(`Skor berhasil disimpan.`, {
          title: `Success`,
          solid: true,
          variant: 'success',
          duration: 3000
        });
        this.getResponden();
      })
      .catch(error => {
          this.$toasted.error(`Gagal menyimpan Skor!`, {
          title: `Error`,
          solid: true,
          variant: 'danger',
          duration: 3000
        });
      })
    },
    
  }

}
</script>

<style>
/* JUST COMMON TABLE STYLES... */
table { border-collapse: collapse; width: 100%; }
th, td { background: #fff; padding: 8px 16px; }


.table-responsive {
  overflow: auto;
  height: 400px;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
}
</style>